Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

cargo machete + fmt + clippy
  foreign/cpp/Cargo.lock
  foreign/cpp/Cargo.toml
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
Due: none

cargo generate-lockfile
  foreign/cpp/Cargo.lock
Due: none

add test docs, remove duplicate tests, rename stream_details to stream
  foreign/cpp/build.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/stream.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/topic/low_level_e2e.cpp
Due: none

address comments
  foreign/cpp/Cargo.lock
  foreign/cpp/tests/common/test_helpers.hpp
Due: none

address comments
  foreign/cpp/Cargo.lock
  foreign/cpp/src/client.rs
Due: none

partially address comments
  foreign/cpp/Cargo.lock
  foreign/cpp/Cargo.toml
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/common/test_helpers.hpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/topic/low_level_e2e.cpp
Due: none

generate lockfile
  foreign/cpp/Cargo.lock
Due: none

style: apply rustfmt
  core/integration/tests/data_integrity/verify_no_plaintext_credentials_on_disk.rs
Due: rust

remove --locked option, delete cargo.lock
  foreign/cpp/.gitignore
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.lock
Due: none

update lock file
  foreign/cpp/Cargo.lock
Due: none

refactor(java): unify blocking TCP client as wrapper over async client
  bdd/java/src/test/java/org/apache/iggy/bdd/BasicMessagingSteps.java
  examples/java/src/main/java/org/apache/iggy/examples/gettingstarted/consumer/GettingStartedConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/gettingstarted/producer/GettingStartedProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageenvelope/consumer/MessageEnvelopeConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageenvelope/producer/MessageEnvelopeProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageheaders/consumer/MessageHeadersConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/messageheaders/producer/MessageHeadersProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/multitenant/consumer/MultiTenantConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/multitenant/producer/MultiTenantProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/sinkdataproducer/SinkDataProducer.java
  examples/java/src/main/java/org/apache/iggy/examples/streambuilder/StreamBasic.java
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/consumer/TcpTlsConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/producer/TcpTlsProducer.java
  foreign/java/BUILD_AND_TEST.md
  foreign/java/gradle/libs.versions.toml
  foreign/java/java-sdk/build.gradle.kts
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/ConsumerGroupsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/FutureUtil.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/InternalTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/PersonalAccessTokensTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/package-info.java
Due: java

code review improvements
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
Due: rust

fix typo
  core/partitions/src/iggy_partitions.rs
Due: rust

feat(rust): add wire protocol codec and types to binary_protocol crate
  .typos.toml
  Cargo.lock
  core/binary_protocol/Cargo.toml
  core/binary_protocol/src/codec.rs
  core/binary_protocol/src/codes.rs
  core/binary_protocol/src/consensus/command.rs
  core/binary_protocol/src/consensus/error.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/message.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/consensus/operation.rs
  core/binary_protocol/src/error.rs
  core/binary_protocol/src/frame.rs
  core/binary_protocol/src/identifier.rs
  core/binary_protocol/src/lib.rs
  core/binary_protocol/src/requests/mod.rs
  core/binary_protocol/src/requests/streams/create_stream.rs
  core/binary_protocol/src/requests/streams/delete_stream.rs
  core/binary_protocol/src/requests/streams/get_stream.rs
  core/binary_protocol/src/requests/streams/get_streams.rs
  core/binary_protocol/src/requests/streams/mod.rs
  core/binary_protocol/src/requests/streams/purge_stream.rs
  core/binary_protocol/src/requests/streams/update_stream.rs
  core/binary_protocol/src/responses/mod.rs
  core/binary_protocol/src/responses/streams/create_stream.rs
  core/binary_protocol/src/responses/streams/delete_stream.rs
  core/binary_protocol/src/responses/streams/get_stream.rs
  core/binary_protocol/src/responses/streams/get_streams.rs
  core/binary_protocol/src/responses/streams/mod.rs
  core/binary_protocol/src/responses/streams/purge_stream.rs
  core/binary_protocol/src/responses/streams/stream_response.rs
  core/binary_protocol/src/responses/streams/update_stream.rs
Due: rust

refactor(java): harden client lifecycle and streamline test suite
  bdd/java/src/test/java/org/apache/iggy/bdd/BasicMessagingSteps.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/IggyHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/IggyHttpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/MessagesHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilder.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConsumerGroupsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncPollMessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/UsersTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/ConsumerGroupsClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/MessagesClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/SystemClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/UsersClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
Due: java

test(server): simplify iggy_harness usage in plaintext persistence regression test
  core/integration/tests/data_integrity/verify_no_plaintext_credentials_on_disk.rs
Due: rust

test(server): fix PAT token handling in plaintext persistence regression test
  core/integration/tests/data_integrity/verify_no_plaintext_credentials_on_disk.rs
Due: rust

feat(server): add threads count and disk space to sysinfo stats
  core/cli/src/commands/binary_system/stats.rs
  core/common/src/traits/binary_mapper.rs
  core/common/src/types/stats/mod.rs
  core/integration/tests/cli/system/test_stats_command.rs
  core/server/src/binary/mapper.rs
  core/server/src/shard/system/stats.rs
  core/server/src/shard/tasks/periodic/sysinfo_printer.rs
Due: rust

fix(test): use numeric IDs in stats command integration test
  core/integration/tests/cli/system/test_stats_command.rs
Due: rust

fix(server): add warning log when disk space retrieval fails
  core/server/src/shard/system/stats.rs
Due: rust

fix(test): use default partitioning in stats command test
  core/integration/tests/cli/system/test_stats_command.rs
Due: rust

refactor(server): use fs2 instead of sysinfo Disks for disk space metrics
  core/server/src/shard/system/stats.rs
Due: rust

style(server): fix rustfmt formatting for fs2 disk space calls
  core/server/src/shard/system/stats.rs
Due: rust

InfluxDB connectors: perf and reliability fixes
  Cargo.lock
  core/connectors/runtime/example_config/connectors/influx/influxdb_sink.toml
  core/connectors/sdk/src/lib.rs
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/src/lib.rs
  core/integration/tests/connectors/fixtures/influxdb/container.rs
  core/integration/tests/connectors/fixtures/influxdb/source.rs
Due: rust

fix(ci): prevent flaky keyring tests by keeping daemons alive
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/post-merge.yml
Due: none

Switch MessageClient import; remove serde feature
  core/integration/Cargo.toml
  core/integration/tests/connectors/influxdb/influxdb_sink.rs
  core/integration/tests/connectors/influxdb/influxdb_source.rs
Due: rust

feat(bdd): add --coverage flag to run-bdd-tests.sh for all SDKs
  .github/config/components.yml
  bdd/docker-compose.coverage.yml
  bdd/java/build.gradle.kts
  bdd/python/pyproject.toml
  bdd/python/uv.lock
  foreign/csharp/Iggy_SDK.Tests.BDD/Iggy_SDK.Tests.BDD.csproj
  scripts/run-bdd-tests.sh
Due: none

Replace secret token; reorder imports
  core/connectors/runtime/example_config/connectors/influx/influxdb_sink.toml
  core/integration/tests/connectors/influxdb/influxdb_sink.rs
Due: rust

test(server): use ExposeSecret in plaintext persistence regression test
  core/integration/tests/data_integrity/verify_no_plaintext_credentials_on_disk.rs
Due: rust

Use atomics for InfluxDB sink metrics
  core/connectors/sinks/influxdb_sink/src/lib.rs
Due: rust

Refactor retry utilities into SDK
  Cargo.lock
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/src/lib.rs
Due: rust

adapt master code
  core/common/src/types/message/messages_batch_mut.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/lib.rs
Due: rust

fix(integration): reduce flakiness in connector integration tests
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/src/harness/handle/mcp.rs
  core/integration/tests/connectors/mongodb/mod.rs
Due: rust

Fix timestamp compare; refactor test param bindings
  core/connectors/sources/influxdb_source/src/lib.rs
  core/harness_derive/src/codegen.rs
Due: rust

fix(web): submit login form on Enter instead of toggling password visibility
  web/src/lib/components/PasswordInput.svelte
Due: none

fix(sdk): fix broken Windows build for SDK and CLI
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/common/src/types/segment_storage/messages_reader.rs
  core/sdk/Cargo.toml
  foreign/python/Cargo.toml
Due: rust

revert: restore README.md to upstream apache/iggy version
  README.md
Due: none

feat(java): add new stats fields to match server sysinfo updates
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/CacheMetricsKeyMixin.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/ObjectMapperFactory.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesDeserializer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/system/CacheMetrics.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/system/CacheMetricsKey.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/system/Stats.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/SystemClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/ObjectMapperTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
Due: java
