Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

ci(repo): lint foreign Rust crates and fix the license-header scan
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/actions/php/pre-merge/action.yml
  .github/actions/python-maturin/pre-merge/action.yml
  foreign/php/src/message_iterator.rs
  scripts/ci/license-headers.sh
Due: none

fix(js): sync Node protocol version with binary_protocol 0.11
  foreign/node/src/wire/vsr/register.ts
Due: none

fix(sdk): drop the fabricated send confirmation from foreign clients
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/tests/e2e/message.cpp
  foreign/node/src/e2e/tcp.send-message.e2e.ts
  foreign/node/src/wire/message/send-messages.command.test.ts
  foreign/node/src/wire/message/send-messages.command.ts
  foreign/php/iggy-php.stubs.php
  foreign/php/src/client.rs
  foreign/php/src/lib.rs
  foreign/php/src/send_message.rs
  foreign/php/tests/IggySdkTest.php
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/src/send_message.rs
  foreign/python/tests/test_message_operations.py
Due: none

fix(server-ng): stop confirming sends that never committed
  core/binary_protocol/src/responses/messages/send_messages.rs
  core/common/src/error/iggy_error.rs
  core/common/src/http/messages/send_messages.rs
  core/common/src/traits/binary_impls/messages.rs
  core/common/src/traits/binary_impls/mod.rs
  core/common/src/traits/message_client.rs
  core/common/src/traits/mod.rs
  core/common/src/types/message/mod.rs
  core/integration/tests/sdk/producer/background.rs
  core/integration/tests/sdk/send_confirmation.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/clients/producer.rs
  core/sdk/src/clients/producer_dispatcher.rs
  core/sdk/src/clients/producer_error_callback.rs
  core/sdk/src/clients/producer_sharding.rs
  core/sdk/src/http/messages.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/dispatch/authz.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/http/reply.rs
  core/server-ng/src/http/submit.rs
Due: rust

chore(repo): bump iggy-cli and iggy-bench crates
  Cargo.lock
  Cargo.toml
  core/bench/Cargo.toml
  core/cli/Cargo.toml
Due: rust

address review comments
  Cargo.lock
  core/bench/src/main.rs
  core/binary_protocol/src/consensus/header.rs
  core/consensus/src/state_transfer.rs
  core/integration/src/bench_utils.rs
  core/integration/tests/cluster/partition_state_transfer.rs
  core/integration/tests/server/partition_view_durability_vsr.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/segment_recovery.rs
  core/server-ng/src/server_error.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
Due: rust

refactor(python): rewrite readme file to provide a stable development workflow
  foreign/python/README.md
Due: none

refactor(python): rewrite readme file to provide a stable development workflow - small fixes
  foreign/python/README.md
Due: none

address review comments
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/operation.rs
  core/consensus/src/impls.rs
  core/consensus/src/state_transfer.rs
  core/integration/src/bench_utils.rs
  core/integration/tests/server/partition_view_durability_vsr.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/src/bootstrap.rs
  core/shard/src/lib.rs
Due: rust

fix(python): reject zero durations that spin the client
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/consumer.rs
  foreign/python/src/duration.rs
  foreign/python/tests/test_client_config.py
Due: none

docs(python): name the failure modes the configuration can reach
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
Due: none

fix(python): print the whole configuration and fail the examples cleanly
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  foreign/python/src/config.rs
  foreign/python/src/duration.rs
  foreign/python/tests/test_client_config.py
Due: none

test(python): say what the duration and equivalence tests prove
  foreign/python/tests/test_client_config.py
Due: none

docs(python): point the readme CA path at the file it means
  foreign/python/README.md
Due: none

fix(python): report an out-of-range retry count as a value error
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
  foreign/python/tests/test_client_config.py
Due: none

chore(deps): regenerate uv locks after testcontainers bump
  examples/python/uv.lock
  foreign/python/uv.lock
Due: none

addres review comments
  core/binary_protocol/src/consensus/header.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/partition.rs
  core/consensus/src/impls.rs
  core/consensus/src/state_transfer.rs
  core/consensus/src/vsr_state.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/journal/src/local_gate.rs
  core/metadata/src/impls/recovery.rs
  core/metadata/src/lib.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/segment_recovery.rs
  core/server-ng/src/server_error.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
Due: rust

address review comments
  core/binary_protocol/src/consensus/header.rs
  core/configs/src/server_ng_config/partition.rs
  core/configs/src/server_ng_config/validators.rs
  core/consensus/src/lib.rs
  core/consensus/src/vsr_state.rs
  core/integration/src/bench_utils.rs
  core/integration/src/harness/orchestrator/harness.rs
  core/integration/tests/cluster/partition_state_transfer.rs
  core/integration/tests/server/cluster_view_durability_vsr.rs
  core/integration/tests/server/partition_view_durability_vsr.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/journal/src/local_gate.rs
  core/journal/src/superblock.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/segment_recovery.rs
  core/server-ng/src/server_error.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
Due: rust

fix some criticial bugs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/src/partition_helpers.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: rust

review changes
  core/binary_protocol/src/consensus/header.rs
  core/configs/src/server_ng_config/displays.rs
  core/configs/src/server_ng_config/partition.rs
  core/consensus/src/vsr_state.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/partition_reconciler.rs
  core/server-ng/src/server_error.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: rust

fix clippy
  core/shard/src/lib.rs
Due: rust

test(integration): default vsr harness to single node
  core/integration/src/harness/orchestrator/builder.rs
  core/integration/tests/mod.rs
  core/integration/tests/server/scenarios/mod.rs
  core/integration/tests/server/scenarios/stress_produce_consume_scenario.rs
Due: rust

fix(connectors): stop the slim image build from compiling plugins
  core/connectors/runtime/Dockerfile
Due: rust

fix(connectors): install cross targets on the pinned rust toolchain
  core/connectors/runtime/Dockerfile
Due: rust

fix(ci): derive plugin artifact names from the cdylib target
  .github/workflows/_build_rust_artifacts.yml
  core/connectors/runtime/Dockerfile
  scripts/ci/connector-plugins.sh
Due: rust

fix(ci): scope the docker layer cache per image flavor
  .github/actions/utils/docker-buildx/action.yml
  .github/workflows/publish.yml
Due: none

refactor(csharp): remove unused wire protocol configurations and clean up related tests
  .github/actions/csharp-dotnet/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
  .github/workflows/coverage-baseline.yml
  foreign/csharp/Iggy_SDK.Tests.Integration/Attributes/ServerAttributes.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/ClusterRedirectionTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/FetchMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyClusterFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyTlsServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/VsrCluster.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/FlushMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/IggyConsumerTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/IggyPublisherTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/IggyTlsConnectionTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SystemTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Vsr/VsrConsumerGroupTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Vsr/VsrHandshakeTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Vsr/VsrMessagingTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Vsr/VsrMetadataTests.cs
  foreign/csharp/Iggy_SDK/Configuration/IggyClientConfigurator.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerBuilder.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerBuilderOfT.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerConfig.cs
  foreign/csharp/Iggy_SDK/Enums/WireProtocol.cs
  foreign/csharp/Iggy_SDK/Factory/IggyClientFactory.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyPublisher.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TransientHttpRetryHandler.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherBuilder.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherBuilderOfT.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherConfig.cs
  foreign/csharp/Iggy_SDK/Utils/BufferSizes.cs
  foreign/csharp/Iggy_SDK_Tests/ClientTests/IggyClientFactoryTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/IggyConsumerBuilderTests.cs
  foreign/csharp/Iggy_SDK_Tests/PublisherTests/IggyPublisherBuilderTests.cs
  foreign/csharp/README.md
Due: none

Create Cargo.toml
  core/connectors/sources/mssql_source/Cargo.toml
Due: rust

Delete core/connectors/sources/mssql_source/src/Cargo.toml
  core/connectors/sources/mssql_source/src/Cargo.toml
Due: rust

feat(csharp): update SendMessagesAsync to return SendMessagesResponse
  foreign/csharp/Iggy_SDK.Tests.Integration/SendMessagesTests.cs
  foreign/csharp/Iggy_SDK/Contracts/SendMessagesResponse.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyPublisher.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisher.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherOfT.cs
  foreign/csharp/Iggy_SDK/Vsr/LoginRegister.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/PublisherTests/IggyTypedPublisherTests.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/SendUnitTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/LoginRegisterTests.cs
Due: none

fix(server-ng): close server-ng SDK-visible behavior gaps
  core/integration/tests/server/mod.rs
  core/integration/tests/server/poll_semantics_vsr.rs
  core/integration/tests/server/purge_vsr.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/integration/tests/server/scenarios/system_scenario.rs
  core/integration/tests/server/topic_admission_vsr.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/partition_reconciler.rs
  core/server-ng/src/responses.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: rust

test(integration): fix vsr flakes from racing recovery routes
  core/integration/tests/cluster/metadata_state_transfer.rs
  core/integration/tests/cluster/partition_state_transfer.rs
  core/integration/tests/connectors/http/http_sink.rs
  core/integration/tests/data_integrity/mod.rs
  core/integration/tests/data_integrity/verify_consumer_group_partition_assignment.rs
  core/integration/tests/server/scenarios/message_cleanup_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/integration/tests/server/scenarios/stress_produce_consume_scenario.rs
  core/partitions/src/iggy_partition.rs
Due: rust

refactor(python): readme improvements - post-review fixes
  foreign/python/README.md
Due: none

fix(server-ng): close remaining purge data-loss and typed-error gaps
  core/integration/tests/server/poll_semantics_vsr.rs
  core/integration/tests/server/topic_admission_vsr.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/stream.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/state_transfer.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/partition_reconciler.rs
  core/server-ng/src/responses.rs
  core/server-ng/src/segment_cleaner.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
Due: rust

fix
  core/server-ng/src/dispatch.rs
  foreign/go/binary_serialization/binary_response_deserializer.go
  foreign/go/binary_serialization/vsr_response_deserializer_test.go
  foreign/go/client/tcp/tcp_connect_test.go
  foreign/go/client/tcp/tcp_consumer_group_management.go
  foreign/go/client/tcp/tcp_consumer_group_management_test.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_test.go
  foreign/go/client/tcp/tcp_group_polling.go
  foreign/go/client/tcp/tcp_group_polling_test.go
  foreign/go/client/tcp/tcp_messaging.go
  foreign/go/client/tcp/tcp_partition_management.go
  foreign/go/client/tcp/tcp_stream_management.go
  foreign/go/client/tcp/tcp_stream_management_test.go
  foreign/go/client/tcp/tcp_topic_cache.go
  foreign/go/client/tcp/tcp_topic_cache_test.go
  foreign/go/client/tcp/tcp_topic_management.go
  foreign/go/client/tcp/tcp_topic_management_test.go
  foreign/go/contracts/client.go
  foreign/go/errors/errors_test.go
  foreign/go/internal/util/leader_aware_test.go
  foreign/go/internal/vsr/reply.go
Due: rust

chore(server-ng): add follow-up TODOs and log purge fsync failures
  core/partitions/src/iggy_partition.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/responses.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: rust

chore(repo): normalize bash shebangs to /usr/bin/env bash
  core/bench/dashboard/frontend/scripts/select_index.sh
  foreign/csharp/scripts/pack.sh
  foreign/java/external-processors/iggy-connector-pinot/integration-test.sh
  foreign/php/scripts/test.sh
  foreign/python/scripts/test.sh
  scripts/bump-version.sh
  scripts/copy-latest-from-master.sh
  scripts/dashboard/build_release.sh
  scripts/dashboard/run_dev.sh
  scripts/extract-version.sh
  scripts/performance/run-standard-performance-suite.sh
  scripts/performance/utils.sh
  scripts/profile.sh
  scripts/run-benches.sh
  scripts/run-examples-from-readme.sh
  scripts/utils.sh
Due: rust, java

feat(ci): require bash >= 4.2 in the pre-commit hook scripts
  CONTRIBUTING.md
  scripts/ci/binary-artifacts.sh
  scripts/ci/lib/init.sh
  scripts/ci/license-headers.sh
  scripts/ci/markdownlint.sh
  scripts/ci/python-sdk-version-sync.sh
  scripts/ci/shellcheck.sh
  scripts/ci/skills.sh
  scripts/ci/sync-python-interpreter-version.sh
  scripts/ci/sync-rustc-version.sh
  scripts/ci/taplo.sh
  scripts/ci/trailing-newline.sh
  scripts/ci/trailing-whitespace.sh
  scripts/ci/uv-lock-check.sh
  scripts/extract-version.sh
Due: none

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
