Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

fix(server-ng): fail reads loud when restart recovery outruns its deadline
  core/consensus/src/impls.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/http/reads.rs
Due: rust

chore(repo): retry flaky tests twice in just nextest recipes
  justfile
Due: none

feat(connectors): use TCP client for Flink sink (#3657)
  foreign/java/.gitignore
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/README.md
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/config/TcpEndpoint.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/sink/IggySink.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/sink/IggySinkWriter.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/source/IggySource.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/test/java/org/apache/iggy/connector/config/TcpEndpointTest.java
Due: java

feat(server-ng): add partition.prepare_queue_depth for pipeline sizing
  core/configs/src/lib.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/mod.rs
  core/configs/src/server_ng_config/partition.rs
  core/configs/src/server_ng_config/server_ng.rs
  core/configs/src/server_ng_config/validators.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
Due: rust

feat(server-ng): forward follower HTTP requests to VSR primary
  Cargo.lock
  Cargo.toml
  bdd/docker-compose.vsr.yml
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/validators.rs
  core/integration/tests/server/http_vsr.rs
  core/server-ng/Cargo.toml
  core/server-ng/config.toml
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/extractor.rs
  core/server-ng/src/http/forward.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/http/jwt.rs
  core/server-ng/src/http/reply.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/submit.rs
  core/server-ng/src/server_error.rs
Due: rust

feat(java): add cluster metadata and leader redirection to TCP client
  bdd/docker-compose.cluster.yml
  bdd/docker-compose.yml
  bdd/java/src/test/java/org/apache/iggy/bdd/LeaderRedirectionSteps.java
  foreign/java/gradle.properties
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/ConnectionInfo.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/SystemClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerGroupsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/LeaderAwareness.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/LoginRedirectionHook.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PartitionsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PersonalAccessTokensTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/SystemHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/cluster/ClusterMetadata.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/cluster/ClusterNode.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/cluster/ClusterNodeRole.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/cluster/ClusterNodeStatus.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/cluster/TransportEndpoints.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/cluster/package-info.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesDeserializer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/IggyResponseHandlerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/LeaderAwarenessTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/SystemClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/SystemTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
  scripts/run-bdd-tests.sh
Due: java

fix(server-ng): forward iggy/vsr so the bare vsr feature builds
  core/server-ng/Cargo.toml
Due: rust

feat(server-ng): forward follower HTTP requests to VSR primary (#3744)
  Cargo.lock
  Cargo.toml
  bdd/docker-compose.vsr.yml
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/validators.rs
  core/integration/tests/server/http_vsr.rs
  core/server-ng/Cargo.toml
  core/server-ng/config.toml
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/extractor.rs
  core/server-ng/src/http/forward.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/http/jwt.rs
  core/server-ng/src/http/reply.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/submit.rs
  core/server-ng/src/server_error.rs
Due: rust

feat(server-ng): make VSR view-change timing configurable
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/consensus/src/impls.rs
  core/consensus/src/vsr_timeout.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
Due: rust

fix(server-ng): scale recovery barrier deadline with status timeout
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/http/reads.rs
Due: rust

perf(server-ng): reach single-node latency parity with legacy server
  core/integration/tests/sdk/consumer_group_membership.rs
  core/journal/src/prepare_journal.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/partitions/src/iggy_index_reader.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/log.rs
  core/partitions/src/poll_plan.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/partition_reconciler.rs
  core/server-ng/src/responses.rs
  core/server_common/src/send_messages2.rs
  core/simulator/src/client.rs
Due: rust

feat(server-ng): make VSR clients table capacity configurable
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/displays.rs
  core/configs/src/server_ng_config/metadata.rs
  core/consensus/src/client_table.rs
  core/metadata/src/impls/metadata.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/session.rs
  core/server-ng/src/http/state.rs
Due: rust

feat(server-ng): make VSR repair pacing and eviction ring configurable
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/partition.rs
  core/configs/src/server_ng_config/validators.rs
  core/integration/tests/server/scenarios/reconnect_after_restart_scenario.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
  core/shard/src/lib.rs
Due: rust

fix(server-ng): source TLS grace from config, align listener backlog
  core/message_bus/src/cache/connection.rs
  core/message_bus/src/client_listener/mod.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/tls.rs
Due: rust

fix(connectors): bound ES harness probes against hangs
  core/connectors/sinks/elasticsearch_sink/README.md
  core/connectors/sinks/elasticsearch_sink/config.toml
  core/connectors/sinks/elasticsearch_sink/src/lib.rs
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
Due: rust

Fixing formating error
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
Due: rust

refactor(server-ng): hash message checksum cover in single oneshot pass
  core/server_common/src/send_messages2.rs
Due: rust

smh
  core/partitions/src/journal.rs
  core/server_common/src/send_messages2.rs
Due: rust

To reTrigger CI
  core/connectors/sinks/elasticsearch_sink/README.md
  core/connectors/sinks/elasticsearch_sink/config.toml
Due: rust

feat(common): add serialized error payloads for data-bearing error variants
  core/common/src/error/iggy_error.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/vsr.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/src/sender/mod.rs
  foreign/python/tests/test_message_operations.py
Due: rust

refactor(python): rename global_ to global_permissions
  foreign/python/apache_iggy.pyi
  foreign/python/src/permissions.rs
  foreign/python/tests/test_permissions.py
  foreign/python/tests/test_user.py
Due: none

fix(python): normalize empty permission maps to None
  foreign/python/apache_iggy.pyi
  foreign/python/src/permissions.rs
  foreign/python/tests/test_permissions.py
Due: none

refactor(python): make permission arguments explicit
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/permissions.rs
  foreign/python/tests/test_permissions.py
  foreign/python/tests/test_user.py
Due: none

test(python): cover change_password authorization
  foreign/python/tests/test_permissions.py
Due: none

docs(python): describe permission inheritance across levels
  foreign/python/apache_iggy.pyi
  foreign/python/src/permissions.rs
Due: none

temp
  core/consensus/src/client_table.rs
  core/consensus/src/metadata_helpers.rs
  core/metadata/src/impls/metadata.rs
Due: rust

feat(consensus): rework client table for session resume across restarts
  core/binary_protocol/src/consensus/operation.rs
  core/consensus/src/client_table.rs
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/cluster/client_table_restart.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/metadata/src/stm/user.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/users.rs
  core/shard/src/lib.rs
Due: rust

drop distinct cached reply, run dedup tests under 3 node cluster
  core/consensus/src/client_table.rs
  core/integration/tests/cluster/client_table_restart.rs
  core/sdk/src/vsr.rs
  core/simulator/src/workload/mod.rs
Due: rust

feat(server-ng): make VSR timing and capacity tunables configurable
  core/configs/src/lib.rs
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/displays.rs
  core/configs/src/server_ng_config/metadata.rs
  core/configs/src/server_ng_config/mod.rs
  core/configs/src/server_ng_config/partition.rs
  core/configs/src/server_ng_config/server_ng.rs
  core/configs/src/server_ng_config/validators.rs
  core/consensus/src/client_table.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/vsr_timeout.rs
  core/integration/tests/server/scenarios/reconnect_after_restart_scenario.rs
  core/message_bus/src/cache/connection.rs
  core/message_bus/src/client_listener/mod.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/server-ng/Cargo.toml
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/http/reads.rs
  core/server-ng/src/http/session.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/tls.rs
  core/server-ng/src/partition_helpers.rs
  core/shard/src/lib.rs
  justfile
Due: rust

temp
  Cargo.lock
  core/binary_protocol/src/consensus/command.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/consensus/Cargo.toml
  core/consensus/src/client_table.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/metadata_helpers.rs
  core/consensus/src/observability.rs
  core/consensus/src/plane_helpers.rs
  core/integration/src/harness/config/resolve.rs
  core/integration/src/harness/handle/server.rs
  core/integration/tests/cluster/client_table_restart.rs
  core/integration/tests/cluster/metadata_state_transfer.rs
  core/integration/tests/cluster/mod.rs
  core/journal/src/lib.rs
  core/journal/src/prepare_journal.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/lib.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server_common/src/consensus_message.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: rust

fix(connectors): validate meilisearch cursor filters
  core/connectors/sources/meilisearch_source/README.md
  core/connectors/sources/meilisearch_source/src/lib.rs
Due: rust

feat(server-ng): add cluster.nodes.advertised_address for clients
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/validators.rs
  core/server-ng/config.toml
  core/server-ng/src/cluster_meta.rs
  core/server-ng/src/http/error.rs
Due: rust

allow hostname
  core/configs/src/server_ng_config/cluster.rs
  core/server-ng/config.toml
  core/server-ng/src/cluster_meta.rs
  core/server-ng/src/http/error.rs
Due: rust

address review nits
  core/binary_protocol/src/consensus/header.rs
  core/common/src/error/iggy_error.rs
  core/consensus/src/client_table.rs
  core/consensus/src/lib.rs
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/cluster/client_table_restart.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/metadata/src/lib.rs
  core/metadata/src/stm/stream.rs
  core/server-ng/src/auth.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/http/session.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/submit.rs
  core/server-ng/src/login_register.rs
  core/server-ng/src/session_manager.rs
  core/server_common/src/consensus_message.rs
  core/shard/src/coordinator.rs
  core/shard/src/lib.rs
Due: rust

fix(server-ng): legacy-parity consumer group errors, roster HTTP bind
  core/common/src/types/identifier/mod.rs
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/validators.rs
  core/integration/tests/sdk/consumer_group_membership.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/sdk/src/clients/consumer.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_reconciler.rs
  core/server-ng/src/server_error.rs
  core/simulator/src/workload/ops/delete_consumer_group.rs
Due: rust

fix typo
  core/configs/src/server_ng_config/cluster.rs
  core/server-ng/src/cluster_meta.rs
Due: rust

fix cpp
  bdd/cpp/features/step_definitions/raw_command_steps.cpp
  foreign/cpp/.bazelrc
  foreign/cpp/BUILD.bazel
  foreign/cpp/MODULE.bazel
  foreign/cpp/README.md
  foreign/cpp/src/client.rs
  foreign/cpp/src/type_conversion.rs
Due: none

feat(sdk): support VSR raw requests in Rust and Python
  .github/actions/python-maturin/pre-merge/action.yml
  .github/config/components.yml
  Cargo.lock
  Cargo.toml
  bdd/python/tests/test_raw_command.py
  bdd/python/uv.lock
  bdd/rust/tests/steps/raw_command.rs
  core/binary_protocol/Cargo.toml
  core/common/Cargo.toml
  core/common/src/lib.rs
  core/common/src/traits/binary_transport.rs
  core/common/src/types/binary_request_kind.rs
  core/common/src/types/mod.rs
  core/integration/tests/sdk/raw.rs
  core/sdk/Cargo.toml
  core/sdk/src/binary/mod.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/prelude.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/vsr.rs
  core/sdk/src/websocket/websocket_client.rs
  examples/python/uv.lock
  foreign/cpp/src/client.rs
  foreign/php/src/client.rs
  foreign/python/Cargo.toml
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/pyproject.toml
  foreign/python/src/binary_request_kind.rs
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/tests/test_raw_command.py
  foreign/python/tests/test_raw_command_vsr.py
  foreign/python/uv.lock
Due: rust

fix(server-ng): make partition reconvergence safe for in-flight sends
  core/consensus/src/plane_helpers.rs
  core/integration/tests/connectors/http/http_sink.rs
  core/integration/tests/server/http_vsr.rs
  core/integration/tests/server/message_retrieval.rs
  core/integration/tests/server/scenarios/message_cleanup_scenario.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/metadata/src/stm/stream.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/dispatch/authz.rs
  core/server-ng/src/http.rs
  core/server-ng/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
Due: rust
