Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

feat(go): add GetMe to the Go SDK (#4371)
  foreign/go/client/tcp/tcp_clients_management.go
  foreign/go/contracts/client.go
  foreign/go/internal/command/system.go
  foreign/go/internal/command/system_test.go
  foreign/go/tests/e2e_test.go
Due: none

feat(java): add delete_segments to partitions client
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/PartitionsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PartitionsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/PartitionsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/PartitionsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/PartitionsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/PartitionsClientBaseTest.java
Due: java

perf(java): build header length error text only on failure
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/BytesSerializerTest.java
Due: java

rfc template
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
  rfcs/README.md
  rfcs/rfc-template.md
Due: none

fix(connectors): address latest JDBC review findings
  Cargo.lock
  core/connectors/runtime/example_config/connectors/jdbc_h2.toml
  core/connectors/runtime/example_config/connectors/test_jdbc_h2.toml
  core/connectors/sources/jdbc_source/Cargo.toml
  core/connectors/sources/jdbc_source/README.md
  core/connectors/sources/jdbc_source/src/lib.rs
  core/integration/tests/connectors/jdbc/jdbc_source.rs
Due: rust

Fixing the nits and simplification
  gateways/kafka/Dockerfile.dockerignore
  gateways/kafka/tests/common/gateway_process.rs
  gateways/kafka/tests/common/iggy_server.rs
Due: none

Fixing the trailing spaces
  gateways/kafka/tests/common/gateway_process.rs
  gateways/kafka/tests/common/iggy_server.rs
Due: none

update template
  CONTRIBUTING.md
  rfcs/README.md
  rfcs/rfc-template.md
Due: none

feat(connectors): add S3 source connector
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/s3_source.toml
  core/connectors/sources/README.md
  core/connectors/sources/s3_source/Cargo.toml
  core/connectors/sources/s3_source/README.md
  core/connectors/sources/s3_source/config.toml
  core/connectors/sources/s3_source/src/batch.rs
  core/connectors/sources/s3_source/src/client.rs
  core/connectors/sources/s3_source/src/config.rs
  core/connectors/sources/s3_source/src/framing.rs
  core/connectors/sources/s3_source/src/lib.rs
  core/connectors/sources/s3_source/src/message.rs
  core/connectors/sources/s3_source/src/protocol_tests.rs
  core/connectors/sources/s3_source/src/reader.rs
  core/connectors/sources/s3_source/src/state.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/s3/mod.rs
  core/integration/tests/connectors/fixtures/s3/source.rs
  core/integration/tests/connectors/s3/mod.rs
  core/integration/tests/connectors/s3/s3_source.rs
  core/integration/tests/connectors/s3/source.toml
  scripts/bump-version.sh
Due: rust

chore(repo): make repository skills available to Codex
  .agents/skills/connector-review
  .agents/skills/connector-runtime
  .agents/skills/connector-sdk
  .agents/skills/connector-sink
  .agents/skills/connector-source
  .agents/skills/connector-testing
  .agents/skills/connector-transform
  .agents/skills/connectors-overview
  .agents/skills/team-review
  .agents/skills/team-review-slim
  .claude/skills/connector-review/SKILL.md
  .claude/skills/connector-review/agents/openai.yaml
  .claude/skills/team-review-slim/SKILL.md
  .claude/skills/team-review-slim/agents/openai.yaml
  .claude/skills/team-review/SKILL.md
  .claude/skills/team-review/agents/openai.yaml
  .claude/skills/team-review/references/execution.md
  .github/workflows/_common.yml
  .pre-commit-config.yaml
  AGENTS.md
  scripts/ci/skills.sh
Due: none

fix(ci): close skill description gaps and fix repair hints
  scripts/ci/skills.sh
Due: none

docs: require agent review, comment replies and fewer rebases
  CONTRIBUTING.md
Due: none

chore(repo): make repository skills available to Codex (#4360)
  .agents/skills/connector-review
  .agents/skills/connector-runtime
  .agents/skills/connector-sdk
  .agents/skills/connector-sink
  .agents/skills/connector-source
  .agents/skills/connector-testing
  .agents/skills/connector-transform
  .agents/skills/connectors-overview
  .agents/skills/team-review
  .agents/skills/team-review-slim
  .claude/skills/connector-review/SKILL.md
  .claude/skills/connector-review/agents/openai.yaml
  .claude/skills/team-review-slim/SKILL.md
  .claude/skills/team-review-slim/agents/openai.yaml
  .claude/skills/team-review/SKILL.md
  .claude/skills/team-review/agents/openai.yaml
  .claude/skills/team-review/references/execution.md
  .github/workflows/_common.yml
  .pre-commit-config.yaml
  AGENTS.md
  scripts/ci/skills.sh
Due: none

address review
  CONTRIBUTING.md
  rfcs/README.md
  rfcs/rfc-0-tiered-storage.md
  rfcs/rfc-template.md
Due: none

docs(repo): add the RFC process and template
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
  rfcs/README.md
  rfcs/rfc-template.md
Due: none

fix(sdk): keep a shut down client shut down (#4374)
  core/common/src/traits/client.rs
  core/integration/tests/sdk/client_lifecycle.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_connectivity.py
Due: rust

fix(java): address review comments on purge stream and topic
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/StreamClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/TopicsClientBaseTest.java
Due: java

fix(sdk): keep an explicit disconnect until the next connect
  core/common/src/traits/client.rs
  core/integration/tests/sdk/client_lifecycle.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  foreign/cpp/include/iggy.hpp
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_connectivity.py
Due: rust

fixes
  foreign/csharp/Iggy_SDK_Tests/VsrTests/VsrProtocolDriftTests.cs
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
Due: none

test(connectors): drop vacuous full_name assertion in avro rename test
  core/connectors/sdk/src/encoders/avro.rs
Due: rust

feat(node): wire up snapshot command in system client
  foreign/node/src/e2e/tcp.raw.e2e.ts
  foreign/node/src/e2e/tcp.system.e2e.ts
  foreign/node/src/wire/command-set.ts
  foreign/node/src/wire/command.code.ts
  foreign/node/src/wire/system/index.ts
  foreign/node/src/wire/system/snapshot.command.test.ts
  foreign/node/src/wire/system/snapshot.command.ts
Due: none

docs: require agent review, comment replies and fewer rebases (#4384)
  CONTRIBUTING.md
Due: none

refactor(node): address review findings for snapshot command
  foreign/node/src/e2e/tcp.raw.e2e.ts
  foreign/node/src/e2e/tcp.system.e2e.ts
  foreign/node/src/wire/system/snapshot.command.test.ts
  foreign/node/src/wire/system/snapshot.command.ts
Due: none

fix(connectors): harden JDBC source review follow-ups
  Cargo.lock
  Cargo.toml
  core/connectors/sources/jdbc_source/Cargo.toml
  core/connectors/sources/jdbc_source/README.md
  core/connectors/sources/jdbc_source/config.toml
  core/connectors/sources/jdbc_source/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/jdbc.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/postgres/container.rs
  core/integration/tests/connectors/fixtures/postgres/mod.rs
  core/integration/tests/connectors/jdbc/jdbc_source.rs
  core/integration/tests/connectors/mod.rs
Due: rust

fix(configs): fix McpRuntimeError Io variant and actually use test helper
  core/ai/mcp/src/error.rs
  core/ai/mcp/src/main.rs
  core/integration/tests/config_env_listing/mod.rs
Due: rust

Fixed the review comments
  gateways/kafka/Dockerfile
  gateways/kafka/docker-compose.yml
  gateways/kafka/tests/common/gateway_process.rs
  gateways/kafka/tests/common/iggy_server.rs
Due: none

Update Dockerfile
  gateways/kafka/Dockerfile
Due: none

cpp coverage
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/coverage-baseline.yml
  .github/workflows/pre-merge.yml
  codecov.yml
  foreign/cpp/.bazelrc
  foreign/cpp/BUILD.bazel
  scripts/ci/coverage-baseline-affected.sh
  scripts/ci/cpp-coverage.sh
Due: none

cleanup
  foreign/cpp/.bazelrc
  foreign/cpp/BUILD.bazel
  scripts/ci/coverage-baseline-affected.sh
  scripts/ci/cpp-coverage.sh
Due: none

clean up
  foreign/cpp/BUILD.bazel
  scripts/ci/cpp-coverage.sh
Due: none

fixes
  .github/actions/cpp-bazel/pre-merge/action.yml
  foreign/cpp/BUILD.bazel
  foreign/cpp/MODULE.bazel
  scripts/ci/cpp-coverage.sh
Due: none

feat(server)!: store offsets of groups managed outside Iggy
  core/binary_protocol/src/lib.rs
  core/binary_protocol/src/primitives/consumer.rs
  core/cli/src/commands/binary_consumer_offsets/get_consumer_offset.rs
  core/common/src/types/consumer/consumer_kind.rs
  core/integration/src/harness/disk.rs
  core/integration/tests/cli/consumer_offset/test_consumer_offset_get_command.rs
  core/integration/tests/cli/consumer_offset/test_consumer_offset_set_command.rs
  core/integration/tests/cluster/partition_state_transfer.rs
  core/integration/tests/server/cg.rs
  core/integration/tests/server/scenarios/external_group_offsets_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/lib.rs
  core/partitions/src/offset_recovery.rs
  core/partitions/src/partition_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/partitions/src/types.rs
  core/partitions/tests/consumer_offset_history.rs
  core/sdk/src/http/consumer_offsets.rs
  core/sdk/src/http/messages.rs
  core/sdk/src/stream_builder/build/build_iggy_consumer.rs
  core/server/src/consumer_group.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/handlers.rs
  core/server/src/namespace.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/poll.rs
  core/simulator/src/consumer_offset_history_tests.rs
  core/simulator/src/lib.rs
  core/simulator/src/storage/purge.rs
  core/simulator/src/workload/ops/mod.rs
  core/simulator/src/workload/ops/store_consumer_offset.rs
  examples/rust/src/new-sdk/consumer/main.rs
Due: rust

feat(gateways): Kafka gateway Phase 1 quick-start and Docker Compose E2E (#4372)
  .config/nextest.toml
  .pr4372-comments.json
  gateways/kafka/Dockerfile
  gateways/kafka/Dockerfile.dockerignore
  gateways/kafka/README.md
  gateways/kafka/docker-compose.yml
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/tests/common/gateway_process.rs
  gateways/kafka/tests/common/iggy_server.rs
  gateways/kafka/tests/phase1_e2e_tests.rs
  licenserc.toml
Due: none

fix ci
  .github/workflows/_test.yml
Due: none

address review
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  foreign/cpp/.bazelrc
  foreign/cpp/BUILD.bazel
  foreign/cpp/MODULE.bazel.lock
  scripts/ci/cpp-coverage.sh
Due: none
