Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

feat(gateways): fix the wire fixures.sh
  gateways/kafka/scripts/ci-wire-fixtures.sh
Due: none

Address config env listing review feedback
  core/ai/mcp/README.md
  core/configs/src/configs_impl/env_listing.rs
  core/configs/src/configs_impl/env_mapping.rs
  core/configs/src/configs_impl/file_provider.rs
  core/configs/src/configs_impl/mod.rs
  core/configs/src/configs_impl/typed_env_provider.rs
  core/configs/src/lib.rs
  core/configs/src/server_config/cluster.rs
  core/configs/src/server_config/server.rs
  core/configs_derive/src/config_env.rs
  core/connectors/runtime/README.md
  core/connectors/runtime/src/configs/connectors/local_provider.rs
  core/connectors/runtime/src/error.rs
  core/connectors/runtime/src/main.rs
  core/integration/src/harness/config/resolve.rs
  core/integration/tests/config_env_listing/mod.rs
Due: rust

feat(gateways): fix the wire fixures.sh)
  gateways/kafka/scripts/ci-wire-fixtures.sh
Due: none

Fixing team review skill
  gateways/kafka/README.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/src/bridge/iggy_bridge/topics.rs
  gateways/kafka/src/protocol/handlers/create_topics.rs
  gateways/kafka/src/protocol/handlers/delete_topics.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

Fixing team review skill
  gateways/kafka/docs/CONFIGS.md
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/topics.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/protocol/handlers/alter_configs.rs
  gateways/kafka/src/protocol/handlers/create_topics.rs
  gateways/kafka/src/protocol/handlers/describe_configs.rs
  gateways/kafka/src/protocol/handlers/topic_config.rs
  gateways/kafka/tests/configs_java_client_tests.rs
  gateways/kafka/tests/configs_real_bridge_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

Intial version of Describe and List Groups
  gateways/kafka/README.md
  gateways/kafka/docs/CONSUMER_GROUPS.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/src/group/mod.rs
  gateways/kafka/src/group/state.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/bounds_guard.rs
  gateways/kafka/src/protocol/handlers/describe_groups.rs
  gateways/kafka/src/protocol/handlers/list_groups.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/tests/common/scope.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/consumer_group_tests.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

Intial version of Describe and List Groups
  gateways/kafka/docs/kafka_api_keys_reference.md
  gateways/kafka/src/group/mod.rs
  gateways/kafka/src/group/state.rs
  gateways/kafka/src/protocol/handlers/describe_groups.rs
  gateways/kafka/src/protocol/handlers/list_groups.rs
  gateways/kafka/tests/consumer_group_tests.rs
Due: none

Fixing review comments
  gateways/kafka/src/group/state.rs
  gateways/kafka/src/protocol/dedup.rs
  gateways/kafka/src/protocol/wire_len.rs
Due: none

Fixing wire fixures
  gateways/kafka/docs/CONSUMER_GROUPS.md
  gateways/kafka/scripts/ci-wire-fixtures.sh
  gateways/kafka/src/group/mod.rs
  gateways/kafka/src/group/state.rs
  gateways/kafka/src/protocol/handlers/describe_groups.rs
  gateways/kafka/src/protocol/handlers/list_groups.rs
  gateways/kafka/src/protocol/handlers/metadata.rs
  gateways/kafka/src/protocol/mod.rs
  gateways/kafka/tests/consumer_group_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

feat(ci): close PRs that skip the issue-first step
  .github/workflows/pr-triage-apply.yml
  AGENTS.md
Due: none

fix: address review comment
  core/cli/src/args/consumer_offset.rs
  core/integration/tests/cli/consumer_offset/test_consumer_offset_get_command.rs
  core/integration/tests/cli/consumer_offset/test_consumer_offset_set_command.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
  core/simulator/src/storage/purge.rs
Due: rust

address reviews
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  foreign/cpp/.bazelrc
  scripts/ci/cpp-coverage.sh
  scripts/ci/sync-rustc-version.sh
Due: none

fix(sdk): refuse a reconnect while a disconnect holds
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
Due: rust

ci(repo): upgrade Cargo-Rail planning to v0.30.1 (#3999)
  .config/rail.toml
  .github/actions/rust/pre-merge/action.yml
  .github/config/edge-image-variants.json
  .github/config/publish.yml
  .github/workflows/_common.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
  scripts/ci/coverage-baseline-affected.sh
  scripts/ci/edge-affected-images.sh
  scripts/ci/edge-image-catalog.sh
Due: none

feat(cpp): add code coverage (#4118)
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/coverage-baseline.yml
  .github/workflows/pre-merge.yml
  codecov.yml
  foreign/cpp/BUILD.bazel
  foreign/cpp/MODULE.bazel
  foreign/cpp/MODULE.bazel.lock
  scripts/ci/coverage-baseline-affected.sh
  scripts/ci/cpp-coverage.sh
  scripts/ci/sync-rustc-version.sh
Due: none

fix: address review comments round 2
  core/common/src/traits/consumer_offset_client.rs
  core/common/src/traits/message_client.rs
  core/common/src/types/consumer/consumer_kind.rs
  core/integration/tests/cli/consumer_offset/mod.rs
  core/integration/tests/cli/consumer_offset/test_consumer_offset_external_group_command.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/partition_storage.rs
  core/partitions/src/state_transfer.rs
  core/sdk/src/http/consumer_offsets.rs
  core/sdk/src/stream_builder/build/build_iggy_consumer.rs
  core/sdk/src/stream_builder/config/config_iggy_consumer.rs
  core/sdk/src/stream_builder/iggy_stream.rs
  core/sdk/src/stream_builder/iggy_stream_consumer.rs
  core/server/config.toml
  core/shard/src/router.rs
  core/simulator/src/storage/purge.rs
Due: rust

fix(sdk): hold a disconnect through every reconnect step
  core/common/src/traits/client.rs
  core/integration/tests/sdk/client_lifecycle.rs
  core/sdk/src/client_wrappers/binary_client.rs
  core/sdk/src/clients/binary_personal_access_tokens.rs
  core/sdk/src/clients/binary_users.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  foreign/python/tests/test_connectivity.py
Due: rust

fix: address review comments round 3
  core/partitions/src/iggy_partition.rs
  core/partitions/src/partition_storage.rs
  core/partitions/src/segment_recovery.rs
  core/partitions/src/state_transfer.rs
  core/sdk/src/stream_builder/build/build_iggy_consumer.rs
  core/sdk/src/stream_builder/config/config_iggy_consumer.rs
  core/sdk/src/stream_builder/iggy_stream.rs
  core/sdk/src/stream_builder/iggy_stream_consumer.rs
  core/server/README.md
  core/shard/src/router.rs
  core/simulator/src/storage/purge.rs
Due: rust

fix(connector): resolve review comments for mysql-source
  Cargo.toml
  core/connectors/sources/mysql_source/Cargo.toml
  core/connectors/sources/mysql_source/README.md
  core/connectors/sources/mysql_source/src/lib.rs
Due: rust

fix(consensus): reject invalid bindings and trim retry overhead
  core/common/src/traits/binary_transport.rs
  core/consensus/src/impls.rs
  core/journal/src/partition_journal/segments.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/tcp/tcp_client.rs
  core/server/src/http/submit.rs
  foreign/go/README.md
  foreign/go/client/tcp/tcp_poll_routing.go
  foreign/go/client/tcp/tcp_poll_routing_test.go
  foreign/go/client/tcp/tcp_testing_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodec.java
  foreign/node/README.md
  foreign/node/scripts/check-vsr-protocol.mjs
Due: rust, java

fix(partitions): preserve transferred retry checkpoints
  core/common/src/error/iggy_error.rs
  core/consensus/src/client_table.rs
  core/journal/src/partition_journal/segments.rs
  core/message_bus/src/replica/handshake.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/clients/producer.rs
  core/sdk/src/session.rs
  core/simulator/src/storage/tests.rs
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodecTest.java
Due: rust

fix(server): restore startup and buffered recovery
  .github/actions/rust/pre-merge/action.yml
  core/common/src/types/streaming_stats.rs
  core/consensus/src/impls.rs
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/cluster/crash_recovery_corruption.rs
  core/integration/tests/server/descriptor_exhaustion_vsr.rs
  core/integration/tests/server/http_vsr.rs
  core/integration/tests/server/scenarios/consumer_group_new_messages_after_restart_scenario.rs
  core/journal/src/partition_journal.rs
  core/journal/src/partition_journal/segments.rs
  core/message_bus/src/connection_cap.rs
  core/message_bus/tests/head_of_line.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/partition_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/tests/consumer_offset_history.rs
  core/sdk/src/clients/producer.rs
  core/sdk/src/clients/producer_builder.rs
  core/server/README.md
  core/server/src/boot/mod.rs
  core/server/src/boot/recovery.rs
  core/server/src/boot/threads.rs
  core/server/src/dispatch/host.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/reads.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/main.rs
  core/server/src/partition_helpers.rs
  core/server_common/src/poll.rs
  core/simulator/src/lib.rs
  core/simulator/src/storage/tests.rs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/HeartbeatTests.cs
  foreign/csharp/README.md
  foreign/python/src/client.rs
  foreign/swift/Tools/golden-vectors/src/main.rs
  justfile
Due: rust

fix(sdk): require login after explicit disconnect
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/websocket/websocket_client.rs
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/src/send_message.rs
  foreign/python/tests/test_producer.py
Due: rust

fix(sdk): sync Swift error codes and golden fixtures
  foreign/swift/Sources/Iggy/Errors/IggyErrorCode.swift
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
Due: none

fix(consensus): preserve revoked sessions through recovery and replay
  core/consensus/src/client_table.rs
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/cluster/client_table_adversarial.rs
  core/integration/tests/cluster/client_table_restart.rs
  core/integration/tests/cluster/partition_dedup.rs
  core/integration/tests/server/descriptor_exhaustion_vsr.rs
  core/integration/tests/server/http_rbac.rs
  core/message_bus/src/replica/handshake.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/snapshot.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/src/http/extractor.rs
  core/server/src/http/state.rs
  core/shard/src/lib.rs
  foreign/csharp/Iggy_SDK/Vsr/ConsensusSession.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrError.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/ConsensusSessionTests.cs
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodec.java
  foreign/swift/Tools/golden-vectors/src/main.rs
Due: rust, java

fix(server): prevent retirement stalls and bound protocol versions
  core/binary_protocol/src/requests/users/login_register.rs
  core/binary_protocol/src/version.rs
  core/integration/tests/sdk/protocol_version.rs
  core/server/README.md
  core/server/src/consumer_group/liveness.rs
  core/server/src/partition_helpers.rs
  foreign/go/internal/vsr/register.go
  foreign/node/src/wire/vsr/register.ts
Due: rust

fix(partitions): resume commits after persistence completes
  core/partitions/src/iggy_partition.rs
  core/server/config.toml
  core/shard/src/router.rs
Due: rust

test(consensus): preserve pinned receipts in reordered retries
  core/simulator/src/lib.rs
Due: rust

fix(consensus): fence retirement and preserve recovery frontiers
  core/binary_protocol/src/version.rs
  core/consensus/src/client_table.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/message_bus/src/replica/handshake.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
  core/server/README.md
  core/server/src/boot/mod.rs
  core/server/src/consumer_group/liveness.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/submit.rs
  core/server/src/partition_helpers.rs
  core/server/src/session_manager.rs
  core/shard/src/poll.rs
  core/simulator/src/lib.rs
Due: rust

fix(server): preserve session fences across recovery and retirement
  core/binary_protocol/src/requests/system/bind_session.rs
  core/binary_protocol/src/requests/system/mod.rs
  core/binary_protocol/src/requests/system/retire_sessions.rs
  core/configs/src/server_config/metadata.rs
  core/configs/src/server_config/partition.rs
  core/consensus/src/client_table.rs
  core/integration/tests/cluster/crash_durability.rs
  core/message_bus/src/replica/handshake.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/lib.rs
  core/partitions/src/partition_storage.rs
  core/server/README.md
  core/server/config.toml
  core/server/src/boot/mod.rs
  core/server/src/boot/recovery.rs
  core/server/src/consumer_group.rs
  core/server/src/consumer_group/lease.rs
  core/server/src/consumer_group/liveness.rs
  core/server/src/dispatch/mod.rs
  core/server/src/http/admission.rs
  core/server/src/partition_helpers.rs
  core/server/src/partition_reconciler.rs
  core/server/src/server_error.rs
  core/shard/src/lib.rs
  core/shard/src/poll.rs
Due: rust

test(integration): accept reauthentication denial after user deletion
  core/integration/tests/server/scenarios/permissions_scenario.rs
Due: rust

test(partitions): align offset fixtures with durable retry state
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
Due: rust

test(server): update retention checkpoint fixture to v4
  core/server/src/partition_helpers.rs
Due: rust

fix(bench): pace warmup and rewind consumers
  core/bench/src/actors/consumer/benchmark_consumer.rs
  core/bench/src/actors/consumer/client/high_level.rs
  core/bench/src/actors/consumer/client/interface.rs
  core/bench/src/actors/consumer/client/low_level.rs
  core/bench/src/actors/producer/benchmark_producer.rs
  core/bench/src/actors/producing_consumer/benchmark_producing_consumer.rs
  core/bench/src/args/common.rs
  core/bench/src/utils/rate_limiter.rs
  core/integration/tests/bench.rs
Due: rust

fix(connectors): index proto payloads in the OpenSearch sink
  core/connectors/sinks/opensearch_sink/src/lib.rs
  core/integration/tests/connectors/opensearch/mod.rs
  core/integration/tests/connectors/opensearch/proto_text.rs
  core/integration/tests/connectors/opensearch/proto_text.toml
  core/integration/tests/connectors/opensearch/proto_text_config/opensearch_sink.toml
Due: rust

fix(connectors): warn once when the OpenSearch sink drops records
  core/connectors/sinks/opensearch_sink/src/lib.rs
Due: rust
