Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

fix(go): remove redundant nil checks for lint
  foreign/go/contracts/users.go
Due: none

fix(deps): resolve 15 Dependabot vulnerability alerts
  core/bench/dashboard/server/Cargo.lock
  examples/node/package-lock.json
  examples/node/package.json
  foreign/node/package-lock.json
  foreign/node/package.json
  web/package-lock.json
  web/package.json
Due: rust

Bump crossfire and rename messages counter
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/connectors/sdk/src/lib.rs
  core/connectors/sinks/influxdb_sink/src/lib.rs
Due: rust

scope PR to Permissions fix only, add tests
  foreign/go/contracts/users_test.go
  foreign/go/internal/command/update_user.go
  foreign/go/internal/command/user.go
Due: none

fix(go): format test file
  foreign/go/contracts/users_test.go
Due: none

ci: add helm chart validation
  .github/config/components.yml
  .github/workflows/_test.yml
Due: none

fix(helm): make legacy template coverage deterministic
  .github/workflows/_test.yml
  helm/charts/iggy/templates/hpa.yaml
  helm/charts/iggy/templates/ingress.yaml
Due: none

test(helm): pin rendered version expectations
  .github/workflows/_test.yml
Due: none

test(helm): add kind runtime smoke test
  .github/config/components.yml
  .github/workflows/_test.yml
Due: none

ci: install kind manually for helm smoke
  .github/workflows/_test.yml
Due: none

test(helm): validate ingress in smoke test
  .github/workflows/_test.yml
Due: none

fix(go): address staticcheck lint issue
  foreign/go/contracts/users_test.go
Due: none

ci: extract coverage baseline and warm-cache workflows
  .github/workflows/coverage-baseline.yml
  .github/workflows/post-merge.yml
  .github/workflows/warm-cache.yml
Due: none

ci: extract edge release into dedicated workflow
  .github/workflows/edge-release.yml
  .github/workflows/post-merge.yml
Due: none

ci: add workflow descriptions to top-level triggers
  .github/workflows/coverage-baseline.yml
  .github/workflows/edge-release.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/warm-cache.yml
Due: none

ci: harden uploads and add Codecov components
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  codecov.yml
Due: none

ci: address review findings from PR 3006
  .github/workflows/coverage-baseline.yml
  .github/workflows/edge-release.yml
  .github/workflows/warm-cache.yml
Due: none

ci: harden post-merge workflows from review panel findings
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  .github/workflows/edge-release.yml
  codecov.yml
Due: none

feat(server): add io_uring EINVAL diagnostics for shard executors
  Cargo.toml
  core/server/src/bootstrap.rs
  core/server/src/diagnostics.rs
  core/server/src/main.rs
Due: rust

feat(partitions): rework partitions using prefix/tail message
  Cargo.lock
  Cargo.toml
  core/common/Cargo.toml
  core/common/src/types/consensus/message.rs
  core/consensus/Cargo.toml
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/iobuf/Cargo.toml
  core/iobuf/src/lib.rs
  core/message_bus/Cargo.toml
  core/message_bus/src/lib.rs
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/mod.rs
  core/partitions/Cargo.toml
  core/partitions/src/frozen_messages_writer.rs
  core/partitions/src/iggy_index.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/log.rs
  core/partitions/src/segment.rs
  core/partitions/src/send_messages2.rs
  core/partitions/src/types.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/Cargo.toml
  core/simulator/src/bus.rs
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/packet.rs
Due: rust

restructure the file
  core/buf/src/lib.rs
Due: rust

use alignedvec
  Cargo.lock
  core/buf/Cargo.toml
  core/buf/src/lib.rs
Due: rust

feat(server): implement TwoHalves buffer
  Cargo.lock
  Cargo.toml
  core/buf/Cargo.toml
  core/buf/src/lib.rs
Due: rust

fix ci
  Cargo.toml
  DEPENDENCIES.md
  core/buf/Cargo.toml
  core/buf/src/lib.rs
Due: rust

proposal
  core/buf/src/lib.rs
Due: rust

rename messages_writer
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/lib.rs
  core/partitions/src/log.rs
  core/partitions/src/messages_writer.rs
Due: rust

test(go): enhance Permissions test to verify all encoded values
  foreign/go/contracts/users_test.go
Due: none

ci: extract helm chart smoke scripts
  .github/actions/utils/setup-helm-tools/action.yml
  .github/workflows/_test.yml
  helm/charts/iggy/README.md
  helm/charts/iggy/templates/ingress.yaml
  scripts/ci/setup-helm-smoke-cluster.sh
  scripts/ci/setup-helm-tools.sh
  scripts/ci/test_helm.sh
Due: none

ci: fix helm shellcheck assertion
  scripts/ci/test_helm.sh
Due: none

test(csharp): wait for HTTP readiness in fixture
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
Due: none

InfluxDB source: add per-query retry cap
  core/connectors/runtime/example_config/connectors/influx/influxdb_source.toml
  core/connectors/runtime/example_config/connectors/influxdb_sink.toml
  core/connectors/runtime/example_config/connectors/influxdb_source.toml
  core/connectors/sources/influxdb_source/src/lib.rs
  core/integration/tests/connectors/fixtures/influxdb/container.rs
Due: rust

support connection timeout when establishing TCP connection in async (and sync) clients
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
Due: java

add tests to builder for connection timeout and add some additional missing coverage for other code paths
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
Due: none

Add InfluxDB integration tests and fixture options
  Cargo.lock
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/influxdb/container.rs
  core/integration/tests/connectors/fixtures/influxdb/mod.rs
  core/integration/tests/connectors/fixtures/influxdb/sink.rs
  core/integration/tests/connectors/fixtures/influxdb/source.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/influxdb/influxdb_sink_formats.rs
  core/integration/tests/connectors/influxdb/influxdb_source_formats.rs
  core/integration/tests/connectors/influxdb/mod.rs
  core/integration/tests/connectors/influxdb/sink_base64.toml
  core/integration/tests/connectors/influxdb/sink_no_metadata.toml
  core/integration/tests/connectors/influxdb/sink_text.toml
  core/integration/tests/connectors/influxdb/source_raw.toml
  core/integration/tests/connectors/influxdb/source_text.toml
Due: rust

add test
  foreign/go/internal/command/session_test.go
Due: none

feat(go): send SDK version in login request
  foreign/go/contracts/version.go
  foreign/go/internal/command/session.go
Due: none

Add reqwest-middleware retry for InfluxDB
  Cargo.lock
  Cargo.toml
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/src/lib.rs
Due: rust

fix: change from `iggy_common` to `iggy_binary_protocol`
  Cargo.lock
  core/journal/Cargo.toml
  core/journal/src/metadata_journal.rs
  core/metadata/src/impls/recovery.rs
Due: rust

fix(ci): remove unused dependencies
  Cargo.lock
  core/journal/Cargo.toml
Due: rust

fix linting
  Cargo.lock
  DEPENDENCIES.md
  core/connectors/sinks/delta_sink/src/sink.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
