Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

Fix comments from PR #3851
  core/connectors/sources/mssql_source/src/lib.rs
Due: rust

:fire: Remove unused dependencies
  core/connectors/sources/mssql_source/Cargo.toml
Due: rust

Set default mandatory values in config.toml
  core/connectors/sources/mssql_source/config.toml
Due: rust

Delete unused dependencies
  core/connectors/sources/mssql_source/Cargo.toml
Due: rust

add get_user, get_users, create_user, delete_user, and update_user functions
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/tests/e2e/client.cpp
Due: none

add tests for get_user and get_users
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
Due: none

add tests for delete_user
  foreign/cpp/tests/e2e/client.cpp
Due: none

rebase
  foreign/cpp/.bazelrc
Due: none

add tests for create_user
  foreign/cpp/tests/e2e/client.cpp
Due: none

add delete user function
  foreign/cpp/.bazelrc
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
Due: none

add high level client
  bdd/cpp/features/step_definitions/background_steps.cpp
  bdd/cpp/features/step_definitions/messaging_steps.cpp
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

add optionality to update_user
  bdd/cpp/features/step_definitions/messaging_steps.cpp
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/e2e/client.cpp
Due: none

fix ci
  foreign/cpp/src/client.rs
Due: none

add tests and hide creds in from_connection_string
  foreign/cpp/src/client.rs
  foreign/cpp/tests/e2e/client.cpp
Due: none

make methods non-const
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
Due: none

address review
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

correct documentation
  foreign/cpp/include/iggy.hpp
Due: none

add handle() method
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fix test
  foreign/cpp/tests/e2e/client.cpp
Due: none

make userstatus repr u8 enum
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
Due: none

change auto_login_kind to enum
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

reject empty strings on cpp side
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fixcasing inconsistency
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/e2e/topic.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fix client
  foreign/cpp/src/client.cpp
Due: none

trim test fixture code
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
Due: none

make delete_connection function unit
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
Due: none

remove unit test job from cpp ci
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/config/components.yml
Due: none

unify error handling
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
Due: none

lint
  foreign/cpp/tests/e2e/client.cpp
Due: none

fix(metadata): enforce namespace caps at admission to stop aliasing
  Cargo.lock
  Cargo.toml
  core/binary_protocol/src/namespace.rs
  core/common/src/error/iggy_error.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/displays.rs
  core/configs/src/server_config/server.rs
  core/configs/src/server_config/validators.rs
  core/integration/tests/cluster/metadata_checkpoint_restart.rs
  core/metadata/Cargo.toml
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/id_slab.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/partitions/src/iggy_partition.rs
  core/server/Cargo.toml
  core/server/config.toml
  core/server/src/bootstrap.rs
  core/server/src/partition_helpers.rs
  core/server/src/server_error.rs
  core/server_common/src/sharding/mod.rs
  core/server_common/src/sharding/namespace.rs
  core/simulator/src/workload/ops/create_partitions.rs
  core/simulator/src/workload/ops/create_stream.rs
  core/simulator/src/workload/ops/create_topic.rs
Due: rust

improvements
  core/server/Cargo.toml
  foreign/go/errors/errors.yaml
  foreign/go/errors/errors_gen.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyAuthenticationException.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyConflictException.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyErrorCode.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyResourceNotFoundException.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyValidationException.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyAuthenticationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyConflictExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyErrorCodeTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyResourceNotFoundExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyValidationExceptionTest.java
  foreign/node/src/wire/error.code.test.ts
  foreign/node/src/wire/error.code.ts
  foreign/node/src/wire/message/poll-messages.command.test.ts
Due: rust, java

tempv3
  core/server_common/src/iobuf.rs
  core/server_common/src/lib.rs
Due: rust

tempv2
  core/journal/src/lib.rs
  core/metadata/src/impls/metadata.rs
  core/server_common/src/lib.rs
  core/server_common/src/storage.rs
Due: rust

temp
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/vsr_timeout.rs
  core/shard/src/router.rs
Due: rust

test(integration): add SIGKILL crash-durability cluster tests
  core/consensus/src/client_table.rs
  core/integration/src/harness/disk.rs
  core/integration/src/harness/handle/server.rs
  core/integration/src/harness/mod.rs
  core/integration/src/harness/orchestrator/harness.rs
  core/integration/tests/cluster/client_table_adversarial.rs
  core/integration/tests/cluster/crash_durability.rs
  core/integration/tests/cluster/crash_offset_reuse.rs
  core/integration/tests/cluster/crash_recovery_corruption.rs
  core/integration/tests/cluster/failover_client_continuity.rs
  core/integration/tests/cluster/mod.rs
  core/integration/tests/data_integrity/verify_cluster_replica_data_identical.rs
  core/shard/src/router.rs
Due: rust

test(cluster): rename Command2 to Command after v2 bridge removal
  core/integration/tests/cluster/client_table_adversarial.rs
  core/shard/src/router.rs
Due: rust

refactor(consensus): single restore constructor + wedge/replay/ack fixes
  core/configs/src/server_config/cluster.rs
  core/configs/src/server_config/defaults.rs
  core/consensus/src/fatal.rs
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/partitions/src/iggy_partition.rs
  core/server/config.toml
  core/server/src/bootstrap.rs
  core/server/src/partition_helpers.rs
  core/shard/src/lib.rs
Due: rust

refactor(server): consensus restore, fail-stop, linear cleanup batch
  core/configs/src/common/server.rs
  core/configs/src/server_config/cluster.rs
  core/configs/src/server_config/defaults.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/lib.rs
  core/partitions/src/types.rs
  core/server/config.toml
  core/server/src/bootstrap.rs
  core/server/src/dispatch.rs
  core/server/src/main.rs
  core/server/src/partition_reconciler.rs
  core/server_common/src/buffer.rs
  core/server_common/src/executor.rs
  core/server_common/src/lib.rs
  core/server_common/src/memory_pool.rs
  core/shard/src/config.rs
  core/shard/src/lib.rs
  core/simulator/src/bin/simulator-ui.rs
  core/simulator/src/bin/workload-fuzz.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

test(bdd): cover stream CRUD in Rust and Java
  bdd/docker-compose.coverage.yml
  bdd/docker-compose.yml
  bdd/java/src/test/java/org/apache/iggy/bdd/BasicMessagingSteps.java
  bdd/java/src/test/java/org/apache/iggy/bdd/TestContext.java
  bdd/rust/Cargo.toml
  bdd/rust/tests/steps/streams.rs
  bdd/rust/tests/stream_crud.rs
  bdd/scenarios/stream_crud.feature
  scripts/run-bdd-tests.sh
Due: none

fix(bdd): pass stream update options
  bdd/rust/tests/steps/streams.rs
Due: none
