Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

fix(sdk): reconcile TCP timeout state before reconnect
  core/common/src/request_budget.rs
  core/sdk/src/client_wrappers/client_wrapper.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

refactor(sdk): clarify TCP request policy scope
  core/sdk/src/client_wrappers/client_wrapper.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

fix(sdk): bound TCP login with an end-to-end deadline
  core/common/src/error/iggy_error.rs
  core/common/src/lib.rs
  core/common/src/request_budget.rs
  core/common/src/traits/binary_impls/personal_access_tokens.rs
  core/common/src/traits/binary_impls/users.rs
  core/common/src/traits/binary_transport.rs
  core/sdk/src/clients/binary_personal_access_tokens.rs
  core/sdk/src/clients/binary_users.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/lib.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

refactor(sdk): simplify TCP timeout configuration
  core/common/src/types/configuration/tcp_config/tcp_connection_string_options.rs
  core/integration/src/harness/handle/client_builder.rs
  core/sdk/src/client_provider.rs
Due: rust

refactor(common): simplify request budget interface
  core/common/src/request_budget.rs
  core/common/src/traits/binary_impls/personal_access_tokens.rs
  core/common/src/traits/binary_impls/users.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

fix(bench): pace warmup, rewind offsets, repair rate limiter
  core/bench/src/actors/consumer/benchmark_consumer.rs
  core/bench/src/actors/consumer/client/high_level.rs
  core/bench/src/actors/consumer/client/interface.rs
  core/bench/src/actors/consumer/client/low_level.rs
  core/bench/src/actors/producer/benchmark_producer.rs
  core/bench/src/actors/producing_consumer/benchmark_producing_consumer.rs
  core/bench/src/utils/rate_limiter.rs
  core/integration/tests/bench.rs
  core/sdk/src/clients/binary_consumer_group.rs
Due: rust

Initial implementation of Docker Image (#issue 3539)
  .claude/skills/kafka-gateway-pr-review/SKILL.md
  gateways/kafka/Dockerfile
  gateways/kafka/README.md
  gateways/kafka/docker-compose.yml
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/tests/common/gateway_process.rs
  gateways/kafka/tests/common/iggy_server.rs
  gateways/kafka/tests/phase1_e2e_tests.rs
Due: none

fix(connectors): report source polling stop reasons
  .claude/skills/connector-source/SKILL.md
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sdk/README.md
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/source.rs
  core/connectors/sinks/influxdb_sink/dependencies.md
  core/connectors/sources/http_source/README.md
  core/connectors/sources/http_source/src/lib.rs
  core/connectors/sources/http_source/src/management.rs
  core/connectors/sources/http_source/src/server.rs
  core/connectors/sources/influxdb_source/dependencies.md
  core/integration/tests/connectors/runtime/http_state.rs
Due: rust

test(sdk): align lifecycle TODOs with the agreed design
  core/integration/tests/sdk/client_lifecycle.rs
Due: rust

premissions fix
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/authz.rs
Due: rust

wrap source README lines for markdownlint
  core/connectors/sdk/README.md
  core/connectors/sources/http_source/README.md
Due: rust

feat(config): expose compact environment templates
  core/configs/src/configs_impl/env_mapping.rs
  core/configs/src/configs_impl/mod.rs
  core/configs/src/lib.rs
  core/configs/src/server_config/cluster.rs
  core/configs_derive/src/config_env.rs
Due: rust

feat: list configuration environment variables
  Cargo.lock
  core/ai/mcp/Cargo.toml
  core/ai/mcp/src/main.rs
  core/connectors/runtime/src/main.rs
  core/integration/tests/config_env_listing.rs
  core/integration/tests/mod.rs
  core/server/src/args.rs
  core/server/src/main.rs
Due: rust

feat(node): wire up snapshot command in system client
  foreign/node/src/e2e/tcp.raw.e2e.ts
  foreign/node/src/e2e/tcp.system.e2e.ts
  foreign/node/src/wire/command-set.ts
  foreign/node/src/wire/command.code.ts
  foreign/node/src/wire/system/index.ts
  foreign/node/src/wire/system/snapshot.command.test.ts
  foreign/node/src/wire/system/snapshot.command.ts
Due: none

feat(swift): add the domain models and their wire encodings
  foreign/swift/README.md
  foreign/swift/Sources/Iggy/Models/Identifier.swift
  foreign/swift/Sources/Iggy/Models/IggyMessage.swift
  foreign/swift/Sources/Iggy/Models/Messaging.swift
  foreign/swift/Sources/Iggy/Models/Permissions.swift
  foreign/swift/Sources/Iggy/Models/ResourceOptions.swift
  foreign/swift/Sources/Iggy/Models/Resources.swift
  foreign/swift/Sources/Iggy/Models/TopicOptions.swift
  foreign/swift/Sources/Iggy/Models/UserHeaders.swift
  foreign/swift/Sources/Iggy/Wire/ByteCodec.swift
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
  foreign/swift/Tests/IggyTests/ModelTests.swift
  foreign/swift/Tests/IggyTests/ModelVectorTests.swift
  foreign/swift/Tests/IggyTests/Support/GoldenFixture.swift
  foreign/swift/Tools/golden-vectors/src/main.rs
Due: none

feat(connectors): fully ported the tests to floci
  core/integration/tests/connectors/fixtures/delta/fixture.rs
  core/integration/tests/connectors/fixtures/floci.rs
Due: rust

refine config-env-vars implementation per scope requirements
  core/connectors/runtime/src/main.rs
  core/integration/tests/config_env_listing.rs
  core/server/src/args.rs
Due: rust

feat(java): add purgeStream and purgeTopic to Java SDK
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/StreamsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/TopicsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/StreamClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/TopicsClientBaseTest.java
Due: java

chore(configs): format code per cargo fmt standards
  core/integration/tests/config_env_listing.rs
Due: rust

feat(connectors): Delta sink: production feasibility improvements for S3 storage (#4219)
  core/connectors/sinks/delta_sink/README.md
  core/connectors/sinks/delta_sink/src/lib.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/delta_sink/src/storage.rs
  core/integration/tests/connectors/delta/delta_sink.rs
  core/integration/tests/connectors/delta/malformed_table_uri_config/config.toml
  core/integration/tests/connectors/delta/malformed_table_uri_sink.toml
  core/integration/tests/connectors/delta/missing_secret_key_config/config.toml
  core/integration/tests/connectors/delta/missing_secret_key_sink.toml
  core/integration/tests/connectors/fixtures/delta/fixture.rs
  core/integration/tests/connectors/fixtures/delta/mod.rs
  core/integration/tests/connectors/fixtures/floci.rs
  core/integration/tests/connectors/fixtures/mod.rs
Due: rust

Fix spotless formatting violation in StreamClientBaseTest
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/StreamClientBaseTest.java
Due: none

fix(connectors): remove unused mut keyword
  core/connectors/runtime/src/main.rs
Due: rust

feat(swift): add the domain models and their wire encodings (#4335)
  foreign/swift/README.md
  foreign/swift/Sources/Iggy/Models/Identifier.swift
  foreign/swift/Sources/Iggy/Models/IggyMessage.swift
  foreign/swift/Sources/Iggy/Models/Messaging.swift
  foreign/swift/Sources/Iggy/Models/Permissions.swift
  foreign/swift/Sources/Iggy/Models/ResourceOptions.swift
  foreign/swift/Sources/Iggy/Models/Resources.swift
  foreign/swift/Sources/Iggy/Models/TopicOptions.swift
  foreign/swift/Sources/Iggy/Models/UserHeaders.swift
  foreign/swift/Sources/Iggy/Wire/ByteCodec.swift
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
  foreign/swift/Tests/IggyTests/ModelTests.swift
  foreign/swift/Tests/IggyTests/ModelVectorTests.swift
  foreign/swift/Tests/IggyTests/Support/GoldenFixture.swift
  foreign/swift/Tools/golden-vectors/src/main.rs
Due: none

review fixes
  core/common/src/types/stats/mod.rs
  core/configs/src/common/validators.rs
  core/configs/src/server_config/metadata.rs
  core/integration/src/harness/handle/server.rs
  core/integration/tests/cli/system/test_stats_command.rs
  core/integration/tests/server/descriptor_exhaustion_vsr.rs
  core/integration/tests/server/mod.rs
  core/integration/tests/server/stats_vsr.rs
  core/journal/src/durable_storage.rs
  core/journal/src/file_storage.rs
  core/journal/src/partition_journal.rs
  core/journal/src/prepare_journal.rs
  core/journal/src/superblock.rs
  core/message_bus/src/accept.rs
  core/message_bus/src/connection_cap.rs
  core/message_bus/src/replica/listener.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/messages_writer.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/segment_anchor.rs
  core/partitions/src/segment_recovery.rs
  core/partitions/src/state_transfer.rs
  core/server/config.toml
  core/server/src/boot/mod.rs
  core/server/src/main.rs
  core/server/src/partition_helpers.rs
  core/server/src/sysinfo_printer.rs
  core/server/src/sysinfo_probe.rs
  core/server_common/src/fatal.rs
  core/server_common/src/segment_storage/index_reader.rs
  core/server_common/src/segment_storage/index_writer.rs
  core/server_common/src/segment_storage/messages_reader.rs
  core/server_common/src/segment_storage/messages_writer.rs
  core/server_common/src/segment_storage/mod.rs
  core/system_stats/src/lib.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/stats.rs
  foreign/python/tests/test_stats.py
Due: rust

refactor(configs): address CodeRabbit review findings (9 of 10)
  core/configs/src/configs_impl/env_mapping.rs
  core/configs_derive/src/config_env.rs
  core/connectors/runtime/src/main.rs
Due: rust

feat(configs): address CodeRabbit review findings (9 of 10)
  core/configs/src/configs_impl/env_mapping.rs
  core/configs_derive/src/config_env.rs
  core/connectors/runtime/src/main.rs
Due: rust

test consumer-group rejects on http paths store, delete, poll
  core/integration/tests/sdk/consumer_offset.rs
  core/server/src/http/handlers.rs
Due: rust

replace IggyError variant, percent_encode consumer.id in URL
  Cargo.lock
  Cargo.toml
  core/sdk/Cargo.toml
  core/sdk/src/http/consumer_offsets.rs
  core/server/src/dispatch/failure.rs
  core/server/src/http/wire.rs
Due: rust

error on group poll instead of sending sentinel
  core/server/src/dispatch/failure.rs
  core/server/src/http/handlers.rs
  core/server/src/http/wire.rs
Due: rust

accept consumer kind on delete path and reject consumer group member on poll
  core/common/src/http/consumer_offsets/delete_consumer_offset.rs
  core/integration/tests/sdk/consumer_offset.rs
  core/sdk/src/http/consumer_offsets.rs
  core/server/src/http/handlers.rs
  core/server/src/http/wire.rs
Due: rust

reject group query for store and delete, update integration test to run the correct client
  core/common/src/http/consumer_offsets/delete_consumer_offset.rs
  core/integration/tests/sdk/consumer_offset.rs
  core/server/src/http/handlers.rs
  core/server/src/http/wire.rs
Due: rust

integration test reading consumer offsets
  core/integration/tests/sdk/consumer_offset.rs
Due: rust

adding consumer_kind to GetConsumerOffsetRequest
  core/common/src/types/consumer/consumer_kind.rs
  core/server/src/http/handlers.rs
  core/server/src/http/wire.rs
Due: rust

apply suggestion
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  Cargo.lock
  core/connectors/sinks/README.md
  core/connectors/sinks/opendal_sink/Cargo.toml
  core/connectors/sinks/opendal_sink/README.md
  core/connectors/sinks/opendal_sink/src/formatter.rs
  core/connectors/sinks/opendal_sink/src/lib.rs
  core/connectors/sinks/opendal_sink/src/path.rs
  core/integration/tests/connectors/fixtures/opendal.rs
  core/integration/tests/connectors/opendal/opendal_sink.rs
  scripts/bump-version.sh
Due: rust

test(sdk): build lifecycle clients from connection strings
  core/integration/tests/sdk/client_lifecycle.rs
Due: rust

add connector-review skill
  .claude/skills/connector-review/SKILL.md
  AGENTS.md
Due: none

add more details to skill
  .claude/skills/connector-review/SKILL.md
Due: none

fixes
  .claude/skills/connector-review/SKILL.md
Due: none

chore(gateways): remove local-only review skill from tracked files
  .claude/skills/kafka-gateway-pr-review/SKILL.md
Due: none
