Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

fix(partitions): resume shutdown after interrupted file jobs
  core/partitions/src/iggy_partition.rs
  core/shard/src/router.rs
Due: rust

fix(sdk): recognize partition history changes across clients
  core/metadata/src/stm/result.rs
  foreign/go/errors/errors.yaml
  foreign/go/errors/errors_gen.go
  foreign/go/errors/errors_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyErrorCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyErrorCodeTest.java
  foreign/node/src/wire/error.code.test.ts
  foreign/node/src/wire/error.code.ts
Due: rust, java

docs(partitions): align comments with file lanes and commit walks
  core/consensus/src/impls.rs
  core/partitions/src/types.rs
  core/shard/src/lib.rs
  core/simulator/src/lib.rs
  core/simulator/src/workload/invariants.rs
Due: rust

test(sdk): fail when sends to split partition primaries move the session
  core/integration/tests/cluster/partition_primary_routing.rs
Due: rust

Fixing mac clippy tests
  gateways/kafka/tests/configs_handler_tests.rs
Due: none

Fixing fmt error
  gateways/kafka/tests/configs_handler_tests.rs
Due: none

fix(partitions): preserve shutdown and recovery I/O ownership
  core/binary_protocol/src/consensus/header.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/io.rs
  core/partitions/src/journal.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/server_common/src/fs_utils.rs
  core/shard/src/builder.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/partition_io.rs
  core/shard/src/poll/completion_tests.rs
  core/shard/src/router.rs
Due: rust

fix(server): reject deletes against unapplied partition history
  core/common/src/error/iggy_error.rs
  core/metadata/src/stm/stream.rs
  core/partitions/src/iggy_partitions.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/error.rs
Due: rust

fix(server): fail boot when the stats sampler cannot start
  core/server/src/boot/mod.rs
  core/server/src/server_error.rs
Due: rust

Fixing clippy and fmt error
  gateways/kafka/tests/configs_real_bridge_tests.rs
Due: none

Fixing clippy and fmt error
  gateways/kafka/src/protocol/handlers/describe_configs.rs
Due: none

Fixing doc test and validated clippy with newer version of clippy
  gateways/kafka/src/protocol/api.rs
Due: none

feat(python): expose delete_segments on IggyClient
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_segment.py
Due: none

test(python): inline delete_segments test helpers
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_segment.py
Due: none

test(partitions): reproduce a lagging replica stuck in state transfer
  core/partitions/src/iggy_partition.rs
  core/shard/src/poll/completion_tests.rs
Due: rust

fix reported problem
  core/integration/tests/cluster/crash_durability.rs
  core/integration/tests/cluster/mod.rs
  core/integration/tests/cluster/rolling_sigkill_repro.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/state_transfer.rs
  core/partitions/src/types.rs
  core/server/config.toml
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/simulator/src/stale_prepare_commit_tests.rs
Due: rust

fix(connectors): give Retry-After its own ceiling above the backoff
  .claude/skills/connector-sdk/SKILL.md
  core/connectors/sdk/README.md
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/influxdb_sink/README.md
  core/connectors/sinks/quickwit_sink/README.md
  core/connectors/sources/influxdb_source/README.md
Due: rust

test(integration): add primary-side torn-tail crash recovery specs
  core/integration/tests/cluster/crash_recovery_corruption.rs
Due: rust

fix(connectors): preserve pending batches on timeout and shutdown
  .claude/skills/connector-runtime/SKILL.md
  .claude/skills/connector-source/SKILL.md
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/src/source.rs
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/README.md
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/source.rs
  core/connectors/sinks/influxdb_sink/dependencies.md
  core/connectors/sources/http_source/README.md
  core/connectors/sources/http_source/src/lib.rs
  core/connectors/sources/http_source/src/management.rs
  core/connectors/sources/http_source/src/server.rs
  core/connectors/sources/influxdb_source/dependencies.md
  core/integration/tests/connectors/runtime/http_state.rs
Due: rust

fix: address review comments
  core/common/src/traits/consumer_offset_client.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/handlers.rs
  gateways/kafka/README.md
  gateways/kafka/docs/CONSUMER_GROUPS.md
  gateways/kafka/docs/OFFSET_STORAGE.md
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/group_offsets.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/produce.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/group/mod.rs
  gateways/kafka/src/group/state.rs
  gateways/kafka/src/protocol/handlers/offset_commit.rs
  gateways/kafka/src/protocol/handlers/offset_fetch.rs
Due: rust

feat(gateways): answer OffsetCommit and OffsetFetch
  .config/nextest.toml
  .pr4372-comments.json
  Cargo.lock
  core/server/src/dispatch/partition.rs
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/ACL_MAPPING.md
  gateways/kafka/docs/CONSUMER_GROUPS.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/OFFSET_STORAGE.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/docs/kafka_api_keys_reference.md
  gateways/kafka/scripts/ci-wire-fixtures.sh
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/group_offsets.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/topics.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/group/mod.rs
  gateways/kafka/src/group/state.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/bounds_guard.rs
  gateways/kafka/src/protocol/handlers/heartbeat.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/src/protocol/handlers/offset_commit.rs
  gateways/kafka/src/protocol/handlers/offset_fetch.rs
  gateways/kafka/tests/common/scope.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/kafka_client_e2e_tests.rs
  gateways/kafka/tests/offsets_real_bridge_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
  gateways/kafka/tools/kafka-tool/src/main.rs
Due: rust

docs(gateways): count both clients of each offset slot
  gateways/kafka/README.md
Due: none

test(gateways): cover Kafka consumer groups end to end
  Cargo.lock
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/tests/kafka_client_e2e_tests.rs
Due: none

fix(ci): cap pre-merge job concurrency under the ASF limit
  .github/workflows/pre-merge.yml
Due: none

fix(ci): replace pull_request_target in PR triage and stale unmark
  .github/workflows/pr-triage-apply.yml
  .github/workflows/pr-triage-collect.yml
  .github/workflows/stale-prs-unmark-on-activity.yml
  .github/workflows/stale-prs-unmark.yml
Due: none

feat(gateways): answer OffsetCommit and OffsetFetch (#4415)
  .config/nextest.toml
  .pr4372-comments.json
  Cargo.lock
  core/common/src/traits/consumer_offset_client.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/handlers.rs
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/ACL_MAPPING.md
  gateways/kafka/docs/CONSUMER_GROUPS.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/OFFSET_STORAGE.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/docs/kafka_api_keys_reference.md
  gateways/kafka/scripts/ci-wire-fixtures.sh
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/group_offsets.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/produce.rs
  gateways/kafka/src/bridge/iggy_bridge/topics.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/group/mod.rs
  gateways/kafka/src/group/state.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/bounds_guard.rs
  gateways/kafka/src/protocol/handlers/heartbeat.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/src/protocol/handlers/offset_commit.rs
  gateways/kafka/src/protocol/handlers/offset_fetch.rs
  gateways/kafka/tests/common/scope.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/kafka_client_e2e_tests.rs
  gateways/kafka/tests/offsets_real_bridge_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
  gateways/kafka/tools/kafka-tool/src/main.rs
Due: rust

test(gateways): cover Kafka consumer groups end to end (#4431)
  Cargo.lock
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/tests/kafka_client_e2e_tests.rs
Due: none

fix(consensus): retry the primary's own write on prepare timeout
  core/consensus/src/impls.rs
  core/consensus/src/observability.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/simulator/src/lib.rs
Due: rust

fix(connectors): address remaining BigQuery review feedback
  Cargo.lock
  core/connectors/sinks/bigquery_sink/Cargo.toml
  core/connectors/sinks/bigquery_sink/README.md
  core/connectors/sinks/bigquery_sink/src/client.rs
  core/connectors/sinks/bigquery_sink/src/encode.rs
  core/connectors/sinks/bigquery_sink/src/error.rs
  core/connectors/sinks/bigquery_sink/src/lib.rs
  core/connectors/sinks/bigquery_sink/src/schema.rs
  core/connectors/sinks/bigquery_sink/src/sink.rs
  core/connectors/sinks/bigquery_sink/tests/bigquery_sink.rs
  core/connectors/sinks/bigquery_sink/tests/common/mod.rs
Due: rust

ci: add job timeouts and stagger the stale-PR cron
  .github/workflows/_common.yml
  .github/workflows/_detect.yml
  .github/workflows/post-merge.yml
  .github/workflows/pr-title.yml
  .github/workflows/pre-merge.yml
  .github/workflows/stale-prs.yml
Due: none

refactor(connectors): remove unused BigQuery error conversion
  core/connectors/sinks/bigquery_sink/src/error.rs
Due: rust

fix(connectors): reject lossy BigQuery decimals
  Cargo.lock
  Cargo.toml
  core/connectors/sinks/bigquery_sink/Cargo.toml
  core/connectors/sinks/bigquery_sink/README.md
  core/connectors/sinks/bigquery_sink/src/encode.rs
Due: rust

expose high level functions
  bdd/cpp/features/step_definitions/background_steps.cpp
  bdd/cpp/features/step_definitions/messaging_steps.cpp
  bdd/cpp/features/step_definitions/raw_command_steps.cpp
  bdd/cpp/features/step_definitions/world.hpp
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/e2e/message.cpp
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
  foreign/cpp/tests/e2e/topic.cpp
Due: none

docs and test migration
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/unit/identifier.cpp
Due: none

doc fixes
  foreign/cpp/include/iggy.hpp
Due: none

remove unnnecessary function in header
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
Due: none

remove purge apis
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/e2e/topic.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fix ci
  foreign/cpp/tests/e2e/client.cpp
Due: none

refactor(cpp): rename the opaque Consumer to IggyConsumer
  foreign/cpp/src/consumer.rs
  foreign/cpp/src/lib.rs
Due: none
