Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

chore: bump Rust to 1.94
  Dockerfile
  bdd/java/Dockerfile
  bdd/python/Dockerfile
  bdd/rust/Dockerfile
  core/ai/mcp/Dockerfile
  core/bench/dashboard/server/Dockerfile
  core/connectors/runtime/Dockerfile
  core/server/Dockerfile
  rust-toolchain.toml
Due: rust

fix(consensus): Use `CheckedBitPattern` and validate at construction - Use TryFrom<Message<T>> for MessageBag
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/common/src/types/consensus/header.rs
  core/common/src/types/consensus/message.rs
  core/consensus/src/impls.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/mod.rs
  core/partitions/src/iggy_partitions.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/client.rs
Due: rust

chore(deps): upgrade workspace dependencies, bump all edge iggy crates
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/ai/mcp/Cargo.toml
  core/ai/mcp/src/log.rs
  core/ai/mcp/src/service/mod.rs
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/server/Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/src/log.rs
  core/connectors/sinks/elasticsearch_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/mongodb_sink/Cargo.toml
  core/connectors/sinks/postgres_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/stdout_sink/Cargo.toml
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/random_source/Cargo.toml
  core/integration/Cargo.toml
  core/integration/src/harness/handle/mcp.rs
  core/integration/tests/mcp/mod.rs
  core/sdk/Cargo.toml
  core/server/Cargo.toml
  core/server/src/log/logger.rs
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  foreign/python/src/consumer.rs
  foreign/python/src/receive_message.rs
  foreign/python/src/send_message.rs
Due: rust

fix(ci): prevent flaky keyring tests from locked collection
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/post-merge.yml
Due: none

refactor(java): use generation-based auth for pooled channels
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyAuthenticator.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyFrameEncoder.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConnectionPoolAuthTest.java
Due: java

fix(consensus): Make `GenericHeader` use `Command2` instead of `u8`
  Cargo.lock
  core/common/src/types/consensus/header.rs
  core/common/src/types/consensus/message.rs
  core/consensus/src/plane_helpers.rs
  core/simulator/src/packet.rs
Due: rust

remove plan
  core/partitions/PARTITION_JOURNAL2_STORAGE_PLAN.md
Due: rust

fixes
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/simulator/src/deps.rs
Due: rust

smth
  core/journal/src/lib.rs
  core/partitions/src/journal.rs
  core/simulator/src/deps.rs
Due: rust

temp
  core/partitions/PARTITION_JOURNAL2_STORAGE_PLAN.md
  core/partitions/src/journal.rs
Due: rust

rename types
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
Due: rust

clipy lint
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
Due: rust

feat(java): add TCP/TLS integration tests and examples for Java SDK
  .github/actions/java-gradle/pre-merge/action.yml
  examples/java/README.md
  examples/java/build.gradle.kts
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/consumer/TcpTlsConsumer.java
  examples/java/src/main/java/org/apache/iggy/examples/tcptls/producer/TcpTlsProducer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TlsConnectionTest.java
  scripts/run-java-examples-from-readme.sh
Due: none

fix(js): use localhost instead of disabling hostname verification in TLS tests
  codecov.yml
  foreign/node/src/e2e/tls.system.e2e.ts
Due: none

feat(bdd): support -race option for Go BDD tests (#2863)
  .github/config/components.yml
  .github/workflows/_test_bdd.yml
  bdd/docker-compose.yml
  bdd/go/Dockerfile
  scripts/run-bdd-tests.sh
Due: none

fix(bdd): drop -cpu 1,4 flag that causes test re-runs incompatible with godog/ginkgo
  bdd/go/Dockerfile
  scripts/run-bdd-tests.sh
Due: none

fix(ci): build Docker image from PR code, upgrade golangci-lint to v2, fix errcheck
  .github/actions/go/pre-merge/action.yml
  foreign/go/client/tcp/tcp_core.go
  foreign/go/tests/tls_test.go
Due: none

refactor(bdd): use go-race as SDK choice instead of -race flag
  .github/workflows/_test_bdd.yml
  scripts/run-bdd-tests.sh
Due: none

fix: address review - close leaked connection, restore edge fallback, fix duplicate kill
  foreign/go/client/tcp/tcp_core.go
  foreign/go/tests/tls_test.go
  scripts/run-go-examples-from-readme.sh
Due: none

add unit tests for message package in Java SDK
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/BigIntegerMessageIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/BytesMessageIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKeyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKindTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderValueTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/MessageStateTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/MessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PartitioningKindTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PartitioningTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PollingKindTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PollingStrategyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/UuidMessageIdTest.java
Due: none

feat(message_bus): add drain method to collect buffered outbound messages
  core/message_bus/src/lib.rs
  core/simulator/src/bus.rs
Due: rust

Unify run-*-examples-from-readme.sh into single entrypoint with TLS support
  .github/config/components.yml
  .github/workflows/_test_examples.yml
  examples/csharp/README.md
  examples/go/README.md
  examples/node/package.json
  examples/node/test-examples.sh
  examples/rust/README.md
  scripts/run-csharp-examples-from-readme.sh
  scripts/run-examples-from-readme.sh
  scripts/run-go-examples-from-readme.sh
  scripts/run-java-examples-from-readme.sh
  scripts/run-node-examples-from-readme.sh
  scripts/run-python-examples-from-readme.sh
  scripts/run-rust-examples-from-readme.sh
  scripts/utils.sh
Due: none

ci: fix shellcheck SC2329 and SC2294 in example runner scripts
  scripts/run-examples-from-readme.sh
  scripts/utils.sh
Due: none

assert header kind is the correct type
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderValueTest.java
Due: none

swapped names of tests
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/MessageTest.java
Due: none

use assertJ instead of JUnit assertions in BigIntegerMessageIdTest
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/BigIntegerMessageIdTest.java
Due: none

use assertJ instead of JUnit assertions in BytesMessageIdtest
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/BytesMessageIdTest.java
Due: none

fix(client): allow hostnames in TCP and WebSocket client configuration
  core/common/src/types/configuration/tcp_config/tcp_client_config_builder.rs
  core/common/src/types/configuration/websocket_config/websocket_client_config_builder.rs
Due: rust

fix(examples): allow hostnames in TCP server address validation
  examples/rust/src/getting-started/consumer/main.rs
  examples/rust/src/getting-started/producer/main.rs
Due: none

use assertJ instead of JUnit assertions in HeaderKeyTest
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKeyTest.java
Due: none

use assertJ instead of JUnit assertions in HeaderKindTest
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKindTest.java
Due: none

correct import path for assertJ assertions
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKeyTest.java
Due: none

Address review feedback: deduplicate logic, fix global state, improve stop_server
  examples/python/README.md
  scripts/run-examples-from-readme.sh
  scripts/utils.sh
Due: none

feat(connectors): scaffold HTTP sink connector with types and stub Sink impl
  Cargo.lock
  Cargo.toml
  core/connectors/sinks/http_sink/Cargo.toml
  core/connectors/sinks/http_sink/src/lib.rs
Due: rust

docs(connectors): add HTTP sink example config.toml
  core/connectors/sinks/http_sink/config.toml
Due: rust

fix(connectors): remediate 12 review findings in HTTP sink (CR round 1)
  core/connectors/sinks/http_sink/src/lib.rs
Due: rust

feat(connectors): implement HTTP sink core — consume, retry, batch modes
  Cargo.lock
  core/connectors/sinks/http_sink/Cargo.toml
  core/connectors/sinks/http_sink/src/lib.rs
Due: rust

fix(connectors): remediate 7 follow-up review findings in HTTP sink (CR round 2)
  core/connectors/sinks/http_sink/src/lib.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
