Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

fix(partitions): admit deferred polls regardless of journal residency
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/shard/src/poll/deferred.rs
  core/shard/src/poll/deferred_tests.rs
  core/shard/src/poll/test_support.rs
Due: rust

feat(message_bus): read replica sockets ahead into a buffer
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/message_bus.rs
  core/integration/tests/cluster/mod.rs
  core/integration/tests/cluster/replica_read_batching.rs
  core/message_bus/src/config.rs
  core/message_bus/src/framing.rs
  core/message_bus/src/installer/replica.rs
  core/message_bus/src/lib.rs
  core/message_bus/src/transports/tcp.rs
  core/server/config.toml
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
Due: rust

fix(partitions): serve the prefix a byte-limited disk read already holds
  core/partitions/src/poll_plan.rs
Due: rust

feat(java): add deferred polling to the TCP and HTTP clients
  examples/java/README.md
  examples/java/src/main/java/org/apache/iggy/examples/async/AsyncConsumer.java
  examples/java/src/test/java/org/apache/iggy/examples/ConsumerOffsetTest.java
  foreign/java/README.md
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/MessagesClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PollRouter.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/ConsensusSession.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrFrameDecoder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/MessagesClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/InternalHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/MessagesHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/FutureUtil.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/message/DeferredPollOptions.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/DeferredPollCompatibilityTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/PollRouterTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/VsrLoopbackPeer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrFrameDecoderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/MessagesClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/MessagesHttpDeferredTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TlsConnectionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/DeferredPollOptionsTest.java
Due: java

perf(partitions): keep shard traffic moving during file I/O
  Cargo.lock
  core/configs/src/server_config/sharding.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/journal/src/local_gate.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/io.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/messages_writer.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/server/config.toml
  core/server/src/boot/recovery.rs
  core/server/src/boot/threads.rs
  core/server/src/partition_reconciler.rs
  core/server/src/server_error.rs
  core/server_common/src/iobuf.rs
  core/server_common/src/poll.rs
  core/shard/Cargo.toml
  core/shard/src/builder.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/partition_io.rs
  core/shard/src/poll.rs
  core/shard/src/poll/completion_tests.rs
  core/shard/src/poll/timeout_tests.rs
  core/shard/src/router.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

refactor(gateways): prepare the Kafka gateway for parallel handler work
  .config/nextest.toml
  gateways/kafka/README.md
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/offsets.rs
  gateways/kafka/src/bridge/iggy_bridge/produce.rs
  gateways/kafka/src/bridge/iggy_bridge/topics.rs
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/api_versions.rs
  gateways/kafka/src/protocol/handlers/create_topics.rs
  gateways/kafka/src/protocol/handlers/fetch.rs
  gateways/kafka/src/protocol/handlers/list_offsets.rs
  gateways/kafka/src/protocol/handlers/metadata.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/src/protocol/handlers/produce.rs
  gateways/kafka/src/protocol/responses.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
  gateways/kafka/tests/broker_advertise_tests.rs
  gateways/kafka/tests/common/iggy_server.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/listener_robustness_tests.rs
  gateways/kafka/tests/response_negative_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

Resolved initial review blockers, add real-wire e2e tests
  .config/nextest.toml
  gateways/kafka/README.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/responses.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
  gateways/kafka/tests/common/fake_bridge.rs
  gateways/kafka/tests/common/iggy_server.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/gateway_bridge_e2e_tests.rs
  gateways/kafka/tools/kafka-tool/src/response.rs
Due: none

feat(gateways): map Kafka records to Iggy messages and back
  Cargo.lock
  Cargo.toml
  gateways/kafka/Cargo.toml
  gateways/kafka/docs/BRIDGE_MAPPING.md
  gateways/kafka/src/lib.rs
  gateways/kafka/src/records.rs
Due: none

ci(repo): upgrade Cargo-Rail planning to v0.29
  .config/rail.toml
  .github/actions/rust/pre-merge/action.yml
  .github/config/edge-image-variants.json
  .github/config/publish.yml
  .github/workflows/post-merge.yml
  scripts/ci/edge-affected-images.sh
Due: none

Check Topic existence before return
  gateways/kafka/README.md
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/tests/api_handler_tests.rs
Due: none

refactor(security): breaking change prerequisite - jwks not allowed to redirects
  core/server/src/http/jwks.rs
Due: rust

refactor(security): breaking change prerequisite - permissions global least privilege
  core/common/src/types/permissions/permissions_global.rs
Due: rust

feat(security): add external auth config item
  core/configs/src/common/defaults.rs
  core/configs/src/lib.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/displays.rs
  core/configs/src/server_config/external_auth.rs
  core/configs/src/server_config/mod.rs
  core/configs/src/server_config/server.rs
Due: rust

fix(security): make `expires_at` necessary for inline grants
  core/server/src/external_auth.rs
Due: rust

fix(security): redact URL userinfo in external auth log messages
  core/server/src/external_auth.rs
Due: rust

test(security): cover trusted issuer vs external auth user_id collision
  core/server/src/http/jwt.rs
Due: rust

fix(security): guard trusted issuers against external auth user_id at decode time
  core/server/src/boot/listeners.rs
  core/server/src/http.rs
  core/server/src/http/jwt.rs
Due: rust

fix(security): gate GET_ME and SYNC_CONSUMER_GROUP for empty inline grants
  core/server/src/dispatch/reads.rs
Due: rust

debug traces
  core/server/src/dispatch/session_ops.rs
  core/server/src/http/handlers.rs
Due: rust

feat(security): add external auth plumbing
  core/configs/src/server_config/external_auth.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/authz.rs
  core/metadata/src/stm/mux.rs
  core/server/config.toml
  core/server/src/boot/listeners.rs
  core/server/src/boot/mod.rs
  core/server/src/boot/recovery.rs
  core/server/src/dispatch/authz.rs
  core/server/src/dispatch/failure.rs
  core/server/src/dispatch/login_error.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/reads.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/external_auth.rs
  core/server/src/http.rs
  core/server/src/http/extractor.rs
  core/server/src/http/handlers.rs
  core/server/src/http/jwt.rs
  core/server/src/http/reads.rs
  core/server/src/http/reply.rs
  core/server/src/http/state.rs
  core/server/src/http/submit.rs
  core/server/src/lib.rs
  core/server/src/server_error.rs
  core/server/src/session_manager.rs
  core/simulator/src/replica.rs
Due: rust

chore(connectors): bump iggy_connector_sdk to 0.5.0
  .claude/skills/connector-sdk/SKILL.md
  Cargo.lock
  Cargo.toml
  core/connectors/sdk/Cargo.toml
  core/connectors/sinks/influxdb_sink/dependencies.md
  core/connectors/sources/influxdb_source/dependencies.md
Due: rust

fix(connectors): read proto text that holds JSON as a document
  .claude/skills/connector-sink/SKILL.md
  core/connectors/sdk/src/lib.rs
  core/connectors/sinks/clickhouse_sink/README.md
  core/connectors/sinks/clickhouse_sink/src/body.rs
  core/connectors/sinks/delta_sink/Cargo.toml
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/doris_sink/README.md
  core/connectors/sinks/doris_sink/src/lib.rs
  core/connectors/sinks/elasticsearch_sink/src/lib.rs
  core/connectors/sinks/iceberg_sink/src/router/dynamic_router.rs
  core/connectors/sinks/iceberg_sink/src/router/mod.rs
  core/connectors/sinks/meilisearch_sink/src/lib.rs
  core/integration/tests/connectors/clickhouse/mod.rs
  core/integration/tests/connectors/clickhouse/proto_text.rs
  core/integration/tests/connectors/clickhouse/proto_text.toml
  core/integration/tests/connectors/clickhouse/proto_text_config/clickhouse_sink.toml
  core/integration/tests/connectors/doris/mod.rs
  core/integration/tests/connectors/doris/proto_text.rs
  core/integration/tests/connectors/doris/proto_text.toml
  core/integration/tests/connectors/doris/proto_text_config/doris_sink.toml
Due: rust

fix(connectors): index proto text that holds JSON in the Quickwit sink
  core/connectors/sinks/quickwit_sink/README.md
  core/connectors/sinks/quickwit_sink/src/lib.rs
Due: rust

fix(connectors): count sink runs and accumulate processed messages
  .claude/skills/connector-runtime/SKILL.md
  core/connectors/runtime/README.md
  core/connectors/runtime/src/benchmark.rs
  core/connectors/runtime/src/metrics.rs
  core/connectors/runtime/src/sink.rs
Due: rust

fix(connectors): read proto text that holds JSON in S3, SurrealDB and HTTP
  core/connectors/sinks/http_sink/README.md
  core/connectors/sinks/http_sink/src/lib.rs
  core/connectors/sinks/s3_sink/README.md
  core/connectors/sinks/s3_sink/src/formatter.rs
  core/connectors/sinks/surrealdb_sink/README.md
  core/connectors/sinks/surrealdb_sink/src/lib.rs
Due: rust

test(connectors): drive a proto tagged run through the sink container
  core/connectors/sdk/src/sink.rs
  core/connectors/sdk/src/transforms/proto_convert.rs
Due: rust

fix(connectors): return an error for an unsupported FlatBuffer pair
  core/connectors/sdk/src/transforms/flatbuffer_convert.rs
Due: rust

docs(connectors): state the multi-call batch contract for sink authors
  core/connectors/sdk/README.md
  core/connectors/sinks/README.md
  core/connectors/sinks/http_sink/src/lib.rs
  core/connectors/sinks/surrealdb_sink/README.md
Due: rust

refactor: add common connection keys, show deprecated warning for old keys
  core/common/src/types/configuration/quic_config/quic_connection_string_options.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config.rs
  core/common/src/types/configuration/tcp_config/tcp_connection_string_options.rs
  core/common/src/types/configuration/websocket_config/websocket_connection_string_options.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

tests: update core and client tests to show updated keys
  core/common/src/types/configuration/auth_config/connection_string.rs
  foreign/python/tests/test_client_config.py
  foreign/python/tests/test_connectivity.py
Due: rust

docs: update examples of how to use the new keys
  core/sdk/src/clients/client.rs
  foreign/cpp/include/iggy.hpp
Due: rust

fix(server): skip NUMA memory binding on a single-node host
  core/server/src/shard_allocator.rs
Due: rust

docs: update the README screenshots for 0.9.0
  assets/cli.png
  assets/server.png
  assets/web_ui.png
Due: none

refactor(gateways): prepare the Kafka gateway for parallel handler work (#4228)
  .config/nextest.toml
  gateways/kafka/README.md
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/offsets.rs
  gateways/kafka/src/bridge/iggy_bridge/produce.rs
  gateways/kafka/src/bridge/iggy_bridge/topics.rs
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/api_versions.rs
  gateways/kafka/src/protocol/handlers/create_topics.rs
  gateways/kafka/src/protocol/handlers/fetch.rs
  gateways/kafka/src/protocol/handlers/list_offsets.rs
  gateways/kafka/src/protocol/handlers/metadata.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/src/protocol/handlers/produce.rs
  gateways/kafka/src/protocol/responses.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
  gateways/kafka/tests/broker_advertise_tests.rs
  gateways/kafka/tests/common/iggy_server.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/listener_robustness_tests.rs
  gateways/kafka/tests/response_negative_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

fix(server): skip NUMA memory binding on a single-node host (#4243)
  core/server/src/shard_allocator.rs
Due: rust

refactor(server): split responses.rs by role and unify reply framing
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/consensus/reply_result.rs
  core/binary_protocol/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/server/src/boot/mod.rs
  core/server/src/consumer_group.rs
  core/server/src/dispatch/authz.rs
  core/server/src/dispatch/failure.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/reads.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/dispatch/submit.rs
  core/server/src/http/handlers.rs
  core/server/src/http/reads.rs
  core/server/src/http/reply.rs
  core/server/src/http/submit.rs
  core/server/src/http/wire.rs
  core/server/src/lib.rs
  core/server/src/namespace.rs
  core/server/src/reply_frame.rs
  core/server/src/responses.rs
  core/server/src/session_manager.rs
  core/server/src/sysinfo_probe.rs
Due: rust

docs: refresh the README (#4208)
  README.md
  assets/cli.png
  assets/server.png
  assets/web_ui.png
Due: none

fixes
  bdd/cpp/features/step_definitions/background_steps.cpp
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

refactor(server): split responses.rs by role and unify reply framing (#4089)
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/consensus/reply_result.rs
  core/binary_protocol/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/server/src/boot/mod.rs
  core/server/src/consumer_group.rs
  core/server/src/dispatch/authz.rs
  core/server/src/dispatch/failure.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/reads.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/dispatch/submit.rs
  core/server/src/http/handlers.rs
  core/server/src/http/reads.rs
  core/server/src/http/reply.rs
  core/server/src/http/submit.rs
  core/server/src/http/wire.rs
  core/server/src/lib.rs
  core/server/src/namespace.rs
  core/server/src/reply_frame.rs
  core/server/src/responses.rs
  core/server/src/session_manager.rs
  core/server/src/sysinfo_probe.rs
Due: rust

fix(cluster): stop partition repair asking for an inverted op range
  core/partitions/src/iggy_partition.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
