Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

Harden Elasticsearch connector tests
  core/connectors/sinks/elasticsearch_sink/src/lib.rs
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
  core/integration/tests/connectors/fixtures/elasticsearch/source.rs
Due: rust

fix(connectors): avoid ES fixture readiness hang Use short-timeout probes without retries for cluster health and stale index sweep, and cap docker rm so a wedged daemon cannot stall setup.
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
Due: rust

feat(connectors): add MySQL source polling connector
  .github/workflows/_build_rust_artifacts.yml
  Cargo.lock
  Cargo.toml
  core/connectors/sources/README.md
  core/connectors/sources/mysql_source/Cargo.toml
  core/connectors/sources/mysql_source/README.md
  core/connectors/sources/mysql_source/config.toml
  core/connectors/sources/mysql_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/mysql/container.rs
  core/integration/tests/connectors/fixtures/mysql/mod.rs
  core/integration/tests/connectors/fixtures/mysql/source.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/mysql/mod.rs
  core/integration/tests/connectors/mysql/mysql_source.rs
  core/integration/tests/connectors/mysql/source.toml
Due: rust

feat(connectors): add FlatBuffer BFBS schema loader
  Cargo.lock
  Cargo.toml
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/src/flatbuffer/mod.rs
  core/connectors/sdk/src/flatbuffer/schema.rs
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/tests/fixtures/flatbuffer/types.bfbs
  core/connectors/sdk/tests/fixtures/flatbuffer/types.fbs
  core/connectors/sdk/tests/fixtures/flatbuffer/user.bfbs
  licenserc.toml
Due: rust

test(bdd): run Rust BDD against iggy-server-ng with VSR
  .dockerignore
  .github/config/components.yml
  .github/workflows/_test_bdd.yml
  bdd/README.md
  bdd/docker-compose.coverage.yml
  bdd/docker-compose.vsr.yml
  bdd/docker-compose.yml
  bdd/rust/Cargo.toml
  core/server-ng/Cargo.toml
  scripts/run-bdd-tests.sh
Due: rust

fix(python): raise ValueError on unrepresentable message expiry duration
  foreign/python/src/topic.rs
Due: none

fix(connectors): restore opensearch workspace dependency
  Cargo.toml
Due: none

add high level client
  bdd/cpp/features/step_definitions/background_steps.cpp
  bdd/cpp/features/step_definitions/messaging_steps.cpp
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fix ci
  foreign/cpp/src/client.rs
Due: none

fix(connectors): silence unused RecoveryLock field for clippy
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
Due: rust

feat(connectors): add structured payload adapters
  core/connectors/sdk/src/encoders/flatbuffer.rs
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/structured.rs
Due: rust

fix(connectors): harden JDBC source incremental cursor and null handling
  core/connectors/sources/jdbc_source/README.md
  core/connectors/sources/jdbc_source/src/lib.rs
Due: rust

docs(connectors): caveat non-unique timestamp tracking columns in JDBC examples
  core/connectors/sources/jdbc_source/README.md
Due: rust

test(integration): spec clients-table durability across node restart
  core/integration/tests/cluster/client_table_restart.rs
  core/integration/tests/cluster/mod.rs
  core/integration/tests/mod.rs
Due: rust

test(bdd): run Rust BDD against iggy-server-ng with VSR (#3732)
  .dockerignore
  .github/config/components.yml
  .github/workflows/_test_bdd.yml
  bdd/README.md
  bdd/docker-compose.coverage.yml
  bdd/docker-compose.vsr.yml
  bdd/docker-compose.yml
  bdd/rust/Cargo.toml
  core/server-ng/Cargo.toml
  scripts/run-bdd-tests.sh
Due: rust

fix(python): pin python version and add uv caching (#3690)
  .typos.toml
  bdd/python/.python-version
  examples/python/.gitignore
  examples/python/.python-version
  foreign/python/.gitignore
  foreign/python/.python-version
  foreign/python/pyproject.toml
  licenserc.toml
  scripts/ci/sync-python-interpreter-version.sh
Due: none

feat(bench): record cluster topology in reports and surface it in UI
  Cargo.lock
  core/bench/dashboard/frontend/assets/style.css
  core/bench/dashboard/frontend/src/components/layout/benchmark_meta.rs
  core/bench/dashboard/frontend/src/components/layout/sidebar.rs
  core/bench/dashboard/frontend/src/components/layout/sweep_view.rs
  core/bench/dashboard/frontend/src/components/selectors/benchmarks_list.rs
  core/bench/dashboard/frontend/src/components/selectors/dense_benchmark_row.rs
  core/bench/dashboard/frontend/src/state/ui.rs
  core/bench/dashboard/shared/src/lib.rs
  core/bench/dashboard/shared/src/subtext.rs
  core/bench/report/src/types/cluster.rs
  core/bench/report/src/types/mod.rs
  core/bench/report/src/types/report.rs
  core/bench/src/analytics/report_builder.rs
  core/bench/src/runner.rs
  core/server-ng/Cargo.toml
Due: rust

fix(ci): use non-bash shell compatible command for pre-commit hooks
  scripts/ci/license-headers.sh
  scripts/ci/python-sdk-version-sync.sh
  scripts/ci/sync-python-interpreter-version.sh
  scripts/ci/sync-rustc-version.sh
  scripts/verify-crates-publish.sh
Due: none

fix(connectors): fix postgres source CDC producing no messages (#3640)
  .gitignore
  core/connectors/sources/postgres_source/README.md
  core/connectors/sources/postgres_source/src/cdc_fixtures.rs
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/postgres/cdc.rs
  core/integration/tests/connectors/fixtures/postgres/container.rs
  core/integration/tests/connectors/fixtures/postgres/mod.rs
  core/integration/tests/connectors/postgres/cdc_restart_connectors/config.toml
  core/integration/tests/connectors/postgres/mod.rs
  core/integration/tests/connectors/postgres/postgres_source_cdc.rs
  core/integration/tests/connectors/postgres/source_cdc_restart.toml
Due: rust

feat(bench): record cluster topology in reports and surface it in UI (#3737)
  Cargo.lock
  core/bench/dashboard/frontend/assets/style.css
  core/bench/dashboard/frontend/src/components/layout/benchmark_meta.rs
  core/bench/dashboard/frontend/src/components/layout/sidebar.rs
  core/bench/dashboard/frontend/src/components/layout/sweep_view.rs
  core/bench/dashboard/frontend/src/components/selectors/benchmarks_list.rs
  core/bench/dashboard/frontend/src/components/selectors/dense_benchmark_row.rs
  core/bench/dashboard/frontend/src/state/ui.rs
  core/bench/dashboard/shared/src/lib.rs
  core/bench/dashboard/shared/src/subtext.rs
  core/bench/report/src/types/cluster.rs
  core/bench/report/src/types/mod.rs
  core/bench/report/src/types/report.rs
  core/bench/src/analytics/report_builder.rs
  core/bench/src/runner.rs
  core/server-ng/Cargo.toml
Due: rust

feat(server-ng): add cluster.heartbeat_timeout for VSR liveness window
  core/configs/src/lib.rs
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/mod.rs
  core/configs/src/server_ng_config/server_ng.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/vsr_timeout.rs
  core/integration/tests/server/message_retrieval.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/cluster_meta.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/partition_helpers.rs
Due: rust

docs: update the README file
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/README.md
Due: java

feat(connectors): use TCP client for Flink sink
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/sink/IggySink.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/sink/IggySinkWriter.java
Due: java

refactor(connector): unify TCP address parsing
  foreign/java/.gitignore
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/config/TcpEndpoint.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/sink/IggySink.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/sink/IggySinkWriter.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/source/IggySource.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/test/java/org/apache/iggy/connector/config/TcpEndpointTest.java
Due: java

fix(connector): address review comments
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/sink/IggySinkWriter.java
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/source/IggySource.java
Due: java

chore: just test java-gradle-check hook
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/source/IggySource.java
Due: java

feat(server-ng): add cluster.heartbeat_timeout for VSR liveness window (#3738)
  core/configs/src/lib.rs
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/mod.rs
  core/configs/src/server_ng_config/server_ng.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/vsr_timeout.rs
  core/integration/tests/server/message_retrieval.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/cluster_meta.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/partition_helpers.rs
Due: rust

test(python): drop redundant all-flags permission tests
  foreign/python/tests/test_permissions.py
Due: none

test(python): move no-permissions check into test_create_and_get_user
  foreign/python/tests/test_permissions.py
  foreign/python/tests/test_user.py
Due: none

test(python): cover permission update authorization and double logout
  foreign/python/tests/test_permissions.py
Due: none

fix(connectors): trigger Airflow by poll batch, not per message
  core/connectors/runtime/example_config/connectors/airflow_sink.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/airflow_sink/README.md
  core/connectors/sinks/airflow_sink/config.toml
  core/connectors/sinks/airflow_sink/src/lib.rs
  core/integration/tests/connectors/airflow/airflow_sink.rs
Due: rust

fix(integration): address java-gradle-check hook
  .pre-commit-config.yaml
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/main/java/org/apache/iggy/connector/flink/source/IggySource.java
Due: java

fix(ci): propagate failures from multi-project hooks
  .pre-commit-config.yaml
Due: none

feat(server-ng): forward follower HTTP requests to VSR primary
  Cargo.lock
  core/configs/src/server_ng_config/validators.rs
  core/server-ng/Cargo.toml
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/extractor.rs
  core/server-ng/src/http/forward.rs
  core/server-ng/src/http/jwt.rs
  core/server-ng/src/http/reply.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/submit.rs
  core/server-ng/src/server_error.rs
Due: rust

fix(connectors): remove first-schema-wins sink batching
  core/connectors/runtime/src/sink.rs
Due: rust

fix(consensus): bound pipeline asserts by configured depth, not const
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
Due: rust

feat(server-ng): add commit broadcast and prepare retransmit intervals
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/consensus/src/impls.rs
  core/consensus/src/vsr_timeout.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
Due: rust

feat(server-ng): make HTTP write admission caps configurable
  core/configs/src/lib.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/http_admission.rs
  core/configs/src/server_ng_config/mod.rs
  core/configs/src/server_ng_config/server_ng.rs
  core/configs/src/server_ng_config/validators.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/admission.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/session.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/submit.rs
Due: rust
