Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

feat(swift): add the VSR protocol layer with request and reply codecs
  foreign/swift/README.md
  foreign/swift/Sources/Iggy/Models/ResourceOptions.swift
  foreign/swift/Sources/Iggy/Protocol/Batch.swift
  foreign/swift/Sources/Iggy/Protocol/CommandCode.swift
  foreign/swift/Sources/Iggy/Protocol/ConsensusOperation.swift
  foreign/swift/Sources/Iggy/Protocol/ConsensusSession.swift
  foreign/swift/Sources/Iggy/Protocol/ProtocolVersion.swift
  foreign/swift/Sources/Iggy/Protocol/Requests.swift
  foreign/swift/Sources/Iggy/Protocol/Responses.swift
  foreign/swift/Sources/Iggy/Protocol/VSRFrame.swift
  foreign/swift/Sources/Iggy/Wire/ByteCodec.swift
  foreign/swift/Tests/IggyTests/ModelTests.swift
  foreign/swift/Tests/IggyTests/ProtocolTests.swift
  foreign/swift/Tests/IggyTests/ResponseVectorTests.swift
  foreign/swift/Tests/IggyTests/Support/GoldenFixture.swift
  foreign/swift/Tests/IggyTests/WireVectorTests.swift
Due: none

fix(partitions): fence install backup on writeback failure
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/simulator/src/storage/tests.rs
Due: rust

docs(partitions): explain original-writer barriers
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/simulator/src/storage/tests.rs
Due: rust

refactor(partitions): separate file sync from checkpoints
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/lib.rs
  core/partitions/src/persistence.rs
  core/simulator/src/storage/tests.rs
Due: rust

fix(partitions): preserve install barrier proof and timeout retry
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
Due: rust

fix(sdk): require login after explicit disconnect
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/websocket/websocket_client.rs
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/src/send_message.rs
  foreign/python/tests/test_producer.py
Due: rust

fix(server): restore startup and buffered recovery
  .github/actions/rust/pre-merge/action.yml
  core/common/src/types/streaming_stats.rs
  core/consensus/src/impls.rs
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/cluster/crash_recovery_corruption.rs
  core/integration/tests/server/descriptor_exhaustion_vsr.rs
  core/integration/tests/server/http_vsr.rs
  core/integration/tests/server/scenarios/consumer_group_new_messages_after_restart_scenario.rs
  core/journal/src/partition_journal.rs
  core/journal/src/partition_journal/segments.rs
  core/message_bus/src/connection_cap.rs
  core/message_bus/tests/head_of_line.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/partition_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/tests/consumer_offset_history.rs
  core/sdk/src/clients/producer.rs
  core/sdk/src/clients/producer_builder.rs
  core/server/README.md
  core/server/src/boot/mod.rs
  core/server/src/boot/recovery.rs
  core/server/src/boot/threads.rs
  core/server/src/dispatch/host.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/reads.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/main.rs
  core/server/src/partition_helpers.rs
  core/server_common/src/poll.rs
  core/simulator/src/lib.rs
  core/simulator/src/storage/tests.rs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/HeartbeatTests.cs
  foreign/csharp/README.md
  foreign/python/src/client.rs
  foreign/swift/Tools/golden-vectors/src/main.rs
  justfile
Due: rust

feat(connectors): add Google BigQuery sink connector
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/bigquery_sink.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/bigquery_sink/Cargo.toml
  core/connectors/sinks/bigquery_sink/README.md
  core/connectors/sinks/bigquery_sink/config.toml
  core/connectors/sinks/bigquery_sink/src/client.rs
  core/connectors/sinks/bigquery_sink/src/encode.rs
  core/connectors/sinks/bigquery_sink/src/error.rs
  core/connectors/sinks/bigquery_sink/src/lib.rs
  core/connectors/sinks/bigquery_sink/src/schema.rs
  core/connectors/sinks/bigquery_sink/src/sink.rs
  core/connectors/sinks/bigquery_sink/tests/bigquery_sink.rs
  core/connectors/sinks/bigquery_sink/tests/common/mod.rs
Due: rust

fix(java): address review feedback on delete_segments
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/PartitionsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PartitionsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/PartitionsClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/PartitionsClientBaseTest.java
Due: java

fix(csharp): adjust connection string retry logic to cap at Int32.MaxValue
  foreign/csharp/Iggy_SDK/Configuration/ConnectionString.cs
  foreign/csharp/Iggy_SDK/Utils/IggyDurationParser.cs
  foreign/csharp/Iggy_SDK_Tests/ClientTests/ConnectionStringTests.cs
  foreign/csharp/README.md
Due: none

feat(java): expose consumer offset deletion
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/ConsumerOffsetsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/ConsumerOffsetsClientBaseTest.java
Due: java

style(partitions): format install backup resolution
  core/partitions/src/install_backup.rs
Due: rust

fix(partitions): retain fsync diagnostics in install barrier
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/messages_writer.rs
Due: rust

fix(partitions): sync install backup files concurrently
  core/partitions/src/install_backup.rs
Due: rust

Address review comments: inline the poll helpers and add purge failure tests
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/StreamClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/TopicsClientBaseTest.java
Due: none

fix(consensus): reject invalid bindings and trim retry overhead
  core/common/src/traits/binary_transport.rs
  core/consensus/src/impls.rs
  core/journal/src/partition_journal/segments.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/tcp/tcp_client.rs
  core/server/src/http/submit.rs
  foreign/go/README.md
  foreign/go/client/tcp/tcp_poll_routing.go
  foreign/go/client/tcp/tcp_poll_routing_test.go
  foreign/go/client/tcp/tcp_testing_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodec.java
  foreign/node/README.md
  foreign/node/scripts/check-vsr-protocol.mjs
Due: rust, java

feat(python): return IdentityInfo from login
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/src/user.rs
  foreign/python/tests/test_http_config.py
  foreign/python/tests/test_user.py
Due: none

test(python): clean up login identity coverage
  foreign/python/apache_iggy.pyi
  foreign/python/tests/test_user.py
Due: none

fix(partitions): exercise install backup through persistence barrier
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/simulator/src/storage/tests.rs
Due: rust

fix(partitions): retain offset writers after barrier truncation
  core/partitions/src/persistence.rs
  core/simulator/src/storage/tests.rs
Due: rust

test(python): expand login identity coverage
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_http_config.py
  foreign/python/tests/test_user.py
Due: none

fix(configs): resolve remaining simplification requests from review
  core/configs/src/configs_impl/env_mapping.rs
  core/configs/src/server_config/server.rs
  core/connectors/runtime/src/configs/connectors.rs
  core/connectors/runtime/src/configs/connectors/local_provider.rs
  core/connectors/runtime/src/main.rs
  core/server/src/main.rs
  core/server/src/main.rs.save
Due: rust

fix(configs): complete environment variable listing
  core/ai/mcp/src/main.rs
  core/configs/src/configs_impl/env_listing.rs
  core/configs/src/configs_impl/env_mapping.rs
  core/configs/src/configs_impl/mod.rs
  core/configs/src/configs_impl/typed_env_provider.rs
  core/configs/src/lib.rs
  core/configs_derive/src/config_env.rs
  core/connectors/runtime/src/main.rs
  core/integration/tests/config_env_listing/mod.rs
  core/server/src/args.rs
Due: rust

fix(partitions): preserve transferred retry checkpoints
  core/common/src/error/iggy_error.rs
  core/consensus/src/client_table.rs
  core/journal/src/partition_journal/segments.rs
  core/message_bus/src/replica/handshake.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/clients/producer.rs
  core/sdk/src/session.rs
  core/simulator/src/storage/tests.rs
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodecTest.java
Due: rust

fix(sdk): sync Swift error codes and golden fixtures
  foreign/swift/Sources/Iggy/Errors/IggyErrorCode.swift
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
Due: none

Initial version of Delete Topics implementation
  gateways/kafka/src/protocol/handlers/delete_topics.rs
  gateways/kafka/tests/delete_topics_real_bridge_tests.rs
Due: none

adding boound guards and end to end tests
  .config/nextest.toml
  gateways/kafka/docs/BRIDGE_MAPPING.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/src/bridge/iggy_bridge/topics.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/bounds_guard.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/tests/common/scope.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/kafka_client_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

Updating after quick review
  gateways/kafka/src/protocol/handlers/delete_topics.rs
Due: none

docs(connectors): point connector-sdk skill at the consuming JSON converter
  .claude/skills/connector-sdk/SKILL.md
Due: none

perf(connectors): stop cloning JSON leaves when the caller already owns them
  core/connectors/sdk/src/encoders/avro.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/http_sink/src/lib.rs
  core/connectors/sinks/meilisearch_sink/src/lib.rs
  core/connectors/sinks/s3_sink/src/formatter.rs
  core/connectors/sinks/s3_sink/src/sink.rs
  core/connectors/sinks/surrealdb_sink/src/lib.rs
Due: rust

perf(connectors): add a consuming OwnedValue-to-serde_json converter
  core/connectors/sdk/src/convert.rs
  core/connectors/sdk/src/lib.rs
Due: rust

fix(connectors): repair BigQuery sink rustdoc links
  core/connectors/sinks/bigquery_sink/src/lib.rs
Due: rust

fix(connectors): address BigQuery sink review feedback
  Cargo.lock
  core/connectors/sinks/bigquery_sink/Cargo.toml
  core/connectors/sinks/bigquery_sink/src/encode.rs
  core/connectors/sinks/bigquery_sink/src/error.rs
  core/connectors/sinks/bigquery_sink/src/lib.rs
  core/connectors/sinks/bigquery_sink/src/sink.rs
Due: rust

test(connectors): stage a skipped count in the Fluss all-skipped test
  core/connectors/sources/fluss_source/src/lib.rs
Due: rust

chore(connectors): fix flaky test
  core/connectors/sources/mysql_source/src/lib.rs
  core/integration/tests/connectors/mysql/mysql_source.rs
Due: rust

Implementing review commands.
  gateways/kafka/docs/CONFIGS.md
  gateways/kafka/src/protocol/handlers/alter_configs.rs
  gateways/kafka/src/protocol/handlers/describe_configs.rs
  gateways/kafka/src/protocol/handlers/topic_config.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/configs_handler_tests.rs
  gateways/kafka/tests/configs_java_client_tests.rs
  gateways/kafka/tests/configs_real_bridge_tests.rs
Due: none

feat(connectors): Add ack/nack logic to cover delete_after_read/processed_row bug
  core/connectors/sources/mysql_source/README.md
  core/connectors/sources/mysql_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/mysql/mod.rs
  core/integration/tests/connectors/fixtures/mysql/source.rs
  core/integration/tests/connectors/mysql/mysql_source.rs
Due: rust

feat(gateways): accept retention.minutes and retention.hours
  gateways/kafka/docs/CONFIGS.md
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/alter_configs.rs
  gateways/kafka/src/protocol/handlers/describe_configs.rs
  gateways/kafka/src/protocol/handlers/topic_config.rs
  gateways/kafka/tests/configs_handler_tests.rs
Due: none
