Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

refactor(partitions): separate file sync from checkpoints
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/lib.rs
  core/partitions/src/persistence.rs
  core/simulator/src/storage/tests.rs
Due: rust

fix(partitions): preserve install barrier proof and timeout retry
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/io.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
Due: rust

docs(partitions): explain original-writer barriers
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/simulator/src/storage/tests.rs
Due: rust

fix(partitions): retain fsync diagnostics in install barrier
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/messages_writer.rs
Due: rust

style(partitions): format install backup resolution
  core/partitions/src/install_backup.rs
Due: rust

fix(partitions): sync install backup files concurrently
  core/partitions/src/install_backup.rs
Due: rust

fix(partitions): exercise install backup through persistence barrier
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/io.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/simulator/src/storage/tests.rs
Due: rust

fix(partitions): use file sync barrier during checkpoint
  core/partitions/src/iggy_partition.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
Due: rust

fix(partitions): retain install barriers across truncation
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/install_backup.rs
  core/partitions/src/lib.rs
  core/partitions/src/persistence.rs
  core/simulator/src/storage/tests.rs
Due: rust

fix(partitions): retain offset writers after barrier truncation
  core/partitions/src/persistence.rs
  core/simulator/src/storage/tests.rs
Due: rust

test(connectors): expand Iggy source coverage
  Cargo.lock
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

build(connectors): include Iggy source in release artifacts
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  scripts/bump-version.sh
Due: none

docs(connectors): clarify latest offset retry risk
  core/connectors/sources/iggy_source/config.toml
Due: rust

feat(connectors): commit Iggy source state after batch ACK
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

fix(connectors): reject malformed Iggy source batches
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

feat(connectors): Add Iggy source connector
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/iggy_source.toml
  core/connectors/sources/README.md
  core/connectors/sources/iggy_source/Cargo.toml
  core/connectors/sources/iggy_source/config.toml
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/mod.rs
  core/integration/tests/connectors/iggy_source/replication.rs
  core/integration/tests/connectors/iggy_source/source.toml
  core/integration/tests/connectors/mod.rs
Due: rust

fix(connectors): validate Iggy source batch size
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/src/lib.rs
Due: rust

fix(connectors): adapt Iggy source retry backoff
  core/connectors/sources/iggy_source/src/lib.rs
Due: rust

fix(connectors): back off after invalid source offsets
  core/connectors/sources/iggy_source/src/lib.rs
Due: rust

fix(connectors): reset source offsets after topic recreation
  core/connectors/runtime/example_config/connectors/iggy_source.toml
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/config.toml
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

fix(connectors): harden Iggy source startup and polling
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/src/lib.rs
Due: rust

fix(connectors): isolate Iggy source poll failures
  core/connectors/runtime/example_config/connectors/iggy_source.toml
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/config.toml
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

test(integration): add chaos monkey to catch data loss under node kills (#4407)
  .config/nextest.toml
  core/configs/src/configs_impl/file_provider.rs
  core/configs/src/server_config/server.rs
  core/integration/src/harness/config/server.rs
  core/integration/src/harness/disk.rs
  core/integration/src/harness/handle/server.rs
  core/integration/tests/cluster/chaos_monkey.rs
  core/integration/tests/cluster/chaos_monkey/report.rs
  core/integration/tests/cluster/mod.rs
  core/integration/tests/mod.rs
Due: rust

fix(cli): clarify errors and limit keyring lookups
  core/cli/src/credentials.rs
  core/cli/src/main.rs
  core/common/src/types/args/mod.rs
  core/integration/tests/cli/general/test_unknown_transport.rs
  core/integration/tests/cli/system/test_me_command.rs
Due: rust

fix(cli): resolve server address for ws transport (#4482)
  core/cli/src/credentials.rs
  core/cli/src/error.rs
  core/cli/src/main.rs
  core/common/src/types/args/mod.rs
  core/integration/tests/cli/common/mod.rs
  core/integration/tests/cli/general/mod.rs
  core/integration/tests/cli/general/test_unknown_transport.rs
  core/integration/tests/cli/personal_access_token/test_pat_create_command.rs
  core/integration/tests/cli/personal_access_token/test_pat_delete_command.rs
  core/integration/tests/cli/system/mod.rs
  core/integration/tests/cli/system/test_cli_session_scenario.rs
  core/integration/tests/cli/system/test_me_command.rs
  core/integration/tests/cli/system/test_session_status_cmd.rs
Due: rust

fix(connectors): retire key and version env overrides gracefully
  core/configs/src/configs_impl/typed_env_provider.rs
  core/connectors/runtime/src/configs/connectors.rs
Due: rust

fix(java): break a poll timeout deadlock and fence raw requests
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/MessagesClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PartitionContexts.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PartitionsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PollRouter.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/RawPartitionRequests.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/ConsensusSession.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/IggyBaseClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/MessagesClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/IggyHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/MessagesHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/PartitionsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/SendContexts.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/StreamsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/TopicsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyErrorCode.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/message/PollingStrategy.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientPartitionContextTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientRawRequestTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientSendContextCacheTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionLifecycleBusyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/PollRouterTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrRequestEncoderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/MessagesHttpClientSendContextTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyErrorCodeTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PollingStrategyTest.java
Due: java

fix(cpp): pass partition contexts through polls and offset stores
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fix(metadata): refuse consumer groups beyond the owner catalog bound
  core/common/src/error/iggy_error.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/result.rs
  core/simulator/src/workload/ops/create_consumer_group.rs
Due: rust

fix(partitions): apply one history rule at admission and promotion
  core/partitions/src/iggy_partition.rs
Due: rust

fix(csharp): stop consumers skipping messages of recreated partitions
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.Rented.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerOfT.cs
  foreign/csharp/Iggy_SDK/Consumers/ReceivedMessage.cs
  foreign/csharp/Iggy_SDK/Consumers/ReceivedRentedMessage.cs
  foreign/csharp/Iggy_SDK/Contracts/Http/MessageSendRequest.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyConsumer.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyConsumerGroup.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyOffset.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.PollRouting.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/JsonConverters/MessagesConverter.cs
  foreign/csharp/Iggy_SDK/Kinds/PollingStrategy.cs
  foreign/csharp/Iggy_SDK/Vsr/ConsumerGroupClientState.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrError.cs
  foreign/csharp/Iggy_SDK_Tests/ClientTests/HttpPartitionContextTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/ConsumerSessionGenerationTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/NoAssignedPartitionBackoffTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/OffsetContinuationTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/PartitionIncarnationTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/RentedConsumerTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/RentedTypedConsumerTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/EndpointFailoverTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/GroupPollingTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/MockNode.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/PartitionContextTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/PrimaryPollingTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/VsrProtocolDriftTests.cs
Due: none

fix(sdk): retry 88 outside the lock and give raw requests a context
  core/common/src/traits/binary_impls/messages.rs
  core/common/src/traits/binary_impls/mod.rs
  core/common/src/traits/binary_transport.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
Due: rust

fix(java): report an unknown outcome when an HTTP resend is refused
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/InternalHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/MessagesHttpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/MessagesHttpClientSendContextTest.java
Due: java

fix(shard): serve group polls only to the installed partition owner
  core/metadata/src/stm/stream.rs
  core/partitions/src/iggy_partition.rs
  core/shard/src/lib.rs
  core/shard/src/poll.rs
  core/shard/src/poll/completion_tests.rs
Due: rust

test(integration): wait for the group owner in the storage-compat test
  core/integration/tests/data_integrity/storage_compat.rs
Due: rust

fix(node): keep contexts of re-issued commands and route offset writes
  foreign/node/README.md
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.type.ts
  foreign/node/src/wire/command.utils.ts
  foreign/node/src/wire/error.code.test.ts
  foreign/node/src/wire/error.code.ts
  foreign/node/src/wire/error.utils.ts
  foreign/node/src/wire/message/poll-messages.command.test.ts
  foreign/node/src/wire/message/poll-messages.command.ts
  foreign/node/src/wire/message/send-messages.command.test.ts
  foreign/node/src/wire/message/send-messages.command.ts
  foreign/node/src/wire/offset/delete-offset.command.ts
  foreign/node/src/wire/offset/offset-write.command.test.ts
  foreign/node/src/wire/offset/store-offset.command.ts
Due: none

fix(php): let held messages commit under their own context
  foreign/php/README.md
  foreign/php/iggy-php.stubs.php
  foreign/php/src/client.rs
  foreign/php/src/consumer.rs
  foreign/php/src/lib.rs
  foreign/php/src/message_iterator.rs
  foreign/php/src/receive_message.rs
  foreign/php/tests/IggySdkTest.php
Due: none

fix(go): route offset writes to the primary and fence raw requests
  foreign/go/client/tcp/cluster.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_review_test.go
  foreign/go/client/tcp/tcp_core_test.go
  foreign/go/client/tcp/tcp_group_polling.go
  foreign/go/client/tcp/tcp_messaging.go
  foreign/go/client/tcp/tcp_offset_management.go
  foreign/go/client/tcp/tcp_partition_management.go
  foreign/go/client/tcp/tcp_poll_routing.go
  foreign/go/client/tcp/tcp_poll_routing_test.go
  foreign/go/client/tcp/tcp_topic_cache.go
  foreign/go/client/tcp/tcp_topic_cache_test.go
  foreign/go/contracts/client.go
  foreign/go/contracts/message_polling.go
  foreign/go/errors/errors.yaml
  foreign/go/errors/errors_gen.go
  foreign/go/errors/errors_test.go
Due: none

fix(sdk): report failed background offset commits again
  core/common/src/traits/consumer_offset_client.rs
  core/common/src/traits/message_client.rs
  core/sdk/src/clients/consumer.rs
Due: rust
