Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

Escape newlines in InfluxDB; add cursor row tracking
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sources/influxdb_source/src/lib.rs
  core/integration/tests/connectors/influxdb/influxdb_sink_formats.rs
  core/integration/tests/connectors/influxdb/influxdb_source_formats.rs
Due: rust

extract validation methods to reduce cyclomatic and npath complexity
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
Due: java

update comment
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
Due: none

fix: use `RangeInclusive`
  core/journal/src/lib.rs
  core/journal/src/metadata_journal.rs
  core/metadata/src/impls/metadata.rs
Due: rust

Add short flags for credentials, match existing descriptions, fix help tests
  core/cli/src/args/context.rs
  core/integration/tests/cli/context/test_context_create_command.rs
Due: rust

fix ipv4 datatype binary conversion
  Cargo.lock
  core/connectors/sinks/clickhouse_sink/src/binary.rs
  core/connectors/sinks/clickhouse_sink/src/schema.rs
Due: rust

Add unit tests for context create/delete to improve CLI patch coverage
  Cargo.lock
  core/cli/Cargo.toml
  core/cli/src/args/context.rs
  core/cli/src/commands/binary_context/common.rs
  core/cli/src/commands/binary_context/create_context.rs
  core/integration/tests/cli/context/test_context_create_command.rs
Due: rust

Add ContextReaderWriter and edge-case tests for context common.rs coverage
  core/cli/src/commands/binary_context/common.rs
Due: rust

add check and test to prevent overflowing maximum integer before passing to Netty's configuration for connection timeout
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
Due: java

ci: align helm smoke script with chart defaults
  .github/workflows/_test.yml
  helm/charts/iggy/README.md
  helm/charts/iggy/templates/hpa.yaml
  scripts/ci/test-helm.sh
Due: none

docs: clarify helm smoke test local gotchas
  helm/charts/iggy/README.md
Due: none

fix(go): update stats field to align with rust SDK
  examples/go/go.sum
  foreign/go/binary_serialization/stats_serializer.go
  foreign/go/binary_serialization/stats_serializer_test.go
  foreign/go/client/tcp/tcp_utilities.go
  foreign/go/contracts/stats.go
  foreign/go/contracts/stats_test.go
  foreign/go/go.mod
Due: none

chore(go): improve test coverage
  foreign/go/contracts/stats_test.go
Due: none

ci: allow `deps-dev` scope in PR title
  .github/workflows/_common.yml
Due: none

test(go): add individual field tests and use asymmetric values for Permissions
  foreign/go/contracts/users_test.go
Due: none

fix(go): correct gofmt alignment in test file
  foreign/go/contracts/users_test.go
Due: none

rework the message
  Cargo.lock
  core/common/Cargo.toml
  core/common/src/lib.rs
  core/common/src/types/consensus/message.rs
  core/common/src/types/mod.rs
  core/common/src/types/send_messages2.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/plane_mux.rs
  core/iobuf/Cargo.toml
  core/iobuf/src/lib.rs
  core/message_bus/src/lib.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/mod.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/types.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/bus.rs
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
  core/simulator/src/packet.rs
Due: rust

fix build and clippy
  Cargo.lock
  core/binary_protocol/Cargo.toml
  core/binary_protocol/src/consensus/message.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/common/Cargo.toml
  core/common/src/types/consensus/message.rs
  core/common/src/types/send_messages2.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/stm/mod.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
Due: rust

fix licence
  core/partitions/src/iggy_index.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/segment.rs
Due: rust

ci: wait for ingress-nginx webhook in helm smoke setup
  scripts/ci/setup-helm-smoke-cluster.sh
Due: none

docs: fix helm chart image tag default
  helm/charts/iggy/README.md
Due: none

ci: fix shellcheck warning in helm smoke setup
  scripts/ci/setup-helm-smoke-cluster.sh
Due: none

fix ci
  Cargo.lock
  Cargo.toml
  core/common/Cargo.toml
  core/iobuf/Cargo.toml
  core/message_bus/Cargo.toml
  core/metadata/Cargo.toml
  core/partitions/Cargo.toml
  core/simulator/Cargo.toml
Due: rust

feat(ci): add version bump tooling and consistency checks
  .github/workflows/_common.yml
  .pre-commit-config.yaml
  scripts/bump-version.sh
  scripts/ci/python-sdk-version-sync.sh
  scripts/ci/shellcheck.sh
  scripts/extract-version.sh
Due: none

review changes
  core/common/src/error/iggy_error.rs
  core/common/src/types/send_messages2.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
Due: rust

Fix Helm smoke readiness waits and template whitespace
  helm/charts/iggy/templates/hpa.yaml
  helm/charts/iggy/templates/ingress.yaml
  scripts/ci/setup-helm-smoke-cluster.sh
Due: none

Address reviewer feedback: file permissions, validation, async consistency, round-trip safety
  core/cli/src/args/context.rs
  core/cli/src/commands/binary_context/common.rs
  core/cli/src/commands/binary_context/create_context.rs
  core/cli/src/commands/binary_context/delete_context.rs
Due: rust

test(go): increase Go SDK Codecov coverage with comprehensive unit tests
  codecov.yml
  foreign/go/binary_serialization/binary_response_deserializer_test.go
  foreign/go/contracts/cluster_node_test.go
  foreign/go/contracts/consumer_test.go
  foreign/go/contracts/identifier_test.go
  foreign/go/contracts/message_header_test.go
  foreign/go/contracts/message_polling_test.go
  foreign/go/contracts/messages_test.go
  foreign/go/contracts/meta_data_test.go
  foreign/go/contracts/node_status_test.go
  foreign/go/contracts/partitions_test.go
  foreign/go/contracts/role_test.go
  foreign/go/contracts/transport_endpoints_test.go
  foreign/go/contracts/user_headers_test.go
  foreign/go/contracts/users_test.go
  foreign/go/internal/command/access_token_test.go
  foreign/go/internal/command/consumer_group_test.go
  foreign/go/internal/command/offset_test.go
  foreign/go/internal/command/partition_test.go
  foreign/go/internal/command/stream_test.go
  foreign/go/internal/command/system_test.go
  foreign/go/internal/command/topic_test.go
  foreign/go/internal/command/update_user.go
  foreign/go/internal/command/update_user_test.go
  foreign/go/internal/command/user.go
  foreign/go/internal/command/user_test.go
  foreign/go/internal/util/leader_aware_test.go
Due: none

Fix integration tests: replace HashMap with BTreeMap to match ContextsConfigMap type change
  core/integration/tests/cli/context/test_context_applied.rs
  core/integration/tests/cli/context/test_context_create_command.rs
  core/integration/tests/cli/context/test_context_delete_command.rs
  core/integration/tests/cli/context/test_context_list_command.rs
  core/integration/tests/cli/context/test_context_use_command.rs
Due: rust

test(go): add TCP mock server tests, error coverage, and deserializer tests
  foreign/go/binary_serialization/binary_response_deserializer_test.go
  foreign/go/client/iggy_client_test.go
  foreign/go/client/tcp/tcp_client_test.go
  foreign/go/errors/errors_gen_test.go
Due: none

refactor(server): extract shared HTTP DTOs to iggy_common
  core/common/src/http/consumer_offsets/delete_consumer_offset.rs
  core/common/src/http/consumer_offsets/get_consumer_offset.rs
  core/common/src/http/consumer_offsets/store_consumer_offset.rs
  core/common/src/http/messages/flush_unsaved_buffer.rs
  core/common/src/http/messages/mod.rs
  core/common/src/http/personal_access_tokens/login_with_personal_access_token.rs
  core/common/src/http/personal_access_tokens/mod.rs
  core/common/src/http/system/get_snapshot.rs
  core/common/src/http/system/mod.rs
  core/common/src/http/users/login_user.rs
  core/common/src/http/users/mod.rs
  core/common/src/lib.rs
  core/common/src/types/mod.rs
  core/sdk/src/http/consumer_offsets.rs
  core/sdk/src/http/messages.rs
  core/sdk/src/http/personal_access_tokens.rs
  core/sdk/src/http/system.rs
  core/sdk/src/http/users.rs
  core/server/src/http/consumer_offsets.rs
  core/server/src/http/personal_access_tokens.rs
  core/server/src/http/system.rs
  core/server/src/http/users.rs
Due: rust

fix(go): resolve golangci-lint errors and patch coverage gap
  foreign/go/binary_serialization/binary_response_deserializer_test.go
  foreign/go/client/tcp/tcp_client_test.go
  foreign/go/internal/command/user_test.go
Due: none

Address review: add deserializer test comments, deduplicate error list
  foreign/go/binary_serialization/binary_response_deserializer_test.go
  foreign/go/errors/errors_gen_test.go
Due: none

Generalize HTTP retry and add PermanentHttpError
  Cargo.lock
  core/connectors/runtime/example_config/connectors/influxdb_source.toml
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/src/lib.rs
Due: rust

wrap Netty's ConnectTimeoutException with IggyConnectionException when a connection timeout occurs
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
Due: java

feat(server): add Kafka wire protocol transport (Phase 1)
  core/configs/src/lib.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/kafka.rs
  core/configs/src/server_config/server.rs
  core/server/config.toml
  core/server/src/configs.rs
  core/server/src/kafka/handlers/api_versions.rs
  core/server/src/kafka/handlers/create_topics.rs
  core/server/src/kafka/handlers/delete_topics.rs
  core/server/src/kafka/handlers/fetch.rs
  core/server/src/kafka/handlers/find_coordinator.rs
  core/server/src/kafka/handlers/list_offsets.rs
  core/server/src/kafka/handlers/metadata.rs
  core/server/src/kafka/handlers/mod.rs
  core/server/src/kafka/handlers/produce.rs
  core/server/src/kafka/kafka_connection_handler.rs
  core/server/src/kafka/kafka_listener.rs
  core/server/src/kafka/kafka_server.rs
  core/server/src/kafka/mod.rs
  core/server/src/kafka/protocol/codec.rs
  core/server/src/kafka/protocol/mod.rs
  core/server/src/kafka/protocol/record_batch.rs
  core/server/src/kafka/protocol/types.rs
  core/server/src/lib.rs
  core/server/src/shard/builder.rs
  core/server/src/shard/mod.rs
  core/server/src/shard/tasks/continuous/kafka_server.rs
  scripts/test-kafka-transport.sh
Due: rust
