Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

test(java): add unit tests for HeaderValue and HeaderKey
  .codecov.yml
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKeyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderValueTest.java
Due: none

feat(java): Implemented Async Connection Pooling using FixedChannelPool
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PoolMetrics.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
Due: java

fix(ci): replace removed build.sh with direct gradlew call
  .github/actions/java-gradle/pre-merge/action.yml
Due: none

fix(ci): remove test files and raise codecov project threshold
  .codecov.yml
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderKeyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/HeaderValueTest.java
Due: none

feat(csharp): implement get_snapshot method in C# SDK (#2627)
  foreign/csharp/Iggy_SDK.Tests.Integration/SystemTests.cs
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/Enums/SnapshotCompression.cs
  foreign/csharp/Iggy_SDK/Enums/SystemSnapshotType.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggySystem.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
Due: none

address comments
  .codecov.yml
  foreign/java/build.gradle.kts
  foreign/java/gradle/libs.versions.toml
Due: none

fix jacoco version
  foreign/java/build.gradle.kts
  foreign/java/gradle/libs.versions.toml
Due: none

Update codecov.yml
  codecov.yml
Due: none

fix versioning
  foreign/java/build.gradle.kts
  foreign/java/buildSrc/src/main/kotlin/iggy.java-common-conventions.gradle.kts
  foreign/java/gradle/libs.versions.toml
Due: none

change back threshold
  codecov.yml
Due: none

feat(csharp): implement delete_segments method (#2626)
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SegmentsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SegmentsTests.cs
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyClient.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggySegment.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Utils/CommandCodes.cs
Due: none

test(connectors): add e2e tests for Elasticsearch sink connector
  core/integration/tests/connectors/elasticsearch/config.toml
  core/integration/tests/connectors/elasticsearch/elasticsearch_sink.rs
  core/integration/tests/connectors/elasticsearch/mod.rs
  core/integration/tests/connectors/elasticsearch/sinks/elasticsearch.toml
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/mod.rs
  core/integration/tests/connectors/mod.rs
Due: rust

fix(test): add HTTP health check for Elasticsearch container readiness
  core/integration/tests/connectors/elasticsearch/elasticsearch_sink.rs
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
Due: rust

remove flags section
  codecov.yml
Due: none

feat(java): fix integration test failure
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncPollMessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
Due: none

Some more nit fixes
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
Due: none

Fix the change in CI, looks like the env variable will always be there
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncPollMessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
Due: none

Fix more style issue and revert host-related changes
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilderTest.java
Due: none

Revert more changes
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncPollMessageTest.java
Due: none

Fix: add the required CI runtime env
  .github/actions/java-gradle/pre-merge/action.yml
Due: none

Fix path problem and disable search
  .github/workflows/_test.yml
  codecov.yml
Due: none

v2
  Cargo.lock
  core/common/Cargo.toml
  core/common/src/deduplication/message_deduplicator.rs
  core/common/src/deduplication/mod.rs
  core/common/src/lib.rs
  core/common/src/types/message/indexes_mut.rs
  core/common/src/types/message/message_header_view_mut.rs
  core/common/src/types/message/message_view_mut.rs
  core/common/src/types/message/messages_batch_mut.rs
  core/common/src/types/message/messages_batch_set.rs
  core/common/src/types/message/mod.rs
  core/common/src/types/message/poll_metadata.rs
  core/common/src/utils/random_id.rs
  core/server/Cargo.toml
  core/server/src/binary/handlers/messages/poll_messages_handler.rs
  core/server/src/http/http_shard_wrapper.rs
  core/server/src/shard/system/messages.rs
  core/server/src/shard/transmission/frame.rs
  core/server/src/streaming/deduplication/mod.rs
  core/server/src/streaming/partitions/helpers.rs
  core/server/src/streaming/partitions/local_partition.rs
  core/server/src/streaming/partitions/ops.rs
  core/server/src/streaming/segments/indexes/mod.rs
  core/server/src/streaming/segments/types/mod.rs
  core/server/src/streaming/utils/mod.rs
Due: rust

v3
  core/server/src/binary/handlers/messages/poll_messages_handler.rs
  core/server/src/streaming/deduplication/message_deduplicator.rs
  core/server/src/streaming/segments/types/mod.rs
  core/server/src/streaming/utils/random_id.rs
Due: rust

v4
  Cargo.lock
  core/common/src/lib.rs
  core/common/src/types/message/messages_batch_mut.rs
  core/common/src/types/message/mod.rs
  core/server/Cargo.toml
  core/server/src/http/http_shard_wrapper.rs
  core/server/src/shard/system/messages.rs
  core/server/src/streaming/partitions/helpers.rs
  core/server/src/streaming/partitions/local_partition.rs
  core/server/src/streaming/partitions/ops.rs
  core/server/src/streaming/segments/types/mod.rs
Due: rust

refactor(metadata): invert state handler dependency with per-command dispatch
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
Due: rust

fix(java): resolve Gradle 9 task dependency error in Pinot connector publish
  foreign/java/external-processors/iggy-connector-pinot/build.gradle.kts
  foreign/java/external-processors/iggy-connector-pinot/docker-compose.yml
Due: java

ci(java): add Java coverage baseline to post-merge workflow
  .github/workflows/post-merge.yml
  codecov.yml
Due: none

Improve elastic test fixture with retries
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
  core/integration/tests/connectors/fixtures/elasticsearch/source.rs
Due: rust

docs(java): add async client JavaDoc and usage guide (#2231)
  foreign/java/README.md
  foreign/java/java-sdk/ASYNC_CLIENT.md
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerGroupsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/MessagesClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/UsersClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/package-info.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/package-info.java
Due: java

Resolve comments
  core/common/src/lib.rs
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
  core/integration/tests/connectors/fixtures/elasticsearch/source.rs
  core/integration/tests/connectors/fixtures/iceberg/container.rs
  core/server/src/shard/system/consumer_offsets.rs
Due: rust

Extend CG tests
  core/connectors/sdk/src/transforms/json/mod.rs
  core/integration/tests/server/scenarios/consumer_group_new_messages_after_restart_scenario.rs
Due: rust

feat(metadata): impl Snapshot interface for Mux state machine.
  Cargo.lock
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stats/mod.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
Due: rust

fix: type based variadic tuple recursion for snapshot - Removed `SnapshotEnvelope`. Now we store each snapshot struct and serialize in one shot
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
Due: rust

fix: revet state snapshot intermediate structs.
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
Due: rust

fix(connectors): prevent crash when created() is unsupported, improve solib path resolve
  Cargo.lock
  DEPENDENCIES.md
  core/connectors/README.md
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/example_config/connectors/iceberg_sink.toml
  core/connectors/runtime/example_config/connectors/quickwit_sink.toml
  core/connectors/runtime/example_config/connectors/random_source_v0.toml
  core/connectors/runtime/example_config/connectors/random_source_v1.toml
  core/connectors/runtime/example_config/connectors/stdout_sink.toml
  core/connectors/runtime/src/configs/connectors/local_provider.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sinks/README.md
  core/connectors/sinks/elasticsearch_sink/config.toml
  core/connectors/sinks/iceberg_sink/config.toml
  core/connectors/sinks/postgres_sink/config.toml
  core/connectors/sinks/quickwit_sink/config.toml
  core/connectors/sinks/stdout_sink/config.toml
  core/connectors/sources/README.md
  core/connectors/sources/elasticsearch_source/config.toml
  core/connectors/sources/postgres_source/config.toml
  core/connectors/sources/random_source/config.toml
Due: rust

feat(csharp): implement delete_segments method (#2626)
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SegmentsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SegmentsTests.cs
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyClient.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggySegment.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Utils/CommandCodes.cs
Due: none

refactor(csharp): rewrite integration tests to remove DependsOn (#2654)
  foreign/csharp/Iggy_SDK.Tests.Integration/ConsumerGroupTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/FetchMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/ConsumerGroupFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/FetchMessagesFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/FlushMessageFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/OffsetFixtures.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/PartitionsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/PersonalAccessTokenFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SendMessageFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/StreamsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/SystemFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/TopicsFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/UsersFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/FlushMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Helpers/NameIdHelpers.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Helpers/TopicFactory.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/CreateTestTopic.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/DummyMessage.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Models/UpdateTestTopic.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/OffsetTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/PartitionsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/PersonalAccessTokenTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SendMessagesTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/StreamsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/SystemTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/TopicsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/UsersTests.cs
Due: none

feat(metadata): add typed return values to state handlers
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
Due: rust

refactor(metadata): split stm/mod.rs into focused modules
  Cargo.lock
  core/metadata/Cargo.toml
  core/metadata/src/stm/left_right.rs
  core/metadata/src/stm/macros.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/traits.rs
Due: rust

refactor(consensus): decouple pipeline from VsrConsensus internals
  core/consensus/src/impls.rs
  core/metadata/src/impls/metadata.rs
  core/simulator/src/deps.rs
  core/simulator/src/replica.rs
Due: rust
