Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

fix(ci): pass Codecov token to C# and Java test jobs (#2800)
  .github/workflows/pre-merge.yml
Due: none

feat(java): add async API parity with blocking client (#2718)
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerGroupsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/PartitionsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/PersonalAccessTokensClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/SystemClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerGroupsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PartitionsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PersonalAccessTokensTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
Due: java

fix(ci): unblock wheel collection when Windows is disabled (#2814)
  .github/workflows/_build_python_wheels.yml
Due: none

ci(csharp): add C# coverage upload to Codecov (#2782)
  .github/actions/csharp-dotnet/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  codecov.yml
Due: none

feat(cluster): create a unified abstraction for subsystems (#2780)
  core/common/src/lib.rs
  core/common/src/macros.rs
  core/common/src/types/consensus/header.rs
  core/common/src/types/consensus/message.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_mux.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/mux.rs
  core/partitions/src/iggy_partitions.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

chore(repo): advance to year 2026 (#2795)
  NOTICE
  core/bench/dashboard/frontend/src/components/footer.rs
  foreign/csharp/NOTICE
  foreign/go/NOTICE
  foreign/java/NOTICE
  foreign/node/NOTICE
  foreign/python/NOTICE
  web/NOTICE
Due: rust

fix(server): prevent storing consumer offsets beyond max partition range (#2794)
  core/integration/tests/server/general.rs
  core/integration/tests/server/scenarios/invalid_consumer_offset_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/server/src/shard/system/consumer_offsets.rs
  core/server/src/shard/system/utils.rs
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/ConsumerOffsetsClientBaseTest.java
Due: rust

feat(consensus): enable independent commit progress across namespaces (#2765)
  core/common/src/types/consensus/header.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/vsr_timeout.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

fix(server): report correct current_offset after segment deletion (#2798)
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/server/src/shard/system/consumer_offsets.rs
Due: rust

ci(python,rust): fix publish dry-run and disable Windows wheels (#2813)
  .github/actions/rust/post-merge/action.yml
  .github/workflows/_build_python_wheels.yml
Due: none

ci: add Codecov coverage for Python SDK (#2790)
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  codecov.yml
  foreign/python/pyproject.toml
  foreign/python/uv.lock
Due: none

fix(ci): use cargo-llvm-cov for Python SDK coverage (#2817)
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
Due: none

feat(java): add missing methods to async TCP UsersClient (#2837)
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/UsersClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/UsersTcpClientTest.java
Due: java

fix(ci): fix gnome-keyring locking mid-test in CI (#2868)
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/post-merge.yml
Due: none

feat(bench): add latency distribution chart with log-normal fit (#2832)
  core/bench/dashboard/frontend/src/components/chart/single_chart.rs
  core/bench/dashboard/frontend/src/components/chart/trend_chart.rs
  core/bench/dashboard/frontend/src/components/layout/topbar.rs
  core/bench/dashboard/frontend/src/components/selectors/measurement_type_selector.rs
  core/bench/dashboard/shared/src/lib.rs
  core/bench/report/src/lib.rs
  core/bench/report/src/plotting/chart.rs
  core/bench/report/src/plotting/chart_kind.rs
  core/bench/report/src/types/group_metrics.rs
  core/bench/report/src/types/individual_metrics.rs
  core/bench/report/src/types/latency_distribution.rs
  core/bench/report/src/types/mod.rs
  core/bench/src/analytics/metrics/group.rs
  core/bench/src/analytics/metrics/individual.rs
  core/bench/src/analytics/metrics/latency_distribution.rs
  core/bench/src/analytics/metrics/mod.rs
  core/bench/src/plot.rs
  core/bench/src/runner.rs
Due: rust

perf(bench): downsample time series charts with LTTB (#2831)
  Cargo.lock
  DEPENDENCIES.md
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/server/Cargo.toml
  core/bench/report/Cargo.toml
  core/bench/report/src/lib.rs
  core/bench/report/src/types/time_series.rs
  core/bench/report/src/utils.rs
Due: rust

ci(js): add Codecov coverage for Node SDK (#2792)
  .github/actions/node-npm/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  codecov.yml
  foreign/node/package-lock.json
  foreign/node/package.json
Due: none

ci(go): improve go bdd Dockerfile to leverage Docker layer caching (#2862)
  bdd/go/Dockerfile
Due: none

feat(shard): create `shard` crate and generic `IggyShard` (#2811)
  .github/workflows/_common.yml
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

fix(ci): prevent v8/musl build failures in artifacts and Docker (#2844)
  .github/workflows/_build_rust_artifacts.yml
  core/ai/mcp/Dockerfile
  core/connectors/runtime/Dockerfile
  core/server/Dockerfile
Due: rust

ci: add --no-format to cargo sort check (#2864)
  .github/actions/rust/pre-merge/action.yml
  .pre-commit-config.yaml
Due: none

fix(integration): prevent flaky connector sink tests from f64 round-trip mismatch (#2838)
  core/integration/tests/connectors/mod.rs
Due: rust

feat(go): implement TCP/TLS connection in Go SDK (#2834)
  foreign/go/client/tcp/tcp_core.go
Due: none

fix(go): fix tcp client connect method (#2860)
  foreign/go/client/tcp/tcp_core.go
Due: none

feat(cli): add cluster metadata command (#2839)
  core/binary_protocol/src/cli/binary_cluster/get_cluster_metadata.rs
  core/binary_protocol/src/cli/binary_cluster/mod.rs
  core/binary_protocol/src/client/binary_clients/client.rs
  core/cli/src/args/cluster.rs
  core/cli/src/args/common.rs
  core/cli/src/args/mod.rs
  core/cli/src/main.rs
  core/integration/tests/cli/general/test_help_command.rs
  core/integration/tests/cli/general/test_overview_command.rs
  core/integration/tests/cli/system/mod.rs
  core/integration/tests/cli/system/test_cluster_metadata_command.rs
Due: rust

docs(csharp): update dotnet SDK README (#2836)
  foreign/csharp/README.md
Due: none

feat(bench): add embeddable chart endpoints with PNG rendering (#2833)
  .asf.yaml
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/_build_rust_artifacts.yml
  Cargo.lock
  DEPENDENCIES.md
  core/bench/dashboard/README.md
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/frontend/assets/style.css
  core/bench/dashboard/frontend/src/components/embed_modal.rs
  core/bench/dashboard/frontend/src/components/layout/topbar.rs
  core/bench/dashboard/frontend/src/components/mod.rs
  core/bench/dashboard/frontend/src/state/ui.rs
  core/bench/dashboard/server/Cargo.toml
  core/bench/dashboard/server/src/cache/loader.rs
  core/bench/dashboard/server/src/cache/storage.rs
  core/bench/dashboard/server/src/cache/watcher.rs
  core/bench/dashboard/server/src/error.rs
  core/bench/dashboard/server/src/handlers.rs
  core/bench/dashboard/server/src/main.rs
  core/bench/dashboard/server/src/render.rs
  core/bench/report/src/plotting/chart.rs
Due: rust

feat(consensus): Add metadata and partition handles for MuxPlane (#2855)
  core/consensus/src/plane_mux.rs
  core/shard/src/lib.rs
Due: rust

feat(consensus): add loopback queue for primary self-addressed messages (#2825)
  Cargo.lock
  core/consensus/Cargo.toml
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/shard/src/lib.rs
  core/simulator/src/lib.rs
Due: rust

fix(ci): use cargo-llvm-cov properly for Python SDK coverage in Codecov (#2867)
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/post-merge.yml
Due: none

feat(shard): Implement shard router (#2853)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/common/src/types/consensus/header.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/shard/src/shards_table.rs
  core/simulator/src/replica.rs
Due: rust

refactor(configs): move ServerConfig types from server to configs crate (#2796)
  Cargo.lock
  DEPENDENCIES.md
  core/common/src/alloc/memory_pool.rs
  core/configs/Cargo.toml
  core/configs/src/server_config/cache_indexes.rs
  core/configs/src/server_config/cluster.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/displays.rs
  core/configs/src/server_config/http.rs
  core/configs/src/server_config/mod.rs
  core/configs/src/server_config/quic.rs
  core/configs/src/server_config/server.rs
  core/configs/src/server_config/sharding.rs
  core/configs/src/server_config/system.rs
  core/configs/src/server_config/tcp.rs
  core/configs/src/server_config/validators.rs
  core/configs/src/server_config/websocket.rs
  core/server/Cargo.toml
  core/server/src/bootstrap.rs
  core/server/src/configs.rs
  core/server/src/configs/sharding.rs
  core/server/src/lib.rs
  core/server/src/main.rs
  core/server/src/server_error.rs
  core/server/src/shard_allocator.rs
  core/server/src/streaming/segments/mod.rs
Due: rust

fix(csharp): fix .net node redirection in tcp client (#2843)
  foreign/csharp/Iggy_SDK.Tests.Integration/ClusterRedirectionTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyClusterFixture.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyClient.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
Due: none

deps(web): update frontend dependencies (#2819)
  web/package-lock.json
  web/package.json
Due: none

feat(simulator): implement PacketSimulator for deterministic simulator (#2769)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/common/Cargo.toml
  core/common/src/types/consensus/header.rs
  core/simulator/Cargo.toml
  core/simulator/src/lib.rs
  core/simulator/src/network.rs
  core/simulator/src/packet.rs
  core/simulator/src/ready_queue.rs
Due: rust

feat(metadata): thread STM response into consensus Reply body (#2856)
  Cargo.lock
  core/consensus/Cargo.toml
  core/consensus/src/plane_helpers.rs
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partitions.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: rust

perf: make IggyMessagesBatch::last_offset O(1) (#2840)
  Cargo.toml
  core/common/src/types/message/message_boundaries.rs
  core/common/src/types/message/message_view.rs
  core/common/src/types/message/messages_batch.rs
  core/common/src/types/message/messages_batch_mut.rs
  core/common/src/types/message/mod.rs
Due: rust

ci(go): add Codecov coverage for Go SDK (#2793)
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  codecov.yml
Due: none
