Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

fix(sdk): reject a zero auto-commit interval
  README.md
  core/integration/tests/server/scenarios/consumer_group_auto_commit_reconnection_scenario.rs
  core/integration/tests/server/scenarios/consumer_group_offset_cleanup_scenario.rs
  core/integration/tests/server/scenarios/consumer_timestamp_polling_scenario.rs
  core/sdk/README.md
  core/sdk/src/clients/consumer.rs
  core/sdk/src/clients/consumer_builder.rs
  foreign/php/src/client.rs
  foreign/php/src/consumer.rs
  foreign/php/tests/IggySdkTest.php
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/tests/test_client_config.py
Due: rust

fix(sdk): keep the heartbeat interval from the HTTP connection string
  core/common/src/types/configuration/http_config/http_client_config.rs
  core/common/src/types/configuration/http_config/http_client_config_builder.rs
  core/sdk/src/client_provider.rs
  core/sdk/src/http/http_client.rs
Due: rust

fix(php): allow a zero polling interval
  foreign/php/src/client.rs
  foreign/php/tests/IggySdkTest.php
Due: none

fix(sdk): snapshot consumed offsets before the store round trip
  core/sdk/src/clients/consumer.rs
Due: rust

fix(python): commit offsets from a consumption callback without the lock
  core/sdk/src/clients/consumer.rs
  foreign/python/src/consumer.rs
  foreign/python/tests/test_consumer_group.py
Due: rust

fix(sdk): error callback should await shard flush on producer shutdown
  core/sdk/src/clients/producer_dispatcher.rs
Due: rust

explicitly assert on ErrorCallback ctx.messages
  core/sdk/src/clients/producer_dispatcher.rs
Due: rust

fix(python): stop leaking the shutdown task and the task locals lock
  foreign/python/src/consumer.rs
Due: none

refactor: polish the consumer metadata surface
  core/sdk/src/clients/consumer.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/consumer.rs
Due: rust

test(python): move the faulthandler watchdog to the pytest ini
  foreign/python/pyproject.toml
  foreign/python/tests/test_consumer_group.py
Due: none

fix(common): reject durations past the microsecond wire range
  core/common/src/utils/duration.rs
Due: rust

fix(cpp): build the reconnection interval as non-zero
  foreign/cpp/src/client.rs
Due: none

address review comments
  core/common/src/traits/binary_transport.rs
  core/integration/tests/sdk/disconnect_relogin.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/tcp/tcp_client.rs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/EndpointFailoverTests.cs
  foreign/go/client/tcp/tcp_connect_test.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_failover_test.go
  foreign/go/client/tcp/tcp_session_management.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientEndpointFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.type.ts
Due: rust, java

Potential fix for pull request finding
  core/connectors/sinks/sink_template/src/lib.rs
Due: rust

Changed the license headers
  core/connectors/sinks/sink_template/Cargo.toml
  core/connectors/sources/source_template/Cargo.toml
Due: rust

fix(bench): box the typed benchmark consumer variants for clippy
  core/bench/src/actors/consumer/typed_benchmark_consumer.rs
Due: rust

Fix: drop region from COPY, remove unused modules, and correct assert SQL types.
  core/connectors/sinks/redshift_sink/README.md
  core/connectors/sinks/redshift_sink/src/config.rs
  core/connectors/sinks/redshift_sink/src/lib.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/copy.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/create.rs
  core/integration/tests/connectors/fixtures/redshift/sink.rs
  core/integration/tests/connectors/redshift/redshift_sink.rs
Due: rust

Addressing comments
  .claude/skills/connector-source/SKILL.md
  .claude/skills/connector-source/TEMPLATE.md
  core/connectors/runtime/src/stream.rs
  core/connectors/sources/postgres_source/README.md
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/tests/connectors/postgres/mod.rs
  core/integration/tests/connectors/postgres/postgres_source.rs
  core/integration/tests/connectors/postgres/postgres_source_cdc.rs
  core/integration/tests/connectors/postgres/restart.rs
Due: rust

fix(integration): bound JDBC source polls by deadline, not attempts
  core/integration/tests/connectors/jdbc/jdbc_source.rs
  core/integration/tests/connectors/mod.rs
Due: rust

address review comments
  core/sdk/src/tcp/tcp_client.rs
  foreign/csharp/Iggy_SDK.Tests.Integration/HeartbeatTests.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/EndpointFailoverTests.cs
  foreign/csharp/README.md
  foreign/go/client/tcp/tcp_connect_test.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_review_test.go
  foreign/go/client/tcp/tcp_failover_test.go
  foreign/go/client/tcp/tcp_session_management.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.type.ts
Due: rust, java

fix: address review comments
  core/metadata/src/impls/metadata.rs
  core/simulator/src/bin/workload-fuzz.rs
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/network.rs
  core/simulator/src/packet.rs
  core/simulator/src/replica.rs
  core/simulator/src/workload/oracle.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

address review
  core/common/src/types/configuration/tcp_config/tcp_client_reconnection_config.rs
  foreign/csharp/Iggy_SDK.Tests.Integration/HeartbeatTests.cs
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_failover_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientEndpointFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
Due: rust, java

address review comments
  core/common/src/types/args/mod.rs
  core/common/src/types/configuration/auth_config/connection_string.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config.rs
  core/common/src/types/configuration/tcp_config/tcp_client_reconnection_config.rs
  core/common/src/types/configuration/tcp_config/tcp_connection_string_options.rs
  core/sdk/src/client_provider.rs
  core/sdk/src/clients/client_builder.rs
  core/sdk/src/tcp/tcp_client.rs
  examples/rust/src/shared/args.rs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/EndpointFailoverTests.cs
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_failover_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandler.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientEndpointFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.type.ts
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
Due: rust, java

fix CI
  core/common/src/types/args/mod.rs
  core/integration/tests/cli/general/test_help_command.rs
Due: rust

Fix minor bugs in queries
  core/connectors/sources/mssql_source/src/lib.rs
Due: rust

update stale docs
  core/common/src/types/configuration/tcp_config/tcp_client_config.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config_builder.rs
  core/sdk/src/clients/client_builder.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
Due: rust

remove failover_address
  core/common/src/types/args/mod.rs
  core/common/src/types/configuration/auth_config/connection_string.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config_builder.rs
  core/common/src/types/configuration/tcp_config/tcp_connection_string_options.rs
  core/integration/tests/cli/general/test_help_command.rs
  core/sdk/src/client_provider.rs
  core/sdk/src/clients/client_builder.rs
  core/sdk/src/tcp/tcp_client.rs
  examples/rust/src/shared/args.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
Due: rust

fix(server): restore the mimalloc global allocator
  core/server/src/lib.rs
  core/server/src/main.rs
Due: rust

address review comments
  core/sdk/src/leader_aware.rs
  core/sdk/src/tcp/tcp_client.rs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
Due: rust

fix docs
  core/common/src/types/configuration/tcp_config/tcp_client_reconnection_config.rs
Due: rust

Improve code readability and formatting
  core/connectors/sources/mssql_source/src/lib.rs
Due: rust

feat(connectors): add RabbitMQ sink
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  Cargo.lock
  Cargo.toml
  core/connectors/README.md
  core/connectors/runtime/example_config/connectors/rabbitmq_sink.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/rabbitmq_sink/Cargo.toml
  core/connectors/sinks/rabbitmq_sink/README.md
  core/connectors/sinks/rabbitmq_sink/config.toml
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/container.rs
  core/integration/tests/connectors/fixtures/rabbitmq/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/sink.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/rabbitmq/mod.rs
  core/integration/tests/connectors/rabbitmq/rabbitmq_sink.rs
  core/integration/tests/connectors/rabbitmq/sink.toml
  scripts/bump-version.sh
Due: rust

fix(connectors): harden rabbitmq_sink publish pipeline
  Cargo.lock
  core/connectors/sinks/rabbitmq_sink/Cargo.toml
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
Due: rust

docs(connectors): document rabbitmq_sink config fields
  core/connectors/runtime/example_config/connectors/rabbitmq_sink.toml
  core/connectors/sinks/rabbitmq_sink/README.md
  core/connectors/sinks/rabbitmq_sink/config.toml
Due: rust

test(connectors): cover rabbitmq_sink durability, routing, headers
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/container.rs
  core/integration/tests/connectors/fixtures/rabbitmq/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/sink.rs
  core/integration/tests/connectors/rabbitmq/rabbitmq_sink.rs
Due: rust

feat(connectors): add descriptor-driven BSON protobuf encoding
  Cargo.lock
  Cargo.toml
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/src/encoders/proto.rs
Due: rust

fix(connectors): validate Avro float conversions
  core/connectors/sdk/src/encoders/avro.rs
Due: rust

feat(connectors): support schema-driven BSON to Avro encoding
  core/connectors/sdk/src/encoders/avro.rs
Due: rust

test(connectors): cover BSON payload handling in sinks
  Cargo.lock
  core/connectors/sinks/http_sink/Cargo.toml
  core/connectors/sinks/http_sink/src/lib.rs
  core/connectors/sinks/s3_sink/Cargo.toml
  core/connectors/sinks/s3_sink/src/formatter.rs
  core/connectors/sinks/surrealdb_sink/Cargo.toml
  core/connectors/sinks/surrealdb_sink/src/lib.rs
Due: rust

fix(connectors): distinguish missing BSON fields from null
  core/connectors/sdk/src/encoders/avro.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
