Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

fix(connectors): check DynamoDB key types and size limits
  core/connectors/sinks/dynamodb_sink/README.md
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

fix(connectors): compare DynamoDB item keys as typed values
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

fix(connectors): key DynamoDB items on the message offset
  core/connectors/sinks/dynamodb_sink/README.md
  core/connectors/sinks/dynamodb_sink/src/lib.rs
  core/integration/tests/connectors/dynamodb/dynamodb_sink.rs
Due: rust

fix(connectors): size DynamoDB items the way the service does
  core/connectors/sinks/dynamodb_sink/README.md
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

fix(connectors): retry replicated write conflicts on DynamoDB
  core/connectors/sinks/dynamodb_sink/README.md
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

fix(connectors): keep max_retry_delay an upper bound
  core/connectors/sinks/dynamodb_sink/README.md
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

fix(connectors): redact the DynamoDB endpoint in logs
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

docs(connectors): correct the DynamoDB sink behavior notes
  core/connectors/sinks/dynamodb_sink/README.md
Due: rust

fix(connectors): reject a session token without static credentials
  core/connectors/sinks/dynamodb_sink/README.md
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

fix(connectors): skip records DynamoDB cannot store as numbers
  core/connectors/sinks/dynamodb_sink/README.md
  core/connectors/sinks/dynamodb_sink/src/lib.rs
Due: rust

fix(csharp): update no-assigned-partition references for consistency
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.Rented.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/Contracts/PolledMessages.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyConsumer.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK/Vsr/ConsumerGroupClientState.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/NoAssignedPartitionBackoffTests.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/ConsumerGroupClientStateTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/EndpointFailoverTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/GroupPollingTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/MockNode.cs
Due: none

Initial version of bridge implementation
  Cargo.lock
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/src/bridge/config.rs
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/bridge/topic_map.rs
  gateways/kafka/src/main.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

docs(readme): correct partition IDs in the quickstart
  README.md
Due: none

docs(readme): the quickstart poll does use auto commit
  README.md
Due: none

docs: mention the PHP SDK in the README
  README.md
Due: none

docs: fix partition IDs and auto commit wording in the README quickstart (#4040)
  README.md
Due: none

docs(python): clarify partition deletion semantics
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
Due: none

feat(server): dedup partition writes with per-group client table slices (#3959)
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/partition.rs
  core/consensus/src/client_table.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/integration/tests/cluster/mod.rs
  core/integration/tests/cluster/partition_dedup.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/state_transfer.rs
  core/server/config.toml
  core/server/src/boot/recovery.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/session.rs
  core/server/src/http/state.rs
  core/server/src/http/submit.rs
  core/server/src/partition_helpers.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
  scripts/ci/storage-compat.sh
Due: rust

fix(connectors): refresh Cargo.lock for airflow sink after master merge
  Cargo.lock
Due: none

fix(metadata): roll deleted partitions and topics out of parent stats
  core/metadata/src/stm/stream.rs
Due: rust

feat(server): add uncached (RWF_DONTCACHE) segment writes
  Cargo.lock
  Cargo.toml
  core/bench/src/actors/producer/benchmark_producer.rs
  core/bench/src/args/common.rs
  core/bench/src/benchmarks/benchmark.rs
  core/configs/src/common/defaults.rs
  core/configs/src/common/displays.rs
  core/configs/src/common/system.rs
  core/configs/src/common/validators.rs
  core/configs/src/configs_impl/typed_env_provider.rs
  core/configs/src/server_config/validators.rs
  core/integration/Cargo.toml
  core/integration/tests/config_provider/mod.rs
  core/integration/tests/server/mod.rs
  core/integration/tests/server/segment_write_io.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/lib.rs
  core/partitions/src/messages_writer.rs
  core/partitions/src/state_transfer.rs
  core/partitions/src/types.rs
  core/server/config.toml
  core/server/src/boot/mod.rs
  core/server/src/boot/recovery.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/dispatch/test_support.rs
  core/server/src/partition_helpers.rs
  core/server/src/partition_reconciler.rs
  core/server/src/server_error.rs
  core/server_common/Cargo.toml
  core/server_common/src/diagnostics.rs
  core/server_common/src/lib.rs
  core/server_common/src/segment_io.rs
  core/server_common/src/uncached_io.rs
  core/simulator/src/replica.rs
Due: rust

docs(simulator): add a README for the deterministic harness
  core/simulator/README.md
Due: rust

review
  core/common/src/types/streaming_stats.rs
  core/integration/tests/data_integrity/verify_after_server_restart.rs
  core/integration/tests/server/general.rs
  core/integration/tests/server/scenarios/delete_stats_rollback_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/metadata/src/stm/stream.rs
  core/server/src/boot/mod.rs
  core/server/src/http/handlers.rs
  core/server/src/http/metrics.rs
  core/server/src/partition_reconciler.rs
Due: rust

docs: mention the PHP SDK in the README (#4041)
  README.md
Due: none

ci(python): restore Windows wheels for the PyPI release
  .github/workflows/_build_python_wheels.yml
  scripts/ci/sync-python-interpreter-version.sh
Due: none

test(java): add Pinot connector E2E coverage (#3922)
  .github/actions/java-gradle/pre-merge/action.yml
  foreign/java/external-processors/iggy-connector-pinot/build.gradle.kts
  foreign/java/external-processors/iggy-connector-pinot/integration-test.sh
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/IggyPinotIntegrationTest.java
Due: java

fix(connectors): harden postgres source ack processing
  .claude/skills/connector-source/SKILL.md
  .claude/skills/connector-source/TEMPLATE.md
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/src/stream.rs
  core/connectors/sources/postgres_source/README.md
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/postgres/mod.rs
  core/integration/tests/connectors/fixtures/postgres/source.rs
  core/integration/tests/connectors/postgres/postgres_source.rs
  core/integration/tests/connectors/postgres/postgres_source_cdc.rs
Due: rust

add stream, topic, and partition functions to high level client.
  foreign/cpp/MODULE.bazel.lock
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/partition.cpp
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
  foreign/cpp/tests/e2e/topic.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fix topic.cpp
  foreign/cpp/.clang-tidy
  foreign/cpp/src/client.cpp
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/e2e/topic.cpp
  licenserc.toml
Due: none

align rust and cpp topic create and update surfaces
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
Due: none

additional fix
  foreign/cpp/src/client.rs
Due: none

fix shit
  bdd/cpp/features/step_definitions/messaging_steps.cpp
  foreign/cpp/.clang-tidy
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/e2e/message.cpp
  foreign/cpp/tests/e2e/partition.cpp
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
  foreign/cpp/tests/e2e/topic.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
  licenserc.toml
Due: none

remove dead code
  foreign/cpp/src/type_conversion.rs
Due: none

docs(simulator): add a README for the deterministic harness (#4047)
  core/simulator/README.md
Due: rust

fix tests
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/e2e/topic.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

feat(python): add stream listing, update, delete, and purge
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/src/stream.rs
  foreign/python/tests/test_stream.py
Due: none

add stream getters and docs
  foreign/python/src/stream.rs
Due: none

add proper docs
  foreign/python/src/client.rs
Due: none

add tests and stubs
  foreign/python/apache_iggy.pyi
  foreign/python/tests/test_stream.py
Due: none

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
