Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

first review cycle changes, rephrasing, fixing links
  core/sdk/src/clients/client.rs
  core/sdk/src/lib.rs
Due: rust

partitioner/ partitioning docs review fixes
  core/common/src/traits/partitioner.rs
  core/common/src/types/message/partitioning.rs
Due: rust

fix
  core/sdk/src/vsr.rs
  core/server-ng/src/dispatch.rs
  foreign/go/binary_serialization/binary_response_deserializer.go
  foreign/go/binary_serialization/vsr_response_deserializer_test.go
  foreign/go/client/tcp/tcp_connect_test.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_encode_test.go
  foreign/go/client/tcp/tcp_core_review_test.go
  foreign/go/client/tcp/tcp_group_polling.go
  foreign/go/client/tcp/tcp_messaging.go
  foreign/go/client/tcp/tcp_session_management.go
  foreign/go/client/tcp/tcp_testing_test.go
  foreign/go/client/tcp/tcp_topic_cache.go
  foreign/go/contracts/client.go
  foreign/go/contracts/message_header.go
  foreign/go/contracts/partitions.go
  foreign/go/internal/command/message.go
  foreign/go/internal/command/message_test.go
  foreign/go/internal/util/leader_aware.go
  foreign/go/internal/util/leader_aware_test.go
  foreign/go/internal/vsr/envelope.go
  foreign/go/internal/vsr/header.go
  foreign/go/internal/vsr/protocol_parity_test.go
  foreign/go/internal/vsr/reply.go
  foreign/go/internal/vsr/reply_test.go
  foreign/go/internal/vsr/session.go
Due: rust

feat(python): run Python SDK tests only against the VSR server
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/_test_examples.yml
  .github/workflows/coverage-baseline.yml
  core/integration/tests/server/topic_admission_vsr.rs
  core/server-ng/src/responses.rs
  foreign/python/Cargo.toml
  foreign/python/tests/test_message_operations.py
  foreign/python/tests/test_tls.py
  foreign/python/tests/test_topic.py
  foreign/python/tests/utils.py
  scripts/run-bdd-tests.sh
  scripts/run-examples-from-readme.sh
  scripts/utils.sh
Due: rust

switch to single-node e2e test
  .github/actions/go/pre-merge/action.yml
Due: none

feat(tests): introduce RedirectionClusterFixture and update test configurations
  .github/actions/csharp-dotnet/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
  foreign/csharp/Iggy_SDK.Tests.Integration/ClusterRedirectionTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyTlsServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/RedirectionClusterFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/VsrCluster.cs
Due: none

fix(tests): update default NodeCount in IggyServerFixture to 1
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
Due: none

feat: update configuration files for C# SDK VSR support
  .github/actions/csharp-dotnet/pre-merge/action.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/_test_examples.yml
  .github/workflows/coverage-baseline.yml
  bdd/README.md
  bdd/docker-compose.vsr.yml
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/README.md
  scripts/run-bdd-tests.sh
  scripts/run-examples-from-readme.sh
Due: none

feat: add C# SDK support for VSR in workflows and scripts
  .github/workflows/_test_bdd.yml
  .github/workflows/_test_examples.yml
  scripts/run-bdd-tests.sh
Due: none

refactor(tests): update VsrCluster to dynamically allocate network subnets and simplify node address resolution
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/VsrCluster.cs
Due: none

chore: bump version to 0.9.0-edge.1 in Iggy_SDK project
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
Due: none

fix(consensus): pin the verified body range and stamp requests
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/partitions/src/iggy_partition.rs
  core/sdk/src/vsr.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/wire.rs
  core/shard/src/lib.rs
Due: rust

fix(consensus): stop view change discarding committed ops
  Cargo.lock
  core/binary_protocol/Cargo.toml
  core/binary_protocol/src/consensus/error.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/configs/src/server_ng_config/metadata.rs
  core/configs/src/server_ng_config/partition.rs
  core/configs/src/server_ng_config/validators.rs
  core/consensus/Cargo.toml
  core/consensus/src/dvc_merge.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/view_change_quorum.rs
  core/journal/src/lib.rs
  core/journal/src/prepare_journal.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/lib.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/poll_plan.rs
  core/partitions/src/types.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/offset_recovery.rs
  core/server-ng/src/partition_reconciler.rs
  core/server_common/src/consensus_message.rs
  core/server_common/src/send_messages2.rs
  core/shard/src/lib.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

fix: address review comment
  core/consensus/src/dvc_merge.rs
  core/integration/tests/cluster/metadata_checkpoint_restart.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/journal.rs
  core/shard/src/lib.rs
Due: rust

fix: address review comments
  core/binary_protocol/src/consensus/error.rs
  core/binary_protocol/src/consensus/header.rs
  core/configs/src/server_ng_config/metadata.rs
  core/configs/src/server_ng_config/partition.rs
  core/consensus/src/dvc_merge.rs
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/view_change_quorum.rs
  core/journal/src/lib.rs
  core/journal/src/prepare_journal.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/log.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/poll_plan.rs
  core/server-ng/config.toml
  core/server-ng/src/offset_recovery.rs
  core/server_common/src/send_messages2.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/deps.rs
Due: rust

fix: stamp request_checksum only where dedup consumes and fix miri
  core/consensus/src/plane_helpers.rs
  core/sdk/src/vsr.rs
Due: rust

fix node tests
  foreign/node/src/wire/vsr/vsr.test.ts
Due: none

remove old test
  foreign/node/src/wire/vsr/vsr.test.ts
Due: none

ci(go): run the Go cluster e2e against both replicas
  .github/actions/go/pre-merge/action.yml
Due: none

Revert "ci(go): run the Go cluster e2e against both replicas"
  .github/actions/go/pre-merge/action.yml
Due: none

ci(go): give the Go cluster e2e a real single-node roster
  .github/actions/go/pre-merge/action.yml
Due: none

fixes
  core/server-ng/src/auth.rs
  examples/java/README.md
  foreign/java/README.md
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyAuthenticator.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandler.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyErrorCode.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyValidationException.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesDeserializer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionRequestTimeoutTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrRequestEncoderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandlerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyErrorCodeTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyServerExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyValidationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
  scripts/run-examples-from-readme.sh
Due: rust, java

fix(server-ng): stop redundant partition rebuilds resetting offsets
  core/partitions/src/iggy_partition.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/partition_reconciler.rs
  core/shard/src/lib.rs
Due: rust

fix(gateways): harden Kafka wire contract from review findings
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/src/error.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/codec.rs
  gateways/kafka/src/protocol/requests.rs
  gateways/kafka/src/protocol/responses.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/common/tcp.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/decode_safety_tests.rs
  gateways/kafka/tests/listener_robustness_tests.rs
  gateways/kafka/tests/response_negative_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
  gateways/kafka/tools/kafka-tool/src/main.rs
Due: none

fix(gateways): reject trailing Kafka request bytes and add fixture canary
  gateways/kafka/src/protocol/requests.rs
  gateways/kafka/tests/common/fixtures.rs
  gateways/kafka/tests/decode_safety_tests.rs
  gateways/kafka/tests/fixtures_canary_tests.rs
Due: none

docs(connectors): correct the plugin config serialization claims
  .claude/skills/connectors-overview/SKILL.md
  core/common/src/utils/serde_secret.rs
Due: rust

docs(connectors): fix the inverted serde_secret redaction claim
  .claude/skills/connectors-overview/SKILL.md
Due: none

feat(common): add redacting serde_secret serializers
  core/common/src/utils/serde_secret.rs
Due: rust

Harden Kafka gateway request handling
  gateways/kafka/src/error.rs
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/codec.rs
  gateways/kafka/src/protocol/responses.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/common/tcp.rs
  gateways/kafka/tests/listener_robustness_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

Documentation updated
  gateways/kafka/README.md
  gateways/kafka/docs/SCOPE.md
Due: none

Fixing merge conflicts
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/codec.rs
  gateways/kafka/src/server.rs
Due: none

fix(server-ng): skip NUMA memory binding on non-Linux platforms
  core/shard_allocator/src/lib.rs
Due: rust

Updating documentation to retrigger ci/cd
  gateways/kafka/docs/SCOPE.md
Due: none

review fixes
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ClientRoutingState.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/ConsensusSession.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrFrameDecoder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrHeaders.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrNamespace.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrRequestEncoder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandler.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionConcurrencyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionHeartbeatTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionRequestTimeoutTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/ClientRoutingStateTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrFrameDecoderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrRequestEncoderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandlerTest.java
Due: java

fixes
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrOperation.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandler.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandlerTest.java
Due: java

add heartbeat handle and drop for rust sdk
  core/sdk/src/clients/client.rs
Due: rust

address review changes
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
Due: rust

update c# tests to new error code
  foreign/csharp/Iggy_SDK.Tests.Integration/Vsr/VsrHandshakeTests.cs
Due: none

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
