Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

feat(sdk): resolve hostnames in WebSocket connect() via lookup_host
  core/sdk/src/websocket/websocket_client.rs
Due: rust

feat(sdk): allow hostname in QUIC create() by deferring SocketAddr parsing
  core/sdk/src/quic/quic_client.rs
Due: rust

docs(bench): add hostname example to server address documentation
  core/bench/src/args/examples.rs
Due: rust

feat(sdk): resolve hostnames in QUIC connect() via lookup_host
  core/sdk/src/quic/quic_client.rs
Due: rust

refactor(connectors): add iggy_clients and state_path to RuntimeContext
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/main.rs
Due: rust

refactor(connectors): add lifecycle fields to SinkDetails and SourceDetails
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
Due: rust

feat(connectors): add shutdown channel to sink consume loop
  core/connectors/runtime/src/sink.rs
Due: rust

refactor(connectors): store Arc<Container> in Manager for restart support
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
Due: rust

feat(connectors): add stop/start/restart methods to SinkManager
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/sink.rs
Due: rust

refactor(consensus): enable independent commit progress across namespaces
  core/common/src/types/consensus/header.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/vsr_timeout.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

feat(connectors): add stop/start/restart methods to SourceManager
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
Due: rust

feat(connectors): add POST /restart API endpoints for sink and source connectors
  core/connectors/runtime/src/api/sink.rs
  core/connectors/runtime/src/api/source.rs
Due: rust

refactor(connectors): replace direct shutdown with Manager-based stops
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
Due: rust

refactor(connectors): fmt and clippy fixes for restart support
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
Due: rust

test(connectors): add unit tests for SinkManager and SourceManager
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
Due: rust

fix(connectors): eliminate race condition in initial startup handle storage
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
Due: rust

fix(connectors): prevent resource leak in source handle() when producer is None
  core/connectors/runtime/src/source.rs
Due: rust

flatten cloud storage credentials in config.toml
  core/connectors/sinks/delta_sink/config.toml
  core/connectors/sinks/delta_sink/src/lib.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/delta_sink/src/storage.rs
Due: rust

update deltalake library to support cloud storage backend
  Cargo.lock
  Cargo.toml
  core/connectors/sinks/delta_sink/Cargo.toml
  core/connectors/sinks/delta_sink/src/coercions.rs
  core/connectors/sinks/delta_sink/src/lib.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/delta_sink/src/utils.rs
Due: rust

cleanup config
  core/connectors/runtime/example_config/connectors/delta_sink.toml
  core/connectors/sinks/delta_sink/config.toml
Due: rust

add e2e tests
  core/integration/tests/connectors/delta/delta_sink.rs
  core/integration/tests/connectors/delta/mod.rs
  core/integration/tests/connectors/delta/sink.toml
  core/integration/tests/connectors/fixtures/delta/fixture.rs
  core/integration/tests/connectors/fixtures/delta/mod.rs
  core/integration/tests/connectors/mod.rs
Due: rust

add readme
  core/connectors/sinks/delta_sink/README.md
Due: rust

fix linting errors
  DEPENDENCIES.md
  core/connectors/sinks/delta_sink/src/coercions.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/delta_sink/src/storage.rs
  core/connectors/sinks/delta_sink/src/utils.rs
  core/integration/tests/connectors/delta/delta_sink.rs
  core/integration/tests/connectors/fixtures/delta/fixture.rs
Due: rust

fix(ci): pin hwloc to v2.12.1 on macOS
  .github/actions/utils/setup-rust-with-cache/action.yml
Due: none

fix lint errors
  Cargo.toml
  core/connectors/runtime/example_config/connectors/delta_sink.toml
  core/connectors/sinks/delta_sink/config.toml
  core/connectors/sinks/delta_sink/src/coercions.rs
  core/integration/tests/connectors/fixtures/delta/fixture.rs
Due: rust

log total messages produced in sample producer
  examples/rust/src/sink-data-producer/main.rs
Due: none

bazel build system + ci scripts
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/actions/utils/setup-cpp-with-cache/action.yml
  .github/config/components.yml
  .github/workflows/_detect.yml
  .github/workflows/_test.yml
  .github/workflows/pre-merge.yml
  Cargo.toml
  foreign/cpp/.bazelrc
  foreign/cpp/.bazelversion
  foreign/cpp/.clang-format
  foreign/cpp/.gitignore
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.lock
  foreign/cpp/Cargo.toml
  foreign/cpp/MODULE.bazel
  foreign/cpp/MODULE.bazel.lock
  foreign/cpp/README.md
  foreign/cpp/build.rs
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/test.cpp
Due: none

cargo fmt
  core/common/src/types/consensus/header.rs
  core/metadata/src/impls/metadata.rs
  core/simulator/src/deps.rs
  core/simulator/src/replica.rs
Due: rust

feat(java-sdk): add async API parity with blocking client
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerGroupsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/PartitionsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/PersonalAccessTokensClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/SystemClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerGroupsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PartitionsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PersonalAccessTokensTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/SystemTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
Due: java

ci: add Codecov coverage for Python SDK (#2775)
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  codecov.yml
  foreign/python/pyproject.toml
  foreign/python/uv.lock
Due: none

ci: add Codecov coverage for Go SDK (#2773)
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  codecov.yml
Due: none

ci: add Codecov coverage for Node SDK (#2774)
  .github/actions/node-npm/pre-merge/action.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  codecov.yml
  foreign/node/package-lock.json
  foreign/node/package.json
Due: none

initial clickhouse sink code
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/clickhouse_sink.toml
  core/connectors/sinks/clickhouse_sink/Cargo.toml
  core/connectors/sinks/clickhouse_sink/config.toml
  core/connectors/sinks/clickhouse_sink/src/binary.rs
  core/connectors/sinks/clickhouse_sink/src/client.rs
  core/connectors/sinks/clickhouse_sink/src/lib.rs
  core/connectors/sinks/clickhouse_sink/src/schema.rs
  core/connectors/sinks/clickhouse_sink/src/sink.rs
Due: rust

feat(java): Implemented Async Connection Pooling using FixedChannelPool
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PoolMetrics.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
Due: java

fix: resolve merge conflicts and update dependencies
  Cargo.lock
  DEPENDENCIES.md
Due: none

test(integration): add A2A JWT unit test and e2e tests using iggy_harness macro
  Cargo.lock
  DEPENDENCIES.md
  core/common/src/error/iggy_error.rs
  core/harness_derive/src/attrs.rs
  core/harness_derive/src/codegen.rs
  core/integration/Cargo.toml
  core/integration/src/harness/config/jwks.rs
  core/integration/src/harness/config/mod.rs
  core/integration/src/harness/handle/server.rs
  core/integration/src/harness/mod.rs
  core/integration/src/harness/orchestrator/builder.rs
  core/integration/src/harness/orchestrator/harness.rs
  core/integration/tests/server/a2a_jwt/config.toml
  core/integration/tests/server/a2a_jwt/generate_jwks.py
  core/integration/tests/server/a2a_jwt/jwt_tests.rs
  core/integration/tests/server/a2a_jwt/mod.rs
  core/integration/tests/server/a2a_jwt/test_private_key.pem
  core/integration/tests/server/a2a_jwt/test_public_key.pem
  core/integration/tests/server/a2a_jwt/wiremock/__files/jwks.json
  core/integration/tests/server/a2a_jwt/wiremock/mappings/jwks.json
  core/server/Cargo.toml
  core/server/src/http/jwt/jwks.rs
  core/server/src/http/jwt/jwt_manager.rs
Due: rust

chore: remove generate_jwks.py with hardcoded path
  core/integration/tests/server/a2a_jwt/generate_jwks.py
Due: rust

fix(a2a): fix ulid = 1.2.1 and remove serde_json in jwks.rs
  core/server/Cargo.toml
  core/server/src/http/jwt/jwks.rs
Due: rust

Add TLS integration tests using testcontainers and TLS pass to shell script
  foreign/python/tests/conftest.py
  foreign/python/tests/test_tls.py
  scripts/run-python-examples-from-readme.sh
Due: none

fix(server): prevent storing consumer offsets beyond max partition range
  core/integration/tests/server/general.rs
  core/integration/tests/server/scenarios/invalid_consumer_offset_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/server/src/shard/system/consumer_offsets.rs
  core/server/src/shard/system/utils.rs
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/ConsumerOffsetsClientBaseTest.java
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
