Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

address comments
  foreign/cpp/Cargo.lock
  foreign/cpp/src/client.rs
Due: none

fix(test): use default partitioning in stats command test
  core/integration/tests/cli/system/test_stats_command.rs
Due: rust

fix(server): add warning log when disk space retrieval fails
  core/server/src/shard/system/stats.rs
Due: rust

feat(server): add threads count and disk space to sysinfo stats
  core/binary_protocol/src/cli/binary_system/stats.rs
  core/binary_protocol/src/utils/mapper.rs
  core/common/src/types/stats/mod.rs
  core/integration/tests/cli/system/test_stats_command.rs
  core/server/src/binary/mapper.rs
  core/server/src/shard/system/stats.rs
  core/server/src/shard/tasks/periodic/sysinfo_printer.rs
Due: rust

style(server): fix rustfmt formatting for fs2 disk space calls
  core/server/src/shard/system/stats.rs
Due: rust

refactor(server): use fs2 instead of sysinfo Disks for disk space metrics
  core/server/src/shard/system/stats.rs
Due: rust

fix(test): use numeric IDs in stats command integration test
  core/integration/tests/cli/system/test_stats_command.rs
Due: rust

Add InfluxDB connectors and improve sink reliability
  Cargo.lock
  Cargo.toml
  core/connectors/sdk/src/lib.rs
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sinks/mongodb_sink/Cargo.toml
  core/connectors/sources/influxdb_source/Cargo.toml
  core/connectors/sources/influxdb_source/src/lib.rs
  core/integration/tests/connectors/fixtures/influxdb/sink.rs
  core/integration/tests/connectors/fixtures/influxdb/source.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/influxdb/influxdb_source.rs
  core/integration/tests/connectors/influxdb/sink.toml
  core/integration/tests/connectors/mod.rs
Due: rust

Checking in the cleanup files
  core/connectors/sinks/influxdb_sink/Cargo.toml
  core/connectors/sinks/influxdb_sink/config.toml
  core/connectors/sources/influxdb_source/config.toml
  core/integration/tests/connectors/fixtures/mod.rs
Due: rust

Bump csv crate to 1.3.1
  Cargo.toml
Due: none

fix: restore mongodb fixtures, ONE_DAY_MICROS constant, and fix pub mod visibility
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/mod.rs
Due: rust

chore: remove accidental .elastic-copilot directory
  .elastic-copilot/memory/implementationPlan.md
Due: none

Add csv and influxdb dependencies
  DEPENDENCIES.md
Due: none

remove unused constructor from abstract class
  foreign/java/java-sdk/src/main/java/org/apache/iggy/exception/IggyException.java
Due: java

make constructor of ClientInfoDetails accept List instead of requiring ArrayList
  foreign/java/java-sdk/src/main/java/org/apache/iggy/system/ClientInfoDetails.java
Due: java

add unit tests to just about everything except the clients
  foreign/java/java-sdk/src/test/java/org/apache/iggy/config/RetryPolicyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/consumergroup/ConsumerGroupDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/consumergroup/ConsumerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyAuthenticationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyAuthorizationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyClientExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyConflictExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyConnectionClosedExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyConnectionExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyEmptyResponseExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyErrorCodeTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyInvalidArgumentExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyMalformedResponseExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyMissingCredentialsExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyNotConnectedExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyOperationNotSupportedExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyProtocolExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyResourceNotFoundExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyServerExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyTimeoutExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyTlsExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/exception/IggyValidationExceptionTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/BaseIdentifierTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/ConsumerIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/IdentifierTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/StreamIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/TopicIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/UserIdTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/stream/StreamDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/system/ClientInfoDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/topic/CompressionAlgorithmTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/topic/TopicDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/user/UserInfoDetailsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/user/UserStatusTest.java
Due: none

add missing coverage for reading client info details (consumer groups and Quic transport) in BytesDeserializer
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
Due: none

change type of code argument in CompressionAlgorithm.fromCode to int from byte
  foreign/java/java-sdk/src/main/java/org/apache/iggy/topic/CompressionAlgorithm.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/topic/CompressionAlgorithmTest.java
Due: java

use .get(0) as to fix compilation issues
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
Due: none

Add Go TLS examples to README and enable TLS pass in unified script
  examples/go/README.md
  scripts/run-examples-from-readme.sh
Due: none

Fix Python non-TLS pass picking up TLS commands from README
  scripts/run-examples-from-readme.sh
Due: none

ci: fix shellcheck SC2329 and SC2294 in example runner scripts
  scripts/run-examples-from-readme.sh
  scripts/utils.sh
Due: none

Unify run-*-examples-from-readme.sh into single entrypoint with TLS support
  .github/config/components.yml
  .github/workflows/_test_examples.yml
  examples/csharp/README.md
  examples/go/README.md
  examples/node/package.json
  examples/node/test-examples.sh
  examples/rust/README.md
  scripts/run-csharp-examples-from-readme.sh
  scripts/run-examples-from-readme.sh
  scripts/run-go-examples-from-readme.sh
  scripts/run-java-examples-from-readme.sh
  scripts/run-node-examples-from-readme.sh
  scripts/run-python-examples-from-readme.sh
  scripts/run-rust-examples-from-readme.sh
  scripts/utils.sh
Due: none

Address review feedback: deduplicate logic, fix global state, improve stop_server
  examples/python/README.md
  scripts/run-examples-from-readme.sh
  scripts/utils.sh
Due: none

docs(connectors): align MongoDB sink duplicate-key semantics
  core/connectors/sinks/mongodb_sink/README.md
  core/integration/tests/connectors/mongodb/mongodb_sink.rs
Due: rust

feat(server): implement TwoHalves buffer
  Cargo.lock
  Cargo.toml
  core/buf/Cargo.toml
  core/buf/src/lib.rs
Due: rust

fix(repo): address PR review feedback for SecretString migration
  core/cli/src/commands/binary_personal_access_tokens/create_personal_access_token.rs
  core/cli/src/commands/binary_system/login.rs
  core/common/src/traits/binary_mapper.rs
  core/common/src/types/configuration/auth_config/connection_string.rs
  core/common/src/types/permissions/personal_access_token.rs
  core/common/src/types/user/user_identity_info.rs
  core/common/src/utils/serde_secret.rs
  core/connectors/runtime/src/api/config.rs
  core/connectors/runtime/src/context.rs
  core/integration/tests/cli/personal_access_token/test_pat_login_options.rs
  core/integration/tests/mcp/mod.rs
  core/integration/tests/server/scenarios/authentication_scenario.rs
  core/integration/tests/server/scenarios/cross_protocol_pat_scenario.rs
  core/integration/tests/server/scenarios/user_scenario.rs
  core/sdk/src/http/http_client.rs
  core/server/src/http/mapper.rs
  core/server/src/http/personal_access_tokens.rs
  core/server/src/state/system.rs
Due: rust

refactor(server): add TODO for SecretString migration of hash fields
  core/server/src/state/system.rs
Due: rust

Add regression test to verify secrets are never persisted as plaintext (#2943)
  core/integration/tests/data_integrity/mod.rs
  core/integration/tests/data_integrity/verify_no_plaintext_credentials_on_disk.rs
Due: rust

fix conflicts
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/test.cpp
Due: none

address comments
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/test.cpp
Due: none

low level bindings + tests
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.lock
  foreign/cpp/Cargo.toml
  foreign/cpp/README.md
  foreign/cpp/src/client.rs
  foreign/cpp/src/identifier.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/stream_details.rs
  foreign/cpp/src/topic.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/cpp/tests/common/test_helpers.hpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
  foreign/cpp/tests/topic/low_level_e2e.cpp
  foreign/cpp/tests/unit_tests.cpp
Due: none

revert tests
  foreign/cpp/tests/unit_tests.cpp
Due: none

clang-format + whiteline
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
Due: none

cargo generate-lockfile
  foreign/cpp/Cargo.lock
Due: none

add e2e ci script
  .github/actions/cpp-bazel/pre-merge/action.yml
Due: none

CI update
  .github/config/components.yml
Due: none
