Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

Adding more test cases based on review comments
  gateways/kafka/src/main.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/common/codec.rs
  gateways/kafka/tests/common/fixtures.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/header_tests.rs
  gateways/kafka/tests/listener_robustness_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
Due: none

feat(common): add NonZeroIggyDuration
  core/common/src/lib.rs
  core/common/src/utils/mod.rs
  core/common/src/utils/non_zero_duration.rs
Due: rust

refactor(sdk): type retry and heartbeat intervals as non-zero
  core/common/src/traits/binary_impls/system.rs
  core/common/src/traits/binary_transport.rs
  core/common/src/traits/system_client.rs
  core/common/src/types/configuration/auth_config/connection_string.rs
  core/common/src/types/configuration/auth_config/connection_string_options.rs
  core/common/src/types/configuration/http_config/http_connection_string_options.rs
  core/common/src/types/configuration/quic_config/quic_client_config.rs
  core/common/src/types/configuration/quic_config/quic_client_config_builder.rs
  core/common/src/types/configuration/quic_config/quic_client_reconnection_config.rs
  core/common/src/types/configuration/quic_config/quic_connection_string_options.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config_builder.rs
  core/common/src/types/configuration/tcp_config/tcp_client_reconnection_config.rs
  core/common/src/types/configuration/tcp_config/tcp_connection_string_options.rs
  core/common/src/types/configuration/websocket_config/websocket_client_config.rs
  core/common/src/types/configuration/websocket_config/websocket_client_config_builder.rs
  core/common/src/types/configuration/websocket_config/websocket_client_reconnection_config.rs
  core/common/src/types/configuration/websocket_config/websocket_connection_string_options.rs
  core/integration/tests/data_integrity/verify_consumer_group_partition_assignment.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/integration/tests/server/scenarios/reconnect_after_restart_scenario.rs
  core/integration/tests/server/scenarios/stale_client_consumer_group_scenario.rs
  core/sdk/src/client_provider.rs
  core/sdk/src/client_wrappers/binary_system_client.rs
  core/sdk/src/clients/binary_system.rs
  core/sdk/src/clients/client_builder.rs
  core/sdk/src/clients/consumer.rs
  core/sdk/src/clients/consumer_builder.rs
  core/sdk/src/clients/producer.rs
  core/sdk/src/clients/producer_builder.rs
  core/sdk/src/http/http_client.rs
  core/sdk/src/http/system.rs
  core/sdk/src/prelude.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/stream_builder/config/config_iggy_consumer.rs
  core/sdk/src/stream_builder/config/config_iggy_producer.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  examples/rust/src/stream-builder/stream-consumer-config/main.rs
  examples/rust/src/stream-builder/stream-producer-config/main.rs
Due: rust

refactor(python): reject zero retry and heartbeat intervals unconditionally
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/consumer.rs
  foreign/python/src/duration.rs
  foreign/python/tests/test_client_config.py
Due: none

refactor(php): carry the non-zero retry interval types
  foreign/php/src/client.rs
Due: none

test(java): support external server in Pinot E2E
  .github/actions/java-gradle/pre-merge/action.yml
  foreign/java/external-processors/iggy-connector-pinot/build.gradle.kts
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/IggyPinotIntegrationTest.java
Due: java

feat(python): support message partitioning strategies
  examples/python/README.md
  examples/python/partitioning/producer.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/src/partitioning.rs
  foreign/python/tests/test_message_operations.py
Due: none

fix failing CI
  core/server/src/responses.rs
Due: rust

ci: route linux pre-merge tests to self-hosted GCP runners for maintainer runs
  .github/workflows/_test.yml
Due: none

ci: isolate Cloud Run runner pilot
  .github/runner/cloud-run/.dockerignore
  .github/runner/cloud-run/Dockerfile
  .github/runner/cloud-run/README.md
  .github/runner/cloud-run/start.sh
  .github/workflows/_test.yml
  .github/workflows/cloud-run-runner-pilot.yml
Due: none

docs(python): match the poll_messages summary to its signature
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
Due: none

refactor(python): convert an identifier without owning it
  foreign/python/src/consumer.rs
  foreign/python/src/identifier.rs
Due: none

refactor(common): fold NonZeroIggyDuration into the duration module
  core/common/src/lib.rs
  core/common/src/utils/duration.rs
  core/common/src/utils/mod.rs
  core/common/src/utils/non_zero_duration.rs
Due: rust

feat(common): align the NonZeroIggyDuration API with IggyDuration
  core/common/src/utils/duration.rs
Due: rust

fix(python): read consumer metadata without the consumer lock
  core/sdk/src/clients/consumer.rs
  core/sdk/src/prelude.rs
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/tests/test_consumer_group.py
Due: rust

fix(shard): tell an unknown consensus operation from a corrupt header
  core/binary_protocol/src/consensus/error.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/operation.rs
  core/server/src/partition_reconciler.rs
  core/server_common/src/consensus_message.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
Due: rust

fix(consensus): keep a client's dedup fence across capacity eviction
  core/consensus/src/client_table.rs
  core/integration/tests/cluster/client_table_adversarial.rs
Due: rust

fix: respect max_buffer_size when merging batches
  core/sdk/src/clients/producer_sharding.rs
Due: rust

feat(connectors): store source state on an HTTP state server
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/README.md
  core/connectors/runtime/config.toml
  core/connectors/runtime/example_config/config.toml
  core/connectors/runtime/src/api/auth.rs
  core/connectors/runtime/src/api/source.rs
  core/connectors/runtime/src/configs/runtime.rs
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/error.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
  core/connectors/runtime/src/state.rs
  core/connectors/runtime/src/state/http.rs
  core/connectors/runtime/src/stream.rs
  core/connectors/sdk/src/lib.rs
  core/integration/tests/connectors/runtime/http_state.rs
  core/integration/tests/connectors/runtime/http_state.toml
  core/integration/tests/connectors/runtime/http_state_config/random_source.toml
  core/integration/tests/connectors/runtime/mod.rs
Due: rust

test(connectors): cover http_source auth guards and fail-closed paths
  core/connectors/sources/http_source/src/lib.rs
  core/connectors/sources/http_source/src/management.rs
  core/connectors/sources/http_source/src/metrics.rs
  core/connectors/sources/http_source/src/routes.rs
  core/connectors/sources/http_source/src/server.rs
  core/connectors/sources/http_source/src/state.rs
  core/connectors/sources/http_source/src/types.rs
Due: rust

feat(connectors): add the HTTP source webhook gateway connector
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/http_source_github.toml
  core/connectors/runtime/example_config/connectors/http_source_partner.toml
  core/connectors/sources/README.md
  core/connectors/sources/http_source/Cargo.toml
  core/connectors/sources/http_source/README.md
  core/connectors/sources/http_source/config.toml
  core/connectors/sources/http_source/src/auth.rs
  core/connectors/sources/http_source/src/lib.rs
  core/connectors/sources/http_source/src/management.rs
  core/connectors/sources/http_source/src/metrics.rs
  core/connectors/sources/http_source/src/routes.rs
  core/connectors/sources/http_source/src/server.rs
  core/connectors/sources/http_source/src/state.rs
  core/connectors/sources/http_source/src/types.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/http/mod.rs
  core/integration/tests/connectors/fixtures/http/source.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/http/http_source.rs
  core/integration/tests/connectors/http/mod.rs
  core/integration/tests/connectors/http/source.toml
  core/integration/tests/connectors/http/source_config/http_github.toml
  core/integration/tests/connectors/http/source_config/http_partner.toml
Due: rust

docs(connectors): document the runtime control API as privileged
  core/connectors/runtime/README.md
  core/connectors/runtime/config.toml
Due: rust

fix(connectors): warn on every documented exposure path, not just one
  core/connectors/runtime/example_config/config.toml
  core/connectors/runtime/src/api/mod.rs
Due: rust

fix(connectors): harden the API exposure warning after review
  core/connectors/runtime/README.md
  core/connectors/runtime/src/api/mod.rs
Due: rust

test(connectors): cover the warning wiring in the API init
  core/connectors/runtime/src/api/mod.rs
Due: rust

docs(connectors): correct the config-rewrite chain in the API notice
  core/connectors/runtime/README.md
Due: rust

fix(connectors): warn when the runtime API is exposed without a key
  core/connectors/runtime/src/api/mod.rs
Due: rust

fix(connectors): replay NACKed batches in the HTTP source
  core/connectors/sources/http_source/README.md
  core/connectors/sources/http_source/src/lib.rs
  core/connectors/sources/http_source/src/types.rs
Due: rust

docs(connectors): point the HTTP source loss window at #3941
  core/connectors/sources/http_source/README.md
Due: rust

docs(connectors): give the NACK breaker its own loss window
  core/connectors/sources/http_source/README.md
Due: rust

ci(rust): don't fail when a DAG scope matches no tests
  .github/actions/rust/pre-merge/action.yml
Due: none

chore(deps): refresh python uv locks
  bdd/python/uv.lock
  examples/python/uv.lock
  foreign/python/uv.lock
Due: none

feat(sdk): fail over to a surviving node when the current one dies
  core/common/src/traits/binary_impls/personal_access_tokens.rs
  core/common/src/traits/binary_impls/users.rs
  core/common/src/traits/binary_transport.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config_builder.rs
  core/integration/tests/cluster/failover_client_continuity.rs
  core/sdk/src/client_provider.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/DialCandidatesTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/EndpointFailoverTests.cs
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_failover_test.go
  foreign/go/client/tcp/tcp_session_credentials_test.go
  foreign/go/client/tcp/tcp_session_management.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/LeaderAwareness.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/LoginRoutingHook.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ReconnectPlan.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientEndpointFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/LeaderAwarenessTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/ReconnectPlanTest.java
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
Due: rust, java

fix(consensus): keep a late retry's reply instead of refusing it
  core/consensus/src/client_table.rs
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/cluster/client_table_adversarial.rs
Due: rust
