Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

Refactoring variable names
  gateways/kafka/src/lib.rs
  gateways/kafka/src/main.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/broker_advertise_tests.rs
  gateways/kafka/tests/common/server.rs
  gateways/kafka/tests/listener_robustness_tests.rs
Due: none

Fixing the precheck failures
  gateways/kafka/src/lib.rs
  gateways/kafka/src/main.rs
  gateways/kafka/tests/common/server.rs
Due: none

feat(python): add stream listing, update, delete, and purge
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/src/stream.rs
  foreign/python/tests/test_stream.py
Due: none

add stream getters and docs
  foreign/python/src/stream.rs
Due: none

add proper docs
  foreign/python/src/client.rs
Due: none

add tests and stubs
  foreign/python/apache_iggy.pyi
  foreign/python/tests/test_stream.py
Due: none

add test clean up
  bdd/python/uv.lock
  examples/python/uv.lock
  foreign/python/pyproject.toml
  foreign/python/tests/conftest.py
  foreign/python/tests/test_stream.py
  foreign/python/uv.lock
Due: none

stub_gen
  foreign/python/apache_iggy.pyi
Due: none

ci(security): replace package tokens with OIDC
  .github/actions/csharp-dotnet/post-merge/action.yml
  .github/actions/node-npm/post-merge/action.yml
  .github/actions/python-maturin/post-merge/action.yml
  .github/actions/rust/post-merge/action.yml
  .github/workflows/_publish_rust_crates.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
Due: none

fixes
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/options.rs
Due: none

test fixture fixes
  foreign/python/tests/conftest.py
Due: none

fix test
  foreign/python/tests/conftest.py
  foreign/python/tests/test_stream.py
Due: none

feat(csharp): add heartbeat mechanism
  foreign/csharp/Iggy_SDK.Tests.Integration/Fixtures/IggyServerFixture.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/HeartbeatTests.cs
  foreign/csharp/Iggy_SDK/Configuration/AutoLoginSettings.cs
  foreign/csharp/Iggy_SDK/Configuration/IggyClientConfigurator.cs
  foreign/csharp/Iggy_SDK/Configuration/ReconnectionSettings.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerBuilder.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerBuilderOfT.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerConfig.cs
  foreign/csharp/Iggy_SDK/Factory/IggyClientFactory.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherBuilder.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherBuilderOfT.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherConfig.cs
  foreign/csharp/Iggy_SDK_Tests/ClientTests/IggyClientFactoryTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/IggyConsumerBuilderTests.cs
  foreign/csharp/README.md
Due: none

feat(connectors): add opt-in CSV output format to Doris sink
  core/connectors/runtime/example_config/connectors/doris_sink.toml
  core/connectors/sinks/doris_sink/README.md
  core/connectors/sinks/doris_sink/config.toml
  core/connectors/sinks/doris_sink/src/lib.rs
  core/integration/tests/connectors/doris/doris_sink.rs
  core/integration/tests/connectors/doris/doris_stream_load_format_bench.rs
  core/integration/tests/connectors/doris/mod.rs
  core/integration/tests/connectors/fixtures/doris/container.rs
  core/integration/tests/connectors/fixtures/doris/mod.rs
  core/integration/tests/connectors/fixtures/mod.rs
Due: rust

Modifying the retry logic
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
  core/integration/tests/connectors/fixtures/elasticsearch/sink.rs
Due: rust

Resolving the merge conflicts
  core/integration/tests/connectors/fixtures/elasticsearch/container.rs
Due: rust

test(python): name the shared consumer test after what it asserts
  foreign/python/tests/test_message_operations.py
Due: none

test(python): cover group polling across several partitions
  foreign/python/tests/test_message_operations.py
Due: none

test(python): cover the partition-zero fallback for a regular consumer
  foreign/python/tests/test_message_operations.py
Due: none

test(python): cover a group poll pinned to an explicit partition
  foreign/python/tests/test_message_operations.py
Due: none

test(python): cover a group poll without joining the group
  foreign/python/tests/test_message_operations.py
Due: none

test(python): cover the consumer conversion boundary
  foreign/python/tests/test_message_operations.py
Due: none

fix(server): restore get_user self-read without read_users permission
  core/integration/tests/server/scenarios/permissions_scenario.rs
  core/metadata/src/stm/user.rs
  core/server/src/dispatch/authz.rs
  core/server/src/http/handlers.rs
  core/server/src/http/reads.rs
  core/server/src/responses.rs
Due: rust

fix(connectors): check the source handle registration result
  core/connectors/runtime/src/source.rs
Due: rust

fix(connectors): stop a dropped batch from advancing the saved cursor
  .claude/skills/connector-runtime/SKILL.md
  core/connectors/runtime/README.md
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/metrics.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sources/README.md
Due: rust

fix(connectors): bound source forwarding channel with backpressure
  .claude/skills/connector-runtime/SKILL.md
  .claude/skills/connectors-overview/SKILL.md
  Cargo.lock
  core/connectors/runtime/Cargo.toml
  core/connectors/runtime/README.md
  core/connectors/runtime/src/configs/connectors.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sources/README.md
Due: rust

fix(connectors): hand off SDK worker during blocking send callbacks
  core/connectors/sdk/src/source.rs
Due: rust

fix(ci): restore Docker and PyPI releases
  .github/actions/python-maturin/post-merge/action.yml
  .github/actions/utils/docker-buildx/action.yml
  .github/workflows/publish.yml
Due: none

rust side batch rewrite
  core/binary_protocol/src/batch.rs
  core/binary_protocol/src/error.rs
  core/binary_protocol/src/lib.rs
  core/binary_protocol/src/message_layout.rs
  core/binary_protocol/src/message_view.rs
  core/binary_protocol/src/requests/messages/mod.rs
  core/binary_protocol/src/requests/messages/send_messages.rs
  core/binary_protocol/src/responses/messages/poll_messages.rs
  core/common/src/traits/binary_impls/messages.rs
  core/common/src/types/message/message_view_mut.rs
  core/common/src/types/message/mod.rs
  core/common/src/types/message/polled_messages.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/log.rs
  core/partitions/src/poll_plan.rs
  core/partitions/src/state_transfer.rs
  core/server/src/bootstrap.rs
  core/server/src/http/wire.rs
  core/server/src/partition_helpers.rs
  core/server/src/responses.rs
  core/server/src/segment_recovery.rs
  core/server_common/src/in_flight.rs
  core/server_common/src/indexes_mut.rs
  core/server_common/src/lib.rs
  core/server_common/src/messages_batch_mut.rs
  core/server_common/src/messages_batch_set.rs
  core/server_common/src/segment_storage/index_reader.rs
  core/server_common/src/segment_storage/index_writer.rs
  core/server_common/src/segment_storage/messages_reader.rs
  core/server_common/src/segment_storage/messages_writer.rs
  core/server_common/src/segment_storage/mod.rs
  core/server_common/src/send_messages.rs
  core/simulator/src/client.rs
Due: rust

finito
  bdd/go/go.mod
  bdd/go/go.sum
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK/Messages/BatchWireFormat.cs
  foreign/csharp/Iggy_SDK/Utils/TcpMessageStreamHelpers.cs
  foreign/csharp/Iggy_SDK_Tests/ContractsTests/MessageBatchGoldenVectorTests.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/PublisherTests/MessageEncryptionTests.cs
  foreign/csharp/Iggy_SDK_Tests/Utils/BinaryFactory.cs
  foreign/go/binary_serialization/binary_response_deserializer.go
  foreign/go/binary_serialization/binary_response_deserializer_test.go
  foreign/go/binary_serialization/vsr_response_deserializer_test.go
  foreign/go/contracts/message_header.go
  foreign/go/go.mod
  foreign/go/go.sum
  foreign/go/internal/batch/batch.go
  foreign/go/internal/command/message.go
  foreign/go/internal/command/message_test.go
  foreign/java/gradle/libs.versions.toml
  foreign/java/java-sdk/build.gradle.kts
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/message/MessageHeader.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesDeserializer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/BaseIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/BytesSerializerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/MessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/BytesDeserializerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/MessagesBatchWireFormatTest.java
  foreign/node/package-lock.json
  foreign/node/package.json
  foreign/node/src/wire/message/iggy-header.utils.ts
  foreign/node/src/wire/message/message-batch.test.ts
  foreign/node/src/wire/message/message.utils.ts
  foreign/node/src/wire/message/poll.utils.ts
  foreign/node/src/wire/message/send-messages.command.test.ts
  foreign/node/src/wire/vsr/vsr.test.ts
Due: java

fix(cli): bound ping retries and smoke test macOS server boot in CI
  .github/actions/rust/pre-merge/action.yml
  core/common/src/types/args/mod.rs
  core/integration/tests/cli/general/test_help_command.rs
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/PersonalAccessTokensClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/PersonalAccessTokensClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/PersonalAccessTokensBaseTest.java
Due: rust, java

fix CI
  Cargo.lock
  Cargo.toml
  core/common/Cargo.toml
  examples/go/go.mod
  examples/go/go.sum
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK/Messages/BatchWireFormat.cs
  foreign/csharp/Iggy_SDK/Utils/TcpMessageStreamHelpers.cs
  foreign/go/internal/command/message.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrOperation.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesDeserializer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
Due: rust, java

fix ci
  core/server/src/http/wire.rs
Due: rust

feat(server): enable client heartbeat verification in config
  core/server/config.toml
Due: rust

test(csharp): add integration tests for topic options handling
  foreign/csharp/Iggy_SDK.Tests.Integration/OptionsTests.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
Due: none

improvements
  core/binary_protocol/src/batch.rs
  core/binary_protocol/src/requests/messages/send_messages.rs
  core/binary_protocol/src/responses/messages/poll_messages.rs
  core/common/src/types/message/polled_messages.rs
  core/integration/tests/server/scenarios/stream_size_validation_scenario.rs
  core/partitions/src/iggy_partition.rs
  core/server_common/src/send_messages.rs
  foreign/go/internal/command/message.go
  foreign/node/src/wire/message/message.utils.ts
Due: rust

refactor(csharp): simplify TCP message stream implementation
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
Due: none
