Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

fix(partitions): reset the owner install barrier on state transfer
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
Due: rust

fix(java): stop retrying 88 once the caller gave up
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionLifecycleBusyTest.java
Due: java

fix(server): finish lifecycles of partitions fenced at boot
  core/metadata/src/stm/lifecycle.rs
  core/server/src/partition_reconciler.rs
Due: rust

fix(sdk): fence HTTP sends with the client's partition context
  core/common/src/consumer_group_client_state.rs
  core/common/src/http/messages/send_messages.rs
  core/integration/tests/cluster/fast_primary_rejoin.rs
  core/integration/tests/server/http_rbac.rs
  core/integration/tests/server/http_vsr.rs
  core/sdk/src/clients/producer.rs
  core/sdk/src/http/http_client.rs
  core/sdk/src/http/messages.rs
  core/sdk/src/http/mod.rs
  core/sdk/src/http/partitions.rs
  core/sdk/src/http/scripted_server.rs
  core/sdk/src/http/streams.rs
  core/sdk/src/http/topics.rs
  core/server/src/http/handlers.rs
  core/server/src/http/submit.rs
Due: rust

fix(partitions): let partitions without messages recover by transfer
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
Due: rust

feat(swift): add the TooManyConsumerGroups error code 5010
  foreign/swift/Sources/Iggy/Errors/IggyErrorCode.swift
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
Due: none

refactor(server): share the poll head encoder and drop a dead field
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/responses/messages/poll_messages.rs
  core/binary_protocol/src/responses/topics/get_topic.rs
  core/server/src/dispatch/failure.rs
  core/server/src/dispatch/partition.rs
  core/server/src/reply_frame.rs
Due: rust

perf(metadata): index partitions once per topic in snapshot checks
  core/metadata/src/stm/lifecycle.rs
Due: rust

fix(python): let held messages commit under their own context
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/src/lib.rs
  foreign/python/src/receive_message.rs
  foreign/python/src/topic.rs
  foreign/python/tests/test_message_operations.py
Due: none

fix(partitions): refuse polls of a deleted partition history
  core/partitions/src/iggy_partition.rs
  core/shard/src/lib.rs
  core/shard/src/poll.rs
  core/shard/src/poll/completion_tests.rs
  core/shard/src/poll/test_support.rs
Due: rust

fix(server): label owner retirement catalogs with their own op
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/lifecycle.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/server/src/partition_reconciler.rs
  core/server/src/responses.rs
Due: rust

test(csharp): wait for group activation in the integration tests
  foreign/csharp/Iggy_SDK.Tests.Integration/ConsumerGroupTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Helpers/ConsumerGroupAssignment.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/OffsetTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/OptionsTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/Vsr/VsrConsumerGroupTests.cs
Due: none

fix(partitions): rebuild the owner install latch after a truncation
  core/partitions/src/iggy_partition.rs
Due: rust

test(cpp): wait for group activation before group offset calls
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/e2e/message.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
Due: none

fix(csharp): sync an empty group assignment again on every poll
  foreign/csharp/Iggy_SDK/Vsr/ConsumerGroupClientState.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/ConsumerGroupClientStateTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/GroupPollingTests.cs
Due: none

fix(java): sync an empty group assignment again on every poll
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientPartitionContextTest.java
Due: java

fix(node): sync an empty group assignment again on every poll
  foreign/node/src/wire/message/poll-messages.command.test.ts
  foreign/node/src/wire/message/poll-messages.command.ts
Due: none

perf(metadata): index pending lifecycles by stream and topic
  core/metadata/src/stm/lifecycle.rs
  core/metadata/src/stm/stream.rs
Due: rust

fix(partitions): stop owner proof waiting for unrelated writes
  core/partitions/src/iggy_partition.rs
Due: rust

test(python): wait for group activation in the consumer group tests
  foreign/python/tests/test_consumer_group.py
  foreign/python/tests/test_message_operations.py
  foreign/python/tests/utils.py
Due: none

perf(server): stop copying every lifecycle intent on each wake
  core/server/src/partition_reconciler.rs
Due: rust

refactor(metadata): drop the redundant check in pollable_partitions
  core/metadata/src/stm/consumer_group.rs
Due: rust

fix(sdk): keep the replay guard for stores before the first message
  core/sdk/src/clients/consumer.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/consumer.rs
Due: rust

fix(partitions): report the highest resident op from the journal
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
Due: rust

fix(go): sync an empty group assignment again on every poll
  foreign/go/client/tcp/tcp_group_polling.go
  foreign/go/client/tcp/tcp_group_polling_test.go
Due: none

test(go): wait for group activation in the e2e tests
  foreign/go/tests/e2e_helpers_test.go
  foreign/go/tests/e2e_test.go
Due: none

fix(sdk): never skip offset 0 behind a store without a context
  core/sdk/src/clients/consumer.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/consumer.rs
Due: rust

fix(metadata): keep groups without members free of owner rows
  core/metadata/src/stm/consumer_group.rs
Due: rust

fix(partitions): hold the checkpoint while a fence awaits publish
  core/partitions/src/iggy_partition.rs
Due: rust

fix(server): stop per-partition completions from flooding shard 0
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/lifecycle.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/submit.rs
  core/server/src/lib.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/simulator/src/lib.rs
Due: rust

fix(server): answer a lost metadata forward instead of staying silent
  core/metadata/src/impls/metadata.rs
  core/server/src/dispatch/failure.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/submit.rs
  core/server/src/http/submit.rs
Due: rust

fix(server): refuse a context ahead of local metadata as transient
  core/partitions/src/iggy_partition.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/handlers.rs
Due: rust

perf(connectors): drain field_mappings instead of clone-then-clear (#4362)
  core/connectors/sdk/src/convert.rs
  core/connectors/sdk/src/decoders/avro.rs
  core/connectors/sdk/src/decoders/flatbuffer.rs
  core/connectors/sdk/src/decoders/proto.rs
  core/connectors/sdk/src/encoders/avro.rs
  core/connectors/sdk/src/encoders/flatbuffer.rs
  core/connectors/sdk/src/encoders/proto.rs
  core/connectors/sdk/src/transforms/avro_convert.rs
  core/connectors/sdk/src/transforms/proto_convert.rs
  core/connectors/sdk/tests/flatbuffer_integration.rs
Due: rust
