Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

java reporting suite
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/actors/tcp/async/TcpAsyncPinnedProducerActor.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/runners/tcp/async/TcpAsyncPinnedProducer.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/cli/IggyBenchCommand.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/cli/PinnedProducerCommand.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/BenchmarkKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/TimeSeriesKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/FinalReport.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkCacheMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkCacheMetricsKey.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkHardware.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkNumericParameter.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkParams.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkServerStats.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/BenchmarkRecord.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/DistributionPercentiles.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/GroupMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/GroupMetricsSummary.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/HistogramBin.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/IndividualMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/IndividualMetricsSummary.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/LatencyDistribution.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/LatencyMetrics.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/LogNormalParams.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/TimePoint.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/metrics/TimeSeries.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/FinalReportBuilder.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/GroupMetricsCalculator.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/HardwareInfoCollector.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/IndividualMetricsCalculator.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/ServerStatsCollector.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/StatsHelper.java
  foreign/java/bench/src/main/resources/logback.xml
Due: none

java reporting suite
  foreign/java/bench/src/main/resources/logback.xml
Due: none

clean up
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/actors/tcp/async/TcpAsyncPinnedProducerActor.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/runners/tcp/async/TcpAsyncPinnedProducer.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/cli/PinnedProducerCommand.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkNumericParameter.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/report/context/BenchmarkParams.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/FinalReportBuilder.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/GroupMetricsCalculator.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/report/HardwareInfoCollector.java
Due: none

remove bench/ from codecov.yml
  codecov.yml
Due: none

fix(go): address logger review feedback
  foreign/go/client/iggy_client.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/internal/util/leader_aware.go
Due: none

fix unknown mis- prefix
  foreign/go/client/tcp/tcp_core.go
Due: none

remove unwraps from consumer
  foreign/python/src/consumer.rs
Due: none

add timeout for tests
  bdd/python/uv.lock
  examples/python/uv.lock
  foreign/python/pyproject.toml
  foreign/python/tests/test_consumer_group.py
Due: none

rewrite deterministic name tests
  foreign/python/tests/conftest.py
  foreign/python/tests/test_stream.py
  foreign/python/tests/test_topic.py
Due: none

correct async iterator error
  foreign/python/src/consumer.rs
Due: none

add todo for consumer group fixture
  foreign/python/tests/test_consumer_group.py
Due: none

temp commit
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/src/identifier.rs
  foreign/python/src/send_message.rs
  foreign/python/tests/test_consumer_group.py
  foreign/python/tests/test_message_operations.py
  foreign/python/tests/test_stream.py
  foreign/python/tests/test_topic.py
Due: none

satisfy clippy
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/src/identifier.rs
  foreign/python/src/send_message.rs
Due: none

fix ci and tests
  foreign/python/tests/test_connectivity.py
  foreign/python/tests/test_consumer_group.py
  foreign/python/tests/test_message_operations.py
Due: none

ci(php): isolate Rust cache
  .github/actions/php/pre-merge/action.yml
Due: none

test(php): add BDD suite wiring
  .github/config/components.yml
  bdd/docker-compose.yml
  bdd/php/Dockerfile
  bdd/php/phpunit.xml.dist
  bdd/php/tests/BasicMessagingFeatureTest.php
  scripts/run-bdd-tests.sh
Due: none

ci(php): keep BDD image under disk limit
  bdd/php/Dockerfile
Due: none

ci(php): satisfy Hawkeye license checks
  bdd/php/phpunit.xml.dist
  licenserc.toml
  scripts/ci/license-headers.sh
Due: none

ci(php): narrow BDD component ownership
  .github/config/components.yml
  bdd/php/Dockerfile
Due: none

Harden PHP BDD wiring after review
  .github/actions/php/pre-merge/action.yml
  .github/config/components.yml
  bdd/docker-compose.coverage.yml
  bdd/docker-compose.yml
  bdd/php/Dockerfile
  bdd/php/tests/BasicMessagingFeatureTest.php
  licenserc.toml
  scripts/ci/license-headers.sh
Due: none

Keep PHP BDD tooling in sync with Rust
  bdd/docker-compose.coverage.yml
  bdd/php/Dockerfile
  bdd/php/tests/BasicMessagingFeatureTest.php
  scripts/ci/sync-rustc-version.sh
Due: none

feat(connectors): add SurrealDB sink connector
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  Cargo.lock
  Cargo.toml
  core/connectors/README.md
  core/connectors/runtime/example_config/connectors/surrealdb_sink.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/surrealdb_sink/Cargo.toml
  core/connectors/sinks/surrealdb_sink/README.md
  core/connectors/sinks/surrealdb_sink/config.toml
  core/connectors/sinks/surrealdb_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/surrealdb/container.rs
  core/integration/tests/connectors/fixtures/surrealdb/mod.rs
  core/integration/tests/connectors/fixtures/surrealdb/sink.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/surrealdb/mod.rs
  core/integration/tests/connectors/surrealdb/sink.toml
  core/integration/tests/connectors/surrealdb/surrealdb_sink.rs
  scripts/bump-version.sh
Due: rust

fix: address review comments
  core/configs/src/server_config/validators.rs
  core/consensus/src/metadata_helpers.rs
  core/consensus/src/plane_helpers.rs
  core/message_bus/src/lib.rs
  core/partitions/src/iggy_partition.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/partition_reconciler.rs
  core/server/src/main.rs
  core/server/src/shard/system/partitions.rs
  core/server_common/src/sharding/partition_location.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/simulator/src/bus.rs
Due: rust

feat(server-ng): add partition reconciliation loop
  Cargo.lock
  core/binary_protocol/src/responses/topics/create_topic.rs
  core/configs/src/server_config/sharding.rs
  core/configs/src/server_config/validators.rs
  core/message_bus/src/lib.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/lib.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/messages_writer.rs
  core/server-ng/Cargo.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/lib.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/partition_reconciler.rs
  core/server-ng/tests/sdk_e2e.rs
  core/server/src/main.rs
  core/server/src/shard/system/partitions.rs
  core/server_common/src/segment_storage/index_writer.rs
  core/server_common/src/segment_storage/messages_writer.rs
  core/server_common/src/sharding/partition_location.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
  core/shard/src/shards_table.rs
  core/simulator/Cargo.toml
  core/simulator/src/replica.rs
Due: rust

update Pinot integration
  bdd/java/build.gradle.kts
  examples/java/build.gradle.kts
  foreign/java/external-processors/iggy-connector-pinot/src/main/java/org/apache/iggy/connector/pinot/consumer/IggyMessageBatch.java
  foreign/java/external-processors/iggy-connector-pinot/src/main/java/org/apache/iggy/connector/pinot/metadata/IggyStreamMetadataProvider.java
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/consumer/IggyMessageBatchTest.java
  foreign/java/gradle/libs.versions.toml
Due: java

address review
  foreign/python/tests/test_message_operations.py
Due: none

Running cargo checks
  Cargo.toml
  core/connectors/sources/mongodb_source/Cargo.toml
Due: rust

fix(connectors): address PR validation from mongodb source
  core/connectors/sources/mongodb_source/Cargo.toml
  core/connectors/sources/mongodb_source/config.toml
  core/connectors/sources/mongodb_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mongodb/source.rs
  core/integration/tests/connectors/mongodb/mongodb_source.rs
Due: rust

Address PHP BDD review follow-ups
  bdd/README.md
  bdd/php/Dockerfile
  bdd/php/tests/BasicMessagingFeatureTest.php
  scripts/ci/sync-rustc-version.sh
Due: none

fix(connectors): harden Meilisearch source polling
  core/connectors/sources/README.md
  core/connectors/sources/meilisearch_source/README.md
  core/connectors/sources/meilisearch_source/src/lib.rs
  core/integration/tests/connectors/fixtures/meilisearch/container.rs
  core/integration/tests/connectors/fixtures/meilisearch/source.rs
Due: rust

feat(php): allow foreach-based consumer message processing
  foreign/php/README.md
  foreign/php/iggy-php.stubs.php
  foreign/php/src/consumer.rs
  foreign/php/src/lib.rs
  foreign/php/src/message_iterator.rs
  foreign/php/tests/IggySdkTest.php
Due: none

feat(go): align TCP client logging with Rust SDK
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_session_management.go
Due: none

ci: one dependabot PR per component for all update types
  .github/dependabot.yml
  .github/workflows/issue-labeler-assigner.yml
Due: none

ci: fix edge-gate over-publish and retry license check
  scripts/ci/edge-affected-images.sh
  scripts/ci/third-party-licenses.sh
Due: none

fix(php): keep generated stubs in sync
  foreign/php/iggy-php.stubs.php
Due: none

feat(connectors): scaffold opensearch_source connector skeleton
  Cargo.lock
  Cargo.toml
  core/connectors/sources/opensearch_source/Cargo.toml
  core/connectors/sources/opensearch_source/src/lib.rs
  core/connectors/sources/opensearch_source/src/state_manager.rs
Due: rust

docs(connectors): add opensearch_source config and README
  core/connectors/sources/opensearch_source/README.md
  core/connectors/sources/opensearch_source/config.toml
Due: rust

test(connectors): add opensearch_source unit and integration tests
  Cargo.lock
  core/connectors/sources/opensearch_source/Cargo.toml
  core/connectors/sources/opensearch_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/opensearch/container.rs
  core/integration/tests/connectors/fixtures/opensearch/mod.rs
  core/integration/tests/connectors/fixtures/opensearch/source.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/opensearch/mod.rs
  core/integration/tests/connectors/opensearch/opensearch_source.rs
  core/integration/tests/connectors/opensearch/source.toml
Due: rust

remove createPayload and replace tests with stroger checks
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_encode_test.go
  foreign/go/client/tcp/tcp_core_test.go
Due: none

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
