Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

style(cpp): fix clang-format alignment in message test
  foreign/cpp/tests/message/low_level_e2e.cpp
Due: none

fix(cpp): apply clang-format and remove fragile stream id assertion
  foreign/cpp/tests/message/low_level_e2e.cpp
Due: none

fix(cpp): fix PollMessagesWithCountZero test — server rejects count=0
  foreign/cpp/tests/message/low_level_e2e.cpp
Due: none

refactor(cpp): address review feedback — rename tests, strengthen assertions, remove redundant test
  foreign/cpp/tests/message/low_level_e2e.cpp
Due: none

test(cpp): add overlooked poll_messages e2e tests for partition, count, timestamp, and offset verification
  foreign/cpp/tests/message/low_level_e2e.cpp
Due: none

test(cpp): move get_streams tests from message/ to stream/ directory
  foreign/cpp/tests/message/low_level_e2e.cpp
  foreign/cpp/tests/stream/low_level_e2e.cpp
Due: none

style(cpp): apply rustfmt formatting
  foreign/cpp/src/client.rs
Due: none

test(cpp): add unit tests for Message.new_message
  foreign/cpp/src/client.rs
  foreign/cpp/src/identifier.rs
  foreign/cpp/tests/message/unit_tests.cpp
Due: none

fix(cpp): remove unneeded clippy allow on identifier.rs
  foreign/cpp/src/identifier.rs
Due: none

fix(cpp): address code review findings for FFI messaging functions
  foreign/cpp/src/client.rs
  foreign/cpp/tests/common/test_helpers.hpp
  foreign/cpp/tests/message/low_level_e2e.cpp
Due: none

fix clippy errors
  core/connectors/sinks/clickhouse_sink/src/binary.rs
Due: rust

fix(cpp): re-add clippy allow for Rust 1.95 wrong_self_convention lint
  foreign/cpp/src/identifier.rs
Due: none

refactor(cpp): address hubcio review feedback for FFI messaging
  foreign/cpp/Cargo.toml
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/messages.rs
  foreign/cpp/tests/message/low_level_e2e.cpp
  foreign/cpp/tests/message/unit_tests.cpp
Due: none

fix(cpp): drop reserve_total call — not in cxx::Vec public API
  foreign/cpp/tests/message/low_level_e2e.cpp
Due: none

fix(cpp): update missed Message reference in stream e2e test
  foreign/cpp/tests/stream/low_level_e2e.cpp
Due: none

Add QUIC support to consumer group test transports
  core/integration/tests/server/cg.rs
Due: rust

test(node-sdk): Add tests for `handleResponse` and `deserializeVoidResponse` utils Closes #3128
  foreign/node/src/client/client.utils.test.ts
Due: none

test(node-sdk): Add `After` hook for stream cleanup and refactor `Given` step for assertions
  foreign/node/src/bdd/stream.ts
  foreign/node/src/wire/message/send-messages.command.ts
Due: none

fix(node-sdk): Add `deserializeStatusResponse` and update `SEND_MESSAGES.deserialize` to use it Closes #3128
  foreign/node/src/client/client.utils.ts
  foreign/node/src/wire/message/send-messages.command.ts
Due: none

test(node-sdk): Refactor BDD tests to use instance properties for stream and topic IDs
  foreign/node/src/bdd/message.ts
  foreign/node/src/bdd/stream.ts
  foreign/node/src/bdd/topic.ts
Due: none

fix(node-sdk): Correct data slicing logic in `handleResponse` utility Closes #3128
  foreign/node/src/client/client.utils.ts
Due: none

test(node-sdk): Add tests for `deserializeStatusResponse` and `SEND_MESSAGES.deserialize` functions Closes #3128
  foreign/node/src/client/client.utils.test.ts
  foreign/node/src/wire/message/send-messages.command.test.ts
Due: none

reorder directories, add tcp async actor, data batch generator, and different enums for benchmark data collector
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/actors/tcp/async/TcpAsyncPinnedProducerActor.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/runners/tcp/async/TcpAsyncPinnedProducer.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/benchmarks/tcp/async/TcpAsyncPinnedProducer.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/cli/PinnedProducerCommand.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/ActorKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/BenchmarkKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/GroupKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/enums/TransportKind.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/exception/BenchmarkException.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/generator/BenchmarkBatchGenerator.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/provision/ResourceProvisioner.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/cli/GlobalCliArgs.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/cli/PinnedProducerCliArgs.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/common/generator/DataBatch.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/models/common/provision/ProvisionedResources.java
  foreign/java/bench/src/main/java/org/apache/iggy/bench/provision/ResourceProvisioner.java
Due: none

chore(repo): add ASF incubator status and update readme
  Dockerfile
  README.md
  bdd/Dockerfile
  bdd/csharp/Dockerfile
  bdd/go/Dockerfile
  bdd/java/Dockerfile
  bdd/node/Dockerfile
  bdd/python/Dockerfile
  bdd/rust/Dockerfile
  core/ai/mcp/Dockerfile
  core/bench/dashboard/server/Dockerfile
  core/binary_protocol/Cargo.toml
  core/binary_protocol/README.md
  core/cli/README.md
  core/common/Cargo.toml
  core/common/README.md
  core/connectors/runtime/Dockerfile
  core/sdk/Cargo.toml
  core/sdk/README.md
  core/server-ng/Dockerfile
  core/server/Dockerfile
  foreign/cpp/README.md
  foreign/csharp/README.md
  foreign/java/README.md
  foreign/java/external-processors/iggy-connector-flink/docker/Dockerfile.flink2_10-java21
  foreign/node/README.md
  foreign/python/.devcontainer/Dockerfile
  foreign/python/Dockerfile.test
  foreign/python/README.md
  web/Dockerfile
Due: rust, java

add to CI edge pre-release
  .github/workflows/edge-release.yml
Due: none

Refine SchemaMismatch error documentation
  core/connectors/sdk/src/lib.rs
Due: rust

test(message_bus): pin background_tasks reap and post-shutdown drain
  core/message_bus/src/lib.rs
  core/message_bus/tests/installer_panic_cleanup.rs
Due: rust

style(message_bus): drop F-tag from tcp_tls rustdoc
  core/message_bus/src/transports/tcp_tls.rs
Due: rust

fix(message_bus): drive tls.shutdown under close_grace on WSS shutdown
  core/message_bus/src/transports/wss.rs
Due: rust

docs(message_bus): flag deleted replica-plane authn at listener auth section
  core/message_bus/src/replica/listener.rs
Due: rust

test(message_bus): lock tcp_tls cancel-safety, doc authn boundary
  Cargo.toml
  core/message_bus/src/client_listener/mod.rs
  core/message_bus/src/transports/tcp_tls.rs
  core/message_bus/tests/tcp_tls_cancel_safe.rs
Due: rust

docs(message_bus): correct batching, ALPN, and ws_config doc lies
  core/message_bus/src/client_listener/mod.rs
  core/message_bus/src/config.rs
  core/message_bus/src/transports/mod.rs
  core/message_bus/src/transports/tcp_tls.rs
Due: rust

docs(message_bus): tighten replica trust boundary statement
  core/message_bus/src/replica/listener.rs
Due: rust

docs(message_bus): clear PR-introduced rustdoc broken-link warnings
  core/configs/src/server_ng_config/websocket.rs
  core/message_bus/src/config.rs
  core/message_bus/src/lib.rs
  core/message_bus/src/replica/listener.rs
  core/message_bus/src/transports/tcp_tls.rs
Due: rust

fix(message_bus): bound the full TLS close sequence by close_grace
  core/message_bus/src/transports/tcp_tls.rs
Due: rust

perf(message_bus): hoist batch buffer in tcp_tls/ws/wss pumps
  core/message_bus/src/transports/tcp_tls.rs
  core/message_bus/src/transports/ws.rs
  core/message_bus/src/transports/wss.rs
Due: rust

docs(message_bus): tighten transport-trait + ws/quic invariants
  core/message_bus/src/transports/mod.rs
  core/message_bus/src/transports/quic.rs
  core/message_bus/src/transports/ws.rs
Due: rust

fix(configs): wire TcpSocket and MessageBus defaults to SERVER_NG_CONFIG
  core/configs/src/server_ng_config/defaults.rs
Due: rust

chore(message_bus): allow iter_with_drain on hoisted batch loops
  core/message_bus/src/transports/tcp_tls.rs
  core/message_bus/src/transports/ws.rs
  core/message_bus/src/transports/wss.rs
Due: rust
