Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

hardening
  core/common/src/traits/message_client.rs
  core/configs/src/server_config/partition.rs
  core/integration/tests/server/consumer_offset_quota_vsr.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/poll_plan.rs
  core/partitions/src/state_transfer.rs
  core/sdk/src/clients/consumer.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/tcp/tcp_client.rs
  core/server/config.toml
  core/server/src/boot/recovery.rs
  core/server/src/dispatch/partition.rs
  core/server/src/offset_recovery.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/simulator/src/lib.rs
Due: rust

fixes
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodecTest.java
Due: java

fix(python): address HTTP PR review feedback
  examples/python/http/consumer.py
  examples/python/http/producer.py
  foreign/python/README.md
  foreign/python/tests/test_http_config.py
Due: none

feat(python): add HttpConfig transport configuration
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  core/sdk/src/prelude.rs
  examples/python/README.md
  examples/python/http/consumer.py
  examples/python/http/producer.py
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/lib.rs
  foreign/python/tests/test_http_config.py
  foreign/python/tests/utils.py
Due: rust

fix(python): rustfmt HttpConfig repr
  foreign/python/src/config.rs
Due: none

fix(python): fold HttpConfig into IggyClient(...) union
  examples/python/README.md
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  examples/python/http/consumer.py
  examples/python/http/producer.py
  foreign/python/README.md
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/tests/test_http_config.py
Due: none

fix(python): address review comments
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  foreign/python/README.md
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/tests/test_http_config.py
  foreign/python/tests/utils.py
Due: none

fix(python): correct HTTP consumer group docs and jwt handling
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/tests/test_http_config.py
  foreign/python/tests/utils.py
Due: none

refactor(python): align HttpConfig with QuicConfig conventions
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
  foreign/python/tests/test_http_config.py
  foreign/python/tests/utils.py
Due: none

refactor(python): align QuicConfig conventions with HttpConfig
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
  foreign/python/tests/test_client_config.py
  foreign/python/tests/test_http_config.py
  foreign/python/tests/test_quic_config.py
Due: none

fix(python): pin the QUIC transport test without ip_nonlocal_bind
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  foreign/python/README.md
  foreign/python/src/config.rs
  foreign/python/tests/test_http_config.py
  foreign/python/tests/test_quic_config.py
Due: none

chore: add Iggy banner to server startup
  core/server/src/banner.rs
  core/server/src/main.rs
Due: rust

feat(python): add WebSocketConfig transport configuration
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  core/sdk/src/prelude.rs
  examples/python/README.md
  examples/python/websocket/consumer.py
  examples/python/websocket/producer.py
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/docker-compose.test.yml
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/lib.rs
  foreign/python/tests/test_websocket_config.py
  foreign/python/tests/utils.py
Due: rust

fix(python): address WebSocket PR review feedback
  core/common/src/types/configuration/websocket_config/websocket_client_config.rs
  examples/python/README.md
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  examples/python/websocket/consumer.py
  examples/python/websocket/producer.py
  foreign/python/README.md
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/tests/test_websocket_config.py
Due: rust

fix(python): align WebSocket config with the other transports
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
  foreign/python/tests/test_websocket_config.py
Due: none

fix(python): let the WebSocket reprs round-trip through eval
  foreign/python/apache_iggy.pyi
  foreign/python/src/config.rs
  foreign/python/tests/test_websocket_config.py
Due: none

refactor(server): split responses.rs by role and unify reply framing
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/consensus/reply_result.rs
  core/binary_protocol/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/server/src/boot/mod.rs
  core/server/src/consumer_group.rs
  core/server/src/dispatch/authz.rs
  core/server/src/dispatch/failure.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/reads.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/dispatch/submit.rs
  core/server/src/http/handlers.rs
  core/server/src/http/reads.rs
  core/server/src/http/reply.rs
  core/server/src/http/submit.rs
  core/server/src/http/wire.rs
  core/server/src/lib.rs
  core/server/src/namespace.rs
  core/server/src/reply_frame.rs
  core/server/src/responses.rs
  core/server/src/sysinfo_probe.rs
Due: rust

docs(connectors): document rabbitmq_sink config fields
  core/connectors/runtime/example_config/connectors/rabbitmq_sink.toml
  core/connectors/sinks/rabbitmq_sink/README.md
  core/connectors/sinks/rabbitmq_sink/config.toml
Due: rust

fix(connectors): address rabbitmq_sink review comments
  Cargo.lock
  core/connectors/runtime/example_config/connectors/rabbitmq_sink.toml
  core/connectors/sinks/rabbitmq_sink/Cargo.toml
  core/connectors/sinks/rabbitmq_sink/README.md
  core/connectors/sinks/rabbitmq_sink/config.toml
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
Due: rust

feat(connectors): add RabbitMQ sink
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  Cargo.lock
  Cargo.toml
  core/connectors/README.md
  core/connectors/runtime/example_config/connectors/rabbitmq_sink.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/rabbitmq_sink/Cargo.toml
  core/connectors/sinks/rabbitmq_sink/README.md
  core/connectors/sinks/rabbitmq_sink/config.toml
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/container.rs
  core/integration/tests/connectors/fixtures/rabbitmq/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/sink.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/rabbitmq/mod.rs
  core/integration/tests/connectors/rabbitmq/rabbitmq_sink.rs
  core/integration/tests/connectors/rabbitmq/sink.toml
  scripts/bump-version.sh
Due: rust

fix(connectors): isolate rabbitmq_sink channels with unresolved confirms
  core/connectors/sinks/rabbitmq_sink/README.md
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
Due: rust

test(connectors): cover rabbitmq_sink durability, routing, headers
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/container.rs
  core/integration/tests/connectors/fixtures/rabbitmq/mod.rs
  core/integration/tests/connectors/fixtures/rabbitmq/sink.rs
  core/integration/tests/connectors/rabbitmq/rabbitmq_sink.rs
Due: rust

fix(connectors): harden rabbitmq_sink publish pipeline
  Cargo.lock
  core/connectors/sinks/rabbitmq_sink/Cargo.toml
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
Due: rust

fix(connectors): serialize rabbitmq_sink publishes across consumer tasks
  Cargo.lock
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
Due: rust

add initial roadmap
  ROADMAP.md
Due: none

fix(consensus): keep a replica off a hole in its committed prefix
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/bin/workload-fuzz.rs
  core/simulator/src/lib.rs
  core/simulator/src/workload/invariants.rs
  core/simulator/src/workload/oracle.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

fix: address review comments
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/partitions/src/iggy_partition.rs
  core/shard/src/lib.rs
  core/simulator/src/lib.rs
  core/simulator/src/workload/invariants.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

fix: ci
  core/shard/src/router.rs
Due: rust

address review
  Cargo.toml
  core/common/src/types/streaming_stats.rs
  core/integration/tests/data_integrity/verify_after_server_restart.rs
  core/integration/tests/server/general.rs
  core/integration/tests/server/scenarios/delete_stats_rollback_scenario.rs
  core/integration/tests/server/scenarios/mod.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/metadata/src/stm/stream.rs
  core/partitions/src/iggy_partition.rs
  core/server/src/http/handlers.rs
  core/server/src/http/metrics.rs
  core/server/src/partition_reconciler.rs
Due: rust

fix(connectors): address postgres source ack review feedback
  Cargo.lock
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/postgres/cdc.rs
  core/integration/tests/connectors/fixtures/postgres/mod.rs
  core/integration/tests/connectors/fixtures/postgres/source.rs
  core/integration/tests/connectors/postgres/mod.rs
  core/integration/tests/connectors/postgres/postgres_source.rs
  core/integration/tests/connectors/postgres/postgres_source_cdc.rs
Due: rust

style(python): 修复错误转换调用的格式检查
  foreign/python/src/client.rs
Due: none

fix linter
  foreign/php/iggy-php.stubs.php
Due: none

fix: address review comments round 2
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/server/src/http/reads.rs
  core/shard/src/lib.rs
  core/simulator/src/bin/workload-fuzz.rs
  core/simulator/src/lib.rs
  core/simulator/src/workload/invariants.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

fix(python): 跟进分区管理审查并复用上游计数清理
  core/shard/src/lib.rs
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
Due: rust

fix: address review comments round 3
  core/consensus/src/impls.rs
  core/shard/src/lib.rs
  core/simulator/src/bin/workload-fuzz.rs
Due: rust

add team-review-small, cheaper team review and plain english
  .claude/skills/team-review-small/SKILL.md
Due: none

rename small to slim, enforce simple english in both review skills
  .claude/skills/team-review-slim/SKILL.md
  .claude/skills/team-review/SKILL.md
Due: none

fix broken numbering after mdformat
  .claude/skills/team-review/SKILL.md
Due: none

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
