Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

fix(connectors): advance source checkpoints after delivery
  Cargo.lock
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/elasticsearch_source/README.md
  core/connectors/sources/elasticsearch_source/config.toml
  core/connectors/sources/elasticsearch_source/src/lib.rs
  core/connectors/sources/elasticsearch_source/src/state_manager.rs
  core/connectors/sources/influxdb_source/README.md
  core/connectors/sources/influxdb_source/config.toml
  core/connectors/sources/influxdb_source/src/common.rs
  core/connectors/sources/influxdb_source/src/lib.rs
  core/connectors/sources/influxdb_source/src/row.rs
  core/connectors/sources/influxdb_source/src/v2.rs
  core/connectors/sources/influxdb_source/src/v3.rs
  core/connectors/sources/postgres_source/README.md
  core/connectors/sources/postgres_source/config.toml
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/postgres/mod.rs
  core/integration/tests/connectors/fixtures/postgres/source.rs
  core/integration/tests/connectors/postgres/postgres_source.rs
Due: rust

fix(connectors): surface partial sink failures
  core/connectors/sinks/clickhouse_sink/src/binary.rs
  core/connectors/sinks/clickhouse_sink/src/client.rs
  core/connectors/sinks/doris_sink/src/lib.rs
  core/connectors/sinks/elasticsearch_sink/README.md
  core/connectors/sinks/elasticsearch_sink/config.toml
  core/connectors/sinks/elasticsearch_sink/src/lib.rs
  core/connectors/sinks/iceberg_sink/README.md
  core/connectors/sinks/iceberg_sink/src/lib.rs
  core/connectors/sinks/iceberg_sink/src/sink.rs
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sinks/postgres_sink/README.md
  core/connectors/sinks/postgres_sink/src/lib.rs
  core/connectors/sinks/quickwit_sink/README.md
  core/connectors/sinks/quickwit_sink/config.toml
  core/connectors/sinks/quickwit_sink/src/lib.rs
  core/connectors/sinks/s3_sink/README.md
  core/connectors/sinks/s3_sink/src/buffer.rs
  core/connectors/sinks/s3_sink/src/client.rs
  core/connectors/sinks/s3_sink/src/formatter.rs
  core/connectors/sinks/s3_sink/src/sink.rs
  core/connectors/sinks/surrealdb_sink/README.md
  core/integration/tests/connectors/elasticsearch/elasticsearch_sink.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/postgres/mod.rs
  core/integration/tests/connectors/fixtures/postgres/sink.rs
  core/integration/tests/connectors/mongodb/mongodb_sink.rs
  core/integration/tests/connectors/postgres/postgres_sink.rs
  core/integration/tests/connectors/surrealdb/surrealdb_sink.rs
Due: rust

fix(connectors): remove S3 probes and configure bulk retries
  core/connectors/sinks/elasticsearch_sink/README.md
  core/connectors/sinks/elasticsearch_sink/config.toml
  core/connectors/sinks/elasticsearch_sink/src/lib.rs
  core/connectors/sinks/s3_sink/README.md
  core/connectors/sinks/s3_sink/src/sink.rs
Due: rust

fixes
  .claude/skills/connector-review/SKILL.md
Due: none

fix(connectors): verify S3 write access before consuming
  core/connectors/sinks/s3_sink/README.md
  core/connectors/sinks/s3_sink/src/sink.rs
  core/integration/tests/connectors/s3/s3_sink.rs
Due: rust

fix(cluster): preserve routed poll safety during recovery
  core/common/src/traits/binary_impls/users.rs
  core/common/src/traits/binary_transport.rs
  core/consensus/src/client_table.rs
  core/integration/tests/cluster/partition_primary_routing.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/stream.rs
  core/sdk/src/poll_routing.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/vsr.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/src/dispatch/partition.rs
  core/server/src/session_manager.rs
  core/shard/src/lib.rs
  core/shard/src/poll.rs
  core/shard/src/poll/completion.rs
  core/shard/src/poll/completion_tests.rs
Due: rust

fix(cluster): preserve group membership during auto-commit polls
  core/binary_protocol/src/codes.rs
  core/binary_protocol/src/dispatch.rs
  core/binary_protocol/src/requests/system/attach_consumer_session.rs
  core/binary_protocol/src/requests/system/mod.rs
  core/binary_protocol/src/responses/messages/mod.rs
  core/binary_protocol/src/responses/messages/poll_routing.rs
  core/common/src/traits/binary_impls/messages.rs
  core/common/src/traits/binary_transport.rs
  core/consensus/src/client_table.rs
  core/integration/tests/cluster/partition_primary_routing.rs
  core/integration/tests/cluster/register_forwarding.rs
  core/metadata/src/impls/metadata.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/lib.rs
  core/sdk/src/poll_routing.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/reads.rs
  core/server/src/dispatch/submit.rs
  core/server/src/responses.rs
  core/server/src/session_manager.rs
  core/shard/src/lib.rs
  core/shard/src/poll.rs
  core/shard/src/poll/completion.rs
  core/shard/src/poll/completion_tests.rs
  core/shard/src/poll/timeout_tests.rs
Due: rust

chore(server): raise replication queue and repair ring defaults
  core/configs/src/server_config/partition.rs
  core/configs/src/server_config/server.rs
  core/configs/src/server_config/sharding.rs
  core/configs/src/server_config/validators.rs
  core/integration/tests/server/scenarios/reconnect_after_restart_scenario.rs
  core/integration/tests/server/specific.rs
  core/partitions/src/journal.rs
  core/server/config.toml
Due: rust

perf(server): reduce produce and poll overhead
  core/journal/src/partition_journal.rs
  core/metadata/src/stm/stream.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/persistence.rs
  core/partitions/src/poll_plan.rs
  core/server/config.toml
  core/server_common/src/send_messages.rs
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/simulator/src/storage/tests.rs
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionConcurrencyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/MessagesBatchWireFormatTest.java
Due: rust, java

fix(ci): gate poll diagnostics test imports
  core/partitions/src/poll_plan.rs
Due: rust

fix(integration): align server tests with primary polling
  core/integration/tests/server/scenarios/authentication_scenario.rs
  core/integration/tests/server/scenarios/system_scenario.rs
Due: rust

test(cluster): reproduce auto-commit group membership loss
  core/integration/tests/cluster/partition_primary_routing.rs
Due: rust

fix
  core/journal/src/partition_journal.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/persistence.rs
  core/partitions/src/poll_plan.rs
  core/server/src/http.rs
  core/server/src/http/forward.rs
  core/server/src/http/state.rs
  core/simulator/src/storage/tests.rs
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/MessagesBatchWireFormatTest.java
Due: rust, java

fix(sdk): synchronize offset routing command tables
  core/binary_protocol/src/codes.rs
  foreign/csharp/Iggy_SDK/Utils/CommandCodes.cs
  foreign/go/client/tcp/tcp_core.go
  foreign/go/internal/command/code.go
  foreign/node/src/wire/command.code.ts
Due: rust

fix(sdk): fence stale routes and preserve raw poll replies
  core/sdk/src/poll_routing.rs
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
Due: rust

test(integration): raise segment rotation memory limit
  core/integration/tests/server/scenarios/segment_rotation_race_scenario.rs
Due: rust

feat(python): expose client disconnect and shutdown
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_connectivity.py
Due: none

feat(python): expose consumer shutdown and offset drain timeout
  examples/python/high-level/consumer.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/consumer.rs
  foreign/python/tests/test_consumer_group.py
Due: none

fix(cluster): bound polling and repair resource use
  core/binary_protocol/src/requests/consumer_offsets/mod.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/message_bus.rs
  core/consensus/src/client_table.rs
  core/journal/src/partition_journal.rs
  core/message_bus/src/config.rs
  core/message_bus/src/installer/tcp.rs
  core/partitions/src/journal.rs
  core/partitions/src/poll_plan.rs
  core/sdk/Cargo.toml
  core/sdk/src/poll_routing.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/config.toml
  core/server/src/dispatch/mod.rs
  core/server/src/http/forward.rs
  foreign/csharp/README.md
  foreign/go/README.md
  foreign/go/client/tcp/cluster.go
  foreign/go/client/tcp/tcp_poll_routing_test.go
  foreign/java/README.md
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/MessagesTcpClient.java
  foreign/node/README.md
Due: rust, java

fix(partitions): stop consumer group polls from growing the journal
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
Due: rust

test(partitions): verify offset-triggered flush on disk
  core/binary_protocol/src/requests/system/attach_consumer_session.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/server/config.toml
  core/shard/src/metrics.rs
Due: rust

docs(configs): remove edge release references
  core/server/config.toml
Due: rust

chore(js): strip the Node SDK edge suffix to 0.10.0
  examples/node/package-lock.json
  foreign/node/package-lock.json
  foreign/node/package.json
Due: none

docs(repo): replace leftover edge versions with release versions
  .claude/skills/connector-sink/TEMPLATE.md
  core/connectors/sinks/influxdb_sink/dependencies.md
  core/connectors/sources/influxdb_source/dependencies.md
  foreign/csharp/README.md
  foreign/go/README.md
Due: rust

docs(node): fix "diclaimer" typo in README
  foreign/node/README.md
Due: none

docs: add the dev@ mailing list to the README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Due: none

fixes
  foreign/cpp/.clang-tidy
  foreign/cpp/BUILD.bazel
  foreign/cpp/MODULE.bazel
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/type_conversions.cpp
Due: none

fixes
  licenserc.toml
Due: none

feat(swift): scaffold the Swift SDK package and CI lanes
  .github/actions/swift/pre-merge/action.yml
  .github/actions/utils/setup-swift/action.yml
  .github/config/components.yml
  .github/workflows/_detect.yml
  .github/workflows/_test.yml
  .github/workflows/pre-merge.yml
  .gitignore
  examples/swift/.build/workspace-state.json
  foreign/swift/.swift-format
  foreign/swift/Package.resolved
  foreign/swift/Package.swift
  foreign/swift/README.md
  foreign/swift/Sources/Iggy/Errors/IggyError.swift
  foreign/swift/Sources/Iggy/Errors/IggyErrorCode.swift
  foreign/swift/Sources/Iggy/Iggy.swift
  foreign/swift/Sources/Iggy/Utilities/UInt128Value.swift
  foreign/swift/Sources/Iggy/Wire/ByteCodec.swift
  foreign/swift/Tests/IggyTests/ByteCodecTests.swift
  licenserc.toml
Due: none

fix(consensus): let a probe answer expose a divergent head
  core/consensus/src/impls.rs
  core/shard/src/lib.rs
  core/simulator/src/bin/workload-fuzz.rs
  core/simulator/src/lib.rs
  core/simulator/src/workload/mod.rs
  core/simulator/src/workload/oracle.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

Fixing the Review 3 , all around timeouts
  Cargo.lock
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/src/bridge/config.rs
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/bridge/topic_map.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

fix(server): distribute TCP-TLS and WSS connections across shards
  core/integration/tests/server/specific.rs
  core/message_bus/src/client_listener/mod.rs
  core/message_bus/src/client_listener/tcp_tls.rs
  core/message_bus/src/client_listener/wss.rs
  core/message_bus/src/fd_transfer.rs
  core/message_bus/src/installer/common.rs
  core/message_bus/src/installer/mod.rs
  core/message_bus/src/installer/replica.rs
  core/message_bus/src/installer/tcp.rs
  core/message_bus/src/installer/tcp_tls.rs
  core/message_bus/src/installer/wss.rs
  core/message_bus/src/lib.rs
  core/message_bus/src/lifecycle/connection_registry.rs
  core/message_bus/src/replica/io.rs
  core/message_bus/src/transports/tcp_tls.rs
  core/message_bus/src/transports/wss.rs
  core/message_bus/tests/common/mod.rs
  core/message_bus/tests/tcp_tls_client_listener.rs
  core/message_bus/tests/wss_client_listener.rs
  core/server/src/boot/listeners.rs
  core/server/src/boot/mod.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/test_support.rs
  core/shard/src/coordinator.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/bus.rs
Due: rust

fix(cluster): prevent spurious heartbeat elections
  core/configs/src/server_config/message_bus.rs
  core/consensus/src/impls.rs
  core/message_bus/src/connector.rs
  core/message_bus/tests/backpressure.rs
  core/message_bus/tests/connection_lost_notify.rs
  core/message_bus/tests/directional_connection.rs
  core/message_bus/tests/head_of_line.rs
  core/message_bus/tests/replica_roundtrip.rs
  core/message_bus/tests/replica_tls_bench.rs
  core/message_bus/tests/replica_tls_mitm.rs
  core/message_bus/tests/replica_tls_roundtrip.rs
  core/message_bus/tests/shard_zero_gating.rs
  core/message_bus/tests/tcp_tls_client_roundtrip.rs
  core/message_bus/tests/vectored_batch.rs
  core/message_bus/tests/wss_client_roundtrip.rs
  core/server/config.toml
Due: rust

fix(connectors): honor Retry-After on every retried status
  core/connectors/sdk/README.md
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/influxdb_sink/README.md
  core/connectors/sinks/quickwit_sink/README.md
  core/connectors/sources/influxdb_source/README.md
Due: rust

fixed the lint issues
  gateways/kafka/README.md
Due: none

fix(partitions): account for segment-backed append batches
  core/journal/src/partition_journal.rs
  core/partitions/src/persistence.rs
  core/simulator/src/storage/tests.rs
Due: rust

perf(partitions): keep shard traffic moving during file I/O
  Cargo.lock
  core/configs/src/server_config/sharding.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/journal/src/local_gate.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/io.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/messages_writer.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/server/config.toml
  core/server/src/boot/recovery.rs
  core/server/src/boot/threads.rs
  core/server/src/partition_reconciler.rs
  core/server/src/server_error.rs
  core/server_common/src/iobuf.rs
  core/server_common/src/poll.rs
  core/shard/Cargo.toml
  core/shard/src/builder.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/partition_io.rs
  core/shard/src/poll.rs
  core/shard/src/poll/completion_tests.rs
  core/shard/src/poll/timeout_tests.rs
  core/shard/src/router.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
