Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

Fixing the review comments
  .config/nextest.toml
  gateways/kafka/README.md
  gateways/kafka/docker-compose.yml
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/tests/common/gateway_process.rs
  gateways/kafka/tests/common/iggy_server.rs
  gateways/kafka/tests/phase1_e2e_tests.rs
Due: none

fix: address review comments round 2
  gateways/kafka/README.md
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/fetch.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/src/protocol/probe_board.rs
  gateways/kafka/src/server.rs
Due: none

fixes
  .claude/skills/connector-review/SKILL.md
  AGENTS.md
Due: none

feat(python): expose delete_segments on IggyClient
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_segment.py
Due: none

chore: add connector-review skill (#4121)
  .claude/skills/connector-review/SKILL.md
  AGENTS.md
Due: none

fix(connectors): handle stdout closure gracefully in print_config_env_vars
  core/connectors/runtime/src/main.rs
Due: rust

fix(configs): add missing max_elements field to EnvVarTemplate struct
  core/configs/src/configs_impl/env_mapping.rs
Due: rust

review fixes
  core/integration/tests/server/descriptor_exhaustion_vsr.rs
  core/journal/src/superblock.rs
  core/message_bus/src/accept.rs
  core/message_bus/src/client_listener/tcp.rs
  core/message_bus/src/client_listener/tcp_tls.rs
  core/message_bus/src/client_listener/ws.rs
  core/message_bus/src/client_listener/wss.rs
  core/message_bus/src/connection_cap.rs
  core/message_bus/src/replica/listener.rs
  core/message_bus/tests/connection_cap.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/authz.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/offset_recovery.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/partition_storage.rs
  core/partitions/src/segment_recovery.rs
  core/partitions/src/state_transfer.rs
  core/server/config.toml
  core/server/src/boot/fd_limit.rs
  core/server/src/consumer_group.rs
  core/server/src/http.rs
  core/server/src/http/tls.rs
  core/server/src/main.rs
  core/server/src/partition_helpers.rs
  core/server/src/responses.rs
  core/server/src/sysinfo_printer.rs
  core/server_common/src/fatal.rs
  core/server_common/src/lib.rs
  core/server_common/src/segment_storage/index_writer.rs
  core/server_common/src/segment_storage/messages_writer.rs
  core/server_common/src/segment_storage/mod.rs
  foreign/node/src/e2e/tcp.parallel.e2e.ts
  foreign/node/src/e2e/tcp.system.e2e.ts
  foreign/node/src/wire/system/get-stats.command.test.ts
  foreign/node/src/wire/system/get-stats.command.ts
  foreign/swift/Sources/Iggy/Models/Resources.swift
Due: rust

feat(connectors): post self-review fixes for tests for more transparent error msgs
  core/connectors/runtime/src/error.rs
  core/integration/tests/connectors/runtime/error_isolation.rs
Due: rust

review fixes
  core/journal/src/prepare_journal.rs
Due: rust

improve stats
  core/server/src/dispatch/host.rs
  core/server/src/dispatch/reads.rs
  core/server/src/http/handlers.rs
  core/server/src/http/reads.rs
  core/server/src/session_manager.rs
  core/server/src/sysinfo_printer.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
Due: rust

fix(connectors): propagate inner error messages in RuntimeError (#4342)
  core/connectors/runtime/src/error.rs
  core/integration/tests/connectors/runtime/error_isolation.rs
  core/integration/tests/connectors/runtime/sink_missing_stream.toml
  core/integration/tests/connectors/runtime/sink_missing_stream_config/stdout_missing_stream.toml
  core/integration/tests/connectors/runtime/sink_missing_stream_config/stdout_valid.toml
Due: rust

test(sdk): pin lifecycle errors and merge the request tests
  core/integration/tests/sdk/client_lifecycle.rs
  pnpm-lock.yaml
Due: rust

chore(repo): remove a stray pnpm lockfile
  pnpm-lock.yaml
Due: none

review fixes
  core/binary_protocol/src/responses/system/get_stats.rs
  core/common/src/traits/partition_client.rs
  core/common/src/traits/topic_client.rs
  core/message_bus/src/installer/mod.rs
  core/message_bus/src/installer/tcp.rs
  core/message_bus/src/installer/tcp_tls.rs
  core/message_bus/src/installer/ws.rs
  core/message_bus/src/installer/wss.rs
  core/message_bus/tests/common/mod.rs
  core/message_bus/tests/connection_cap.rs
  core/message_bus/tests/duplicate_client_id.rs
  core/partitions/src/iggy_index_reader.rs
  core/partitions/src/offset_recovery.rs
  core/partitions/src/segment_recovery.rs
  core/partitions/src/state_transfer.rs
  core/server/src/dispatch/test_support.rs
  core/server_common/src/fatal.rs
  core/server_common/src/segment_storage/index_reader.rs
  core/server_common/src/segment_storage/mod.rs
  core/shard/src/router.rs
  core/simulator/src/bus.rs
  foreign/swift/Sources/Iggy/Models/Resources.swift
Due: rust

fix(configs_derive): set max_elements in non-Vec nested template literal
  core/configs_derive/src/config_env.rs
Due: rust

test(configs): assert env_templates() and env_mappings() stay in sync
  core/configs/src/configs_impl/env_mapping.rs
Due: rust

fix(configs): add shared print_env_var_names helper with consistent BrokenPipe handling
  core/ai/mcp/src/error.rs
  core/ai/mcp/src/main.rs
  core/configs/src/configs_impl/env_listing.rs
  core/configs/src/configs_impl/mod.rs
  core/configs/src/lib.rs
  core/configs/src/server_config/server.rs
  core/connectors/runtime/src/main.rs
  core/server/src/main.rs
  core/server/src/server_error.rs
Due: rust

test(integration): move config_env_listing.rs into its own module directory
  core/integration/tests/config_env_listing.rs
Due: rust

test(integration): harden and extend config_env_listing coverage
  core/integration/tests/config_env_listing/mod.rs
Due: rust

docs: fix connectors --help clap attachment, update env-var placeholder docs and README
  core/server/README.md
  core/server/src/args.rs
Due: rust

perf(connectors): add shared apply_field_mappings helper
  core/connectors/sdk/src/convert.rs
Due: rust

perf(connectors): rewire 8 field_mappings sites onto apply_field_mappings
  core/connectors/sdk/src/decoders/avro.rs
  core/connectors/sdk/src/decoders/flatbuffer.rs
  core/connectors/sdk/src/decoders/proto.rs
  core/connectors/sdk/src/encoders/avro.rs
  core/connectors/sdk/src/encoders/flatbuffer.rs
  core/connectors/sdk/src/encoders/proto.rs
  core/connectors/sdk/src/transforms/avro_convert.rs
  core/connectors/sdk/src/transforms/proto_convert.rs
Due: rust

test(connectors): assert renamed values in flatbuffer integration tests
  core/connectors/sdk/tests/flatbuffer_integration.rs
Due: rust

test(java): harden purge tests and clarify purge Javadoc
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/TopicsClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/StreamClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/TopicsClientBaseTest.java
Due: java

fix(server)!: make logging honor retention, level, path and file_enabled
  Cargo.lock
  core/configs/src/common/validators.rs
  core/integration/src/harness/config/server.rs
  core/integration/src/harness/handle/server.rs
  core/integration/tests/server/scenarios/log_rotation_scenario.rs
  core/server/config.toml
  core/server/src/snapshot.rs
  core/server_common/Cargo.toml
  core/server_common/src/log/logger.rs
  core/server_common/src/log/mod.rs
  core/server_common/src/log/settings.rs
Due: rust

feat(csharp): implement connection string parsing
  foreign/csharp/Iggy_SDK.Tests.Integration/ConnectionStringTests.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/IggyTlsConnectionTests.cs
  foreign/csharp/Iggy_SDK/Configuration/ConnectionString.cs
  foreign/csharp/Iggy_SDK/Configuration/IggyClientConfigurator.cs
  foreign/csharp/Iggy_SDK/Factory/IggyClientFactory.cs
  foreign/csharp/Iggy_SDK/Utils/IggyDurationParser.cs
  foreign/csharp/Iggy_SDK_Tests/ClientTests/ConnectionStringTests.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/IggyDurationParserTests.cs
  foreign/csharp/README.md
Due: none

fix(server): prevent panic when the cleaner removes expired tokens
  core/consensus/src/client_table.rs
  core/consensus/src/lib.rs
  core/integration/tests/server/mod.rs
  core/integration/tests/server/personal_access_token_cleaner_vsr.rs
  core/metadata/src/impls/metadata.rs
Due: rust

ci(repo): upgrade Cargo-Rail planning to v0.30
  .config/rail.toml
  .github/actions/rust/pre-merge/action.yml
  .github/config/edge-image-variants.json
  .github/config/publish.yml
  .github/workflows/_common.yml
  .github/workflows/_test.yml
  .github/workflows/post-merge.yml
  .github/workflows/publish.yml
  scripts/ci/coverage-baseline-affected.sh
  scripts/ci/edge-affected-images.sh
  scripts/ci/edge-image-catalog.sh
Due: none

fix(server)!: make logging honor retention, level, path and file_enabled (#4354)
  Cargo.lock
  core/configs/src/common/validators.rs
  core/integration/src/harness/config/server.rs
  core/integration/src/harness/handle/server.rs
  core/integration/tests/server/scenarios/log_rotation_scenario.rs
  core/server/config.toml
  core/server/src/snapshot.rs
  core/server_common/Cargo.toml
  core/server_common/src/log/logger.rs
  core/server_common/src/log/mod.rs
  core/server_common/src/log/settings.rs
Due: rust

'EOF'fix: correct compilation errors and add missing ENABLED fields EOF )
  core/connectors/runtime/src/main.rs
  core/server/src/main.rs
Due: rust

fix: resolve merge corruption and add missing ENABLED fields EOF )"
  core/server/src/main.rs
Due: rust

test(go): cover offset and partition command serialization
  foreign/go/internal/command/offset_test.go
  foreign/go/internal/command/partition_test.go
Due: none

test(go): cover consumer group command serialization
  foreign/go/internal/command/consumer_group_test.go
Due: none

fix: address review round 3
  gateways/kafka/README.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/fetch.rs
  gateways/kafka/src/protocol/handlers/list_offsets.rs
  gateways/kafka/src/protocol/probe_board.rs
  gateways/kafka/tests/fetch_real_bridge_tests.rs
Due: none

feat(gateways): answer Kafka Fetch with records from Iggy (#4336)
  .config/nextest.toml
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/ACL_MAPPING.md
  gateways/kafka/docs/AUTHENTICATION.md
  gateways/kafka/docs/BRIDGE_MAPPING.md
  gateways/kafka/docs/CONSUMER_GROUPS.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/offsets.rs
  gateways/kafka/src/bridge/iggy_bridge/produce.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/fetch.rs
  gateways/kafka/src/protocol/handlers/list_offsets.rs
  gateways/kafka/src/protocol/handlers/metadata.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/src/protocol/handlers/produce.rs
  gateways/kafka/src/protocol/mod.rs
  gateways/kafka/src/protocol/probe_board.rs
  gateways/kafka/src/records.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/fetch_real_bridge_tests.rs
  gateways/kafka/tests/kafka_client_e2e_tests.rs
Due: none

test(java): reproduce Flink source checkpoint replay loss
  foreign/java/external-processors/iggy-connector-flink/iggy-connector-library/src/test/java/org/apache/iggy/connector/flink/source/IggySourceRecoveryTest.java
Due: none

fix(server): prevent panic when the cleaner removes expired tokens (#4364)
  core/consensus/src/client_table.rs
  core/consensus/src/lib.rs
  core/integration/tests/server/mod.rs
  core/integration/tests/server/personal_access_token_cleaner_vsr.rs
  core/metadata/src/impls/metadata.rs
Due: rust

fix(integration): add missing tempdir isolation to config_env_listing test
  core/integration/tests/config_env_listing/mod.rs
Due: rust
