Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

add missing property
  core/server-ng/src/bootstrap.rs
Due: rust

fix typos
  core/consensus/src/client_table.rs
  core/integration/tests/cluster/client_table_restart.rs
  core/metadata/src/impls/metadata.rs
  core/server-ng/src/dispatch.rs
Due: rust

addres review comments
  core/binary_protocol/src/consensus/header.rs
  core/consensus/src/client_table.rs
  core/consensus/src/metadata_helpers.rs
  core/integration/tests/cluster/client_table_restart.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/sdk/src/vsr.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/session.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/session_manager.rs
  core/shard/src/coordinator.rs
  core/shard/src/lib.rs
Due: rust

small nits
  core/server-ng/src/dispatch.rs
  core/shard/src/lib.rs
Due: rust

temp
  core/common/src/error/iggy_error.rs
  core/configs/src/server_config/sharding.rs
  core/consensus/src/plane_helpers.rs
  core/integration/tests/server/cg_vsr.rs
  core/integration/tests/server/concurrent_addition.rs
  core/message_bus/src/transports/quic.rs
  core/metadata/src/impls/metadata.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/vsr.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server-ng/src/auth.rs
  core/server-ng/src/responses.rs
  core/shard/src/lib.rs
  vsr-server-test-status.md
Due: rust

feat(server-ng): harden configuration surface
  core/configs/src/lib.rs
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/displays.rs
  core/configs/src/server_ng_config/message_bus.rs
  core/configs/src/server_ng_config/metadata.rs
  core/configs/src/server_ng_config/mod.rs
  core/configs/src/server_ng_config/partition.rs
  core/configs/src/server_ng_config/server_ng.rs
  core/configs/src/server_ng_config/validators.rs
  core/configs/src/server_ng_config/websocket.rs
  core/consensus/src/client_table.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/vsr_timeout.rs
  core/integration/tests/server/scenarios/reconnect_after_restart_scenario.rs
  core/message_bus/src/cache/connection.rs
  core/message_bus/src/client_listener/mod.rs
  core/message_bus/src/config.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/server-ng/Cargo.toml
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/error.rs
  core/server-ng/src/http/handlers.rs
  core/server-ng/src/http/reads.rs
  core/server-ng/src/http/session.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/tls.rs
  core/server-ng/src/partition_helpers.rs
  core/shard/src/lib.rs
  justfile
Due: rust

fix(server-ng): wake reconciler on purge and truncate commits
  core/server-ng/src/bootstrap.rs
Due: rust

temp2
  core/integration/tests/cli/message/test_message_flush_command.rs
  core/integration/tests/data_integrity/mod.rs
  core/integration/tests/data_integrity/verify_after_server_restart.rs
  core/integration/tests/server/flush_vsr.rs
Due: rust

fix(server-ng): size client table before installing the recovered one
  core/metadata/src/impls/recovery.rs
  core/server-ng/src/bootstrap.rs
  core/shard/src/lib.rs
Due: rust

fix(metadata): never rewind the STM when a transferred snapshot lags
  core/integration/src/harness/handle/server.rs
  core/integration/tests/cluster/metadata_checkpoint_restart.rs
  core/integration/tests/cluster/mod.rs
  core/metadata/src/impls/metadata.rs
Due: rust

chore(repo): drop committed test-status scratch note
  vsr-server-test-status.md
Due: none

chore(integration): drop resurrected cg_vsr wrapper deleted upstream in #3625
  core/integration/tests/server/cg_vsr.rs
Due: rust

test(integration): drop stale vsr HTTP exclusions
  core/integration/tests/server/concurrent_addition.rs
  core/integration/tests/server/scenarios/segment_rotation_race_scenario.rs
Due: rust

fix(sdk): forward unknown command codes instead of rejecting them
  core/common/src/error/iggy_error.rs
  core/integration/tests/sdk/raw.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/vsr.rs
Due: rust

Update VSR
  foreign/node/README.md
  foreign/node/src/bdd/raw.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.ts
  foreign/node/src/client/client.type.ts
  foreign/node/src/e2e/tcp.raw.e2e.ts
  foreign/node/src/index.ts
  foreign/node/src/wire/command-set.test.ts
  foreign/node/src/wire/command-set.ts
  foreign/node/src/wire/vsr/index.ts
  foreign/node/src/wire/vsr/operation.test.ts
  foreign/node/src/wire/vsr/operation.ts
  foreign/node/src/wire/vsr/vsr.test.ts
Due: none

add more tests
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/wire/message/poll-messages.command.test.ts
  foreign/node/src/wire/vsr/namespace.test.ts
  foreign/node/src/wire/vsr/session.test.ts
  foreign/node/src/wire/vsr/vsr.test.ts
Due: none

redesign protocol
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/consensus/src/lib.rs
  core/consensus/src/state_manifest.rs
  core/metadata/src/impls/metadata.rs
  core/shard/src/lib.rs
Due: rust

Update Cargo.lock
  Cargo.lock
Due: none

fix(ci): pass -e to grep -v so excludes starting with dashes work
  scripts/utils.sh
Due: none

fix(server-ng): stop restart panic when WAL replay recovers sessions
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/server-ng/src/bootstrap.rs
Due: rust

chore(rust): bump sdk, common, binary_protocol edge versions
  Cargo.lock
  Cargo.toml
  core/binary_protocol/Cargo.toml
  core/common/Cargo.toml
  core/sdk/Cargo.toml
  foreign/python/Cargo.toml
Due: rust

feat(server-ng): harden listener, auth, shutdown, and disk-poll paths
  core/configs/src/server_ng_config/cluster.rs
  core/configs/src/server_ng_config/sharding.rs
  core/message_bus/src/client_listener/mod.rs
  core/message_bus/src/client_listener/quic.rs
  core/message_bus/src/framing.rs
  core/message_bus/src/installer/replica.rs
  core/message_bus/src/replica/auth.rs
  core/message_bus/src/replica/handshake.rs
  core/message_bus/src/socket_opts.rs
  core/message_bus/tests/common/mod.rs
  core/message_bus/tests/replica_auth_handshake.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/poll_plan.rs
  core/server-ng/config.toml
  core/server-ng/src/auth.rs
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/server_error.rs
Due: rust

fix(server-ng): fold io_uring remediation into runtime-creation errors
  Cargo.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/main.rs
  core/server-ng/src/server_error.rs
  core/server/src/main.rs
  core/server_common/src/diagnostics.rs
Due: rust

Update components.yml
  .github/config/components.yml
Due: none

Fix error code 5006
  foreign/node/src/wire/error.code.ts
  foreign/node/src/wire/message/poll-messages.command.test.ts
Due: none

feat(python): expose TCP client configuration to Python
  core/sdk/src/prelude.rs
  foreign/python/Cargo.toml
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/consumer.rs
  foreign/python/src/duration.rs
  foreign/python/src/lib.rs
Due: rust

test(python): cover the TCP client configuration surface
  foreign/python/tests/test_client_config.py
Due: none

docs(python): add a client configuration example
  examples/python/README.md
  examples/python/client-configuration/main.py
Due: none

docs(python): document client configuration in the SDK README
  foreign/python/README.md
Due: none

fix(python): validate durations and derive config defaults from Rust
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/consumer.rs
  foreign/python/src/duration.rs
Due: none

test(python): make the unit marker selectable and pin duration edges
  foreign/python/tests/conftest.py
  foreign/python/tests/test_client_config.py
Due: none

docs(python): make the README configuration snippet runnable
  foreign/python/README.md
Due: none

fix(ci): stop trailing checks from skipping text files as binary
  foreign/java/external-processors/iggy-connector-flink/iggy-flink-examples/data-population-explanation.md
  foreign/node/src/wire/cluster/get-cluster-metadata.command.ts
  foreign/node/tsconfig.json
  scripts/ci/trailing-newline.sh
  scripts/ci/trailing-whitespace.sh
Due: java

feat(python): add lossy-collision detection to header scalar conversion
  examples/python/README.md
  examples/python/message-headers/common.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/send_message.rs
  foreign/python/src/user_headers.rs
  foreign/python/tests/test_message_operations.py
Due: none

chore(python): refactor Python header examples and rename to_plain to to_scalar_dict
  examples/python/README.md
  examples/python/message-headers/common.py
  examples/python/message-headers/consumer.py
  examples/python/message-headers/plain-headers/consumer.py
  examples/python/message-headers/plain-headers/producer.py
  examples/python/message-headers/producer.py
  examples/python/message-headers/typed-headers/consumer.py
  examples/python/message-headers/typed-headers/producer.py
  examples/python/pyproject.toml
  foreign/python/apache_iggy.pyi
  foreign/python/src/user_headers.rs
  foreign/python/tests/test_consumer_group.py
  foreign/python/tests/test_message_operations.py
Due: none

feat(python): add user header and origin timestamp support
  core/sdk/src/prelude.rs
  examples/python/README.md
  examples/python/message-headers/consumer.py
  examples/python/message-headers/producer.py
  foreign/python/Dockerfile.test
  foreign/python/apache_iggy.pyi
  foreign/python/docker-compose.test.yml
  foreign/python/src/lib.rs
  foreign/python/src/receive_message.rs
  foreign/python/src/send_message.rs
  foreign/python/src/user_headers.rs
  foreign/python/tests/test_consumer_group.py
  foreign/python/tests/test_message_operations.py
Due: rust

fix(python): remove redundant try/except blocks from Python producer examples to avoid infinitly produce_message loop.
  examples/python/basic/producer.py
  examples/python/getting-started/producer.py
  examples/python/message-headers/common.py
Due: none

fix
  .github/actions/node-npm/pre-merge/action.yml
  .github/actions/utils/server-start/action.yml
  .github/workflows/_test.yml
  codecov.yml
  foreign/node/README.md
  foreign/node/scripts/check-vsr-protocol.mjs
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.frame.test.ts
  foreign/node/src/client/client.frame.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.type.ts
  foreign/node/src/e2e/tcp.cluster.e2e.ts
  foreign/node/src/stream/consumer-stream.ts
  foreign/node/src/wire/command-set.ts
  foreign/node/src/wire/command.code.ts
  foreign/node/src/wire/command.utils.test.ts
  foreign/node/src/wire/command.utils.ts
  foreign/node/src/wire/consumer-group/delete-group.command.ts
  foreign/node/src/wire/consumer-group/get-group.command.ts
  foreign/node/src/wire/consumer-group/join-group.command.ts
  foreign/node/src/wire/consumer-group/leave-group.command.ts
  foreign/node/src/wire/consumer-group/sync-group.command.ts
  foreign/node/src/wire/error.code.test.ts
  foreign/node/src/wire/error.code.ts
  foreign/node/src/wire/message/poll-messages.command.test.ts
  foreign/node/src/wire/message/poll-messages.command.ts
  foreign/node/src/wire/offset/get-offset.command.ts
  foreign/node/src/wire/offset/offset.utils.ts
  foreign/node/src/wire/offset/store-offset.command.ts
  foreign/node/src/wire/vsr/index.ts
  foreign/node/src/wire/vsr/namespace.test.ts
  foreign/node/src/wire/vsr/namespace.ts
  foreign/node/src/wire/vsr/reply.test.ts
  foreign/node/src/wire/vsr/reply.ts
  foreign/node/src/wire/vsr/session.ts
Due: none

feat(server-ng): enforce PAT limits and expose Prometheus metrics
  core/metadata/src/stm/user.rs
  core/server-ng/Cargo.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/http.rs
  core/server-ng/src/http/metrics.rs
  core/server-ng/src/http/state.rs
  core/server-ng/src/http/submit.rs
  core/server-ng/src/pat.rs
  core/simulator/src/replica.rs
Due: rust
