Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

ci(go): start both replicas for the Go cluster e2e
  .github/actions/go/pre-merge/action.yml
Due: none

test(csharp): expect typed not-found for TCP poll of a missing topic
  foreign/csharp/Iggy_SDK.Tests.Integration/FetchMessagesTests.cs
Due: none

feat(cpp): run C++ SDK tests only against the VSR server
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/workflows/_test_bdd.yml
  core/integration/tests/server/mod.rs
  core/integration/tests/server/poll_semantics_vsr.rs
  core/integration/tests/server/purge_vsr.rs
  core/integration/tests/server/stats_vsr.rs
  core/integration/tests/server/topic_admission_vsr.rs
  core/metadata/src/stm/result.rs
  core/metadata/src/stm/stream.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/http/reads.rs
  core/server-ng/src/responses.rs
  core/simulator/src/workload/effect.rs
  core/simulator/src/workload/ops/create_partitions.rs
  core/simulator/src/workload/ops/delete_partitions.rs
  core/simulator/src/workload/shadow.rs
  foreign/cpp/Cargo.toml
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/e2e/message.cpp
  foreign/python/tests/test_topic.py
  foreign/python/tests/utils.py
  scripts/run-bdd-tests.sh
Due: rust

feat(node): drop classic framing and test only against the VSR server
  .github/actions/node-npm/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/_test_examples.yml
  .github/workflows/coverage-baseline.yml
  codecov.yml
  examples/node/src/tcp-tls/consumer.ts
  examples/node/src/tcp-tls/producer.ts
  foreign/node/CHANGELOG.md
  foreign/node/README.md
  foreign/node/docker-compose.yml
  foreign/node/package-lock.json
  foreign/node/package.json
  foreign/node/src/bdd/auth.ts
  foreign/node/src/client/client.config.test.ts
  foreign/node/src/client/client.config.ts
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.frame.test.ts
  foreign/node/src/client/client.frame.ts
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.type.ts
  foreign/node/src/client/client.utils.test.ts
  foreign/node/src/client/client.utils.ts
  foreign/node/src/e2e/tcp.cluster.e2e.ts
  foreign/node/src/e2e/tcp.consumer-group.e2e.ts
  foreign/node/src/e2e/tcp.consumer-stream.e2e.ts
  foreign/node/src/e2e/tcp.send-message.e2e.ts
  foreign/node/src/e2e/test-client.utils.ts
  foreign/node/src/e2e/tls.system.e2e.ts
  foreign/node/src/wire/command-set.test.ts
  foreign/node/src/wire/message/poll-messages.command.ts
  foreign/node/src/wire/vsr/namespace.ts
  scripts/run-examples-from-readme.sh
Due: none

feat(php): run PHP SDK tests only against the VSR server
  .github/actions/php/pre-merge/action.yml
  .github/workflows/_test_bdd.yml
  .github/workflows/_test_examples.yml
  bdd/README.md
  core/integration/tests/server/login_credentials_vsr.rs
  core/integration/tests/server/mod.rs
  foreign/php/Cargo.toml
  foreign/php/docker-compose.test.yml
  foreign/php/iggy-php.stubs.php
  foreign/php/src/client.rs
  foreign/php/src/send_message.rs
  foreign/php/tests/IggySdkTest.php
  scripts/run-bdd-tests.sh
  scripts/run-examples-from-readme.sh
Due: rust

ci(example): run the Rust examples against the VSR server
  .github/workflows/_test_examples.yml
  examples/rust/Cargo.toml
  scripts/run-examples-from-readme.sh
Due: none

fix(partitions): fix flaky tests
  core/integration/tests/data_integrity/verify_consumer_group_partition_assignment.rs
  core/integration/tests/server/scenarios/purge_delete_scenario.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
Due: rust

feat(connectors): add source batch acknowledgments
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/README.md
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/source.rs
Due: rust

fix java tests
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientTransientFailoverTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionConcurrencyTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionHeartbeatTest.java
Due: none

refactor(csharp): cleanup tcp connection after vsr implementation
  foreign/csharp/Iggy_SDK/ConnectionStream/TcpConnectionStream.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK/Utils/ArrayPoolHelper.cs
  foreign/csharp/Iggy_SDK/Utils/BufferSizes.cs
  foreign/csharp/Iggy_SDK/Utils/TcpMessageStreamHelpers.cs
  foreign/csharp/Iggy_SDK/Vsr/ConsensusSession.cs
  foreign/csharp/Iggy_SDK/Vsr/ISessionEpochProvider.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrConnection.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrHeader.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrNamespace.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/ConsumerSessionEpochTests.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/RentedConsumerTests.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/SlicedMemoryOwnerTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/ConsensusSessionTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/VsrHeaderTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/VsrNamespaceTests.cs
Due: none

address review comments
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/version.rs
  core/consensus/src/client_table.rs
  core/metadata/src/stm/snapshot.rs
  core/server-ng/src/dispatch.rs
  core/server_common/src/consensus_message.rs
Due: rust

fix(server): preserve producer batches across replication
  core/consensus/src/plane_helpers.rs
  core/partitions/src/iggy_partition.rs
  core/server_common/src/send_messages2.rs
  core/shard/src/lib.rs
Due: rust

fix: iceberg dummy partition for every data
  core/connectors/sinks/iceberg_sink/src/router/mod.rs
Due: rust

chore: cargo fmt
  core/connectors/sinks/iceberg_sink/src/router/mod.rs
Due: rust

feat(server): restore --fresh and --with-default-root-credentials
  .github/actions/rust/pre-merge/action.yml
  .github/config/components.yml
  bdd/docker-compose.cluster.yml
  bdd/docker-compose.server.yml
  bdd/python/tests/test_basic_messaging.py
  core/server/src/args.rs
  core/server/src/bootstrap.rs
  core/server/src/main.rs
  core/server/src/server_error.rs
  foreign/php/README.md
  scripts/run-examples-from-readme.sh
Due: rust

fix
  Cargo.lock
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/displays.rs
  core/configs/src/server_config/system.rs
  core/consensus/src/plane_helpers.rs
  core/partitions/Cargo.toml
  core/partitions/src/iggy_partition.rs
  core/partitions/src/messages_writer.rs
  core/partitions/src/state_transfer.rs
  core/partitions/src/types.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
  core/server-ng/src/dispatch.rs
  core/server-ng/src/partition_helpers.rs
  core/server-ng/src/partition_reconciler.rs
  core/server/config.toml
  core/server_common/src/send_messages2.rs
  core/simulator/src/replica.rs
Due: rust

refactor(csharp): remove unused namespace parameters from TCP message handling
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrConnection.cs
Due: none

fix review
  core/consensus/src/plane_helpers.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/messages_writer.rs
Due: rust

fix two state transfer tests
  README.md
  core/integration/tests/cluster/partition_state_transfer.rs
  core/integration/tests/data_integrity/verify_auto_commit_offset_replicates.rs
  core/shard/src/lib.rs
Due: rust

refactor(csharp): enhance session epoch handling and clean up connection management
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Vsr/ISessionEpochProvider.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrConnection.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/ConsumerSessionEpochTests.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/SlicedMemoryOwnerTests.cs
Due: none

ci: make Rust image matching portable
  scripts/ci/sync-rustc-version.sh
Due: none

Initial version -vMigrate Kafka gateway codec to kafka-protocol
  gateways/kafka/Cargo.toml
  gateways/kafka/src/error.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/codec.rs
  gateways/kafka/src/protocol/header.rs
  gateways/kafka/src/protocol/mod.rs
  gateways/kafka/src/protocol/requests.rs
  gateways/kafka/src/protocol/responses.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/broker_advertise_tests.rs
  gateways/kafka/tests/codec_tests.rs
  gateways/kafka/tests/common/codec.rs
  gateways/kafka/tests/common/fixtures.rs
  gateways/kafka/tests/common/tcp.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/decode_safety_tests.rs
  gateways/kafka/tests/decode_validation_tests.rs
  gateways/kafka/tests/golden_wire_fixtures_tests.rs
  gateways/kafka/tests/header_tests.rs
  gateways/kafka/tests/listener_robustness_tests.rs
  gateways/kafka/tests/response_negative_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/server_integration_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
  gateways/kafka/tools/kafka-tool/src/main.rs
Due: none

Prune removed crates from Cargo.lock
  Cargo.lock
  Cargo.toml
Due: none

update Cargo.toml
  Cargo.toml
Due: none

Fix review
  core/binary_protocol/src/consensus/command.rs
  core/binary_protocol/src/consensus/header.rs
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/lib.rs
  core/integration/tests/cluster/register_forwarding.rs
  core/metadata/src/impls/metadata.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/src/auth.rs
  core/server/src/bootstrap.rs
  core/server/src/dispatch.rs
  core/server/src/dispatch/authz.rs
  core/server/src/http/state.rs
  core/server/src/server_error.rs
  core/server_common/src/consensus_message.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  foreign/go/client/tcp/tcp_connect_test.go
  foreign/go/client/tcp/tcp_session_management.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientLoginRoutingTest.java
  foreign/node/src/client/client.socket.test.ts
  foreign/node/src/client/client.socket.ts
Due: rust, java

fix test
  core/integration/tests/cluster/client_table_restart.rs
Due: rust

feat(connectors): add OpenSearch sink connector
  .config/nextest.toml
  Cargo.lock
  Cargo.toml
  core/connectors/README.md
  core/connectors/runtime/example_config/connectors/opensearch_sink.toml
  core/connectors/sinks/README.md
  core/connectors/sinks/opensearch_sink/Cargo.toml
  core/connectors/sinks/opensearch_sink/README.md
  core/connectors/sinks/opensearch_sink/config.toml
  core/connectors/sinks/opensearch_sink/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/opensearch/container.rs
  core/integration/tests/connectors/fixtures/opensearch/failure.rs
  core/integration/tests/connectors/fixtures/opensearch/mod.rs
  core/integration/tests/connectors/fixtures/opensearch/sink.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/opensearch/failure_states.toml
  core/integration/tests/connectors/opensearch/failure_states/opensearch_healthy.toml
  core/integration/tests/connectors/opensearch/failure_states/opensearch_mapping_conflict.toml
  core/integration/tests/connectors/opensearch/failure_states/opensearch_missing_index.toml
  core/integration/tests/connectors/opensearch/mod.rs
  core/integration/tests/connectors/opensearch/opensearch_sink.rs
  core/integration/tests/connectors/opensearch/opensearch_sink_failures.rs
  core/integration/tests/connectors/opensearch/sink.toml
  scripts/bump-version.sh
Due: rust

refactor(csharp): improve TCP message handling and coalescing logic
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrConnection.cs
Due: none

ci(csharp): split e2e integration tests per target framework
  .github/actions/csharp-dotnet/pre-merge/action.yml
  .github/config/components.yml
  .github/workflows/_test.yml
Due: none

chore(deps): regenerate foreign/python uv.lock after pyrefly bump
  foreign/python/uv.lock
Due: none

chore(deps): regenerate uv.lock files after pytest bump
  bdd/python/uv.lock
  foreign/python/uv.lock
Due: none

refactor(csharp): replace asynchronous connection state updates with synchronous calls
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.Rented.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumer.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.Vsr.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Vsr/ConsensusSession.cs
  foreign/csharp/Iggy_SDK/Vsr/ISessionGenerationProvider.cs
  foreign/csharp/Iggy_SDK/Vsr/VsrConnection.cs
  foreign/csharp/Iggy_SDK_Tests/ConsumerTests/ConsumerSessionGenerationTests.cs
  foreign/csharp/Iggy_SDK_Tests/VsrTests/ConsensusSessionTests.cs
Due: none

feat(python): add a Consumer type to the binding
  foreign/python/apache_iggy.pyi
  foreign/python/src/consumer.rs
  foreign/python/src/identifier.rs
  foreign/python/src/lib.rs
Due: none

test(python): cover consumer isolation and group polling
  foreign/python/tests/test_message_operations.py
Due: none

feat(python): let poll_messages take a consumer
  bdd/python/tests/test_basic_messaging.py
  examples/python/basic/consumer.py
  examples/python/getting-started/consumer.py
  examples/python/message-headers/common.py
  examples/python/message-headers/plain-headers/consumer.py
  examples/python/message-headers/typed-headers/consumer.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_message_operations.py
  foreign/python/tests/test_tls.py
Due: none
