Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

fix(cluster): fix type mismatch for variadic plane impl (#2857)
  core/common/src/macros.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partitions.rs
  core/shard/src/lib.rs
Due: rust

feat(cpp): add bazel building and testing infrastructure (#2785)
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/actions/utils/setup-cpp-with-cache/action.yml
  .github/config/components.yml
  .github/workflows/_detect.yml
  .github/workflows/_test.yml
  .github/workflows/pre-merge.yml
  Cargo.toml
  foreign/cpp/.bazelrc
  foreign/cpp/.bazelversion
  foreign/cpp/.clang-format
  foreign/cpp/.gitignore
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.lock
  foreign/cpp/Cargo.toml
  foreign/cpp/MODULE.bazel
  foreign/cpp/MODULE.bazel.lock
  foreign/cpp/README.md
  foreign/cpp/build.rs
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/test.cpp
Due: none

chore(repo): update versions to edge for all packages (#2871)
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/ai/mcp/Cargo.toml
  core/bench/Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/connectors/sdk/Cargo.toml
  core/connectors/sinks/elasticsearch_sink/Cargo.toml
  core/connectors/sinks/iceberg_sink/Cargo.toml
  core/connectors/sinks/postgres_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/stdout_sink/Cargo.toml
  core/connectors/sources/elasticsearch_source/Cargo.toml
  core/connectors/sources/postgres_source/Cargo.toml
  core/connectors/sources/random_source/Cargo.toml
  core/sdk/Cargo.toml
  core/server/Cargo.toml
  examples/node/package-lock.json
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/go/contracts/version.go
  foreign/java/gradle.properties
  foreign/node/package-lock.json
  foreign/node/package.json
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  web/package-lock.json
  web/package.json
Due: rust

ci: add binary artifact detection to pre-commit and CI (#2875)
  .github/workflows/_common.yml
  .pre-commit-config.yaml
  rust_out
  scripts/ci/binary-artifacts.sh
Due: none

feat(server): delete segments command for http (#2804)
  core/integration/tests/server/general.rs
  core/integration/tests/server/scenarios/system_scenario.rs
  core/server/server.http
  core/server/src/http/http_server.rs
  core/server/src/http/mod.rs
  core/server/src/http/segments.rs
  core/server/src/shard/system/segments.rs
  web/docs/server-api.http
Due: rust

initial clickhouse sink code
  core/connectors/runtime/example_config/connectors/clickhouse_sink.toml
  core/connectors/sinks/clickhouse_sink/config.toml
  core/connectors/sinks/clickhouse_sink/src/binary.rs
  core/connectors/sinks/clickhouse_sink/src/client.rs
  core/connectors/sinks/clickhouse_sink/src/sink.rs
Due: rust

fix linting errors
  core/connectors/runtime/example_config/connectors/clickhouse_sink.toml
  core/connectors/sinks/clickhouse_sink/config.toml
  core/connectors/sinks/clickhouse_sink/src/binary.rs
  core/connectors/sinks/clickhouse_sink/src/client.rs
  core/connectors/sinks/clickhouse_sink/src/schema.rs
  core/connectors/sinks/clickhouse_sink/src/sink.rs
Due: rust

add clickhouse sink
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/clickhouse_sink.toml
  core/connectors/sinks/clickhouse_sink/Cargo.toml
  core/connectors/sinks/clickhouse_sink/README.md
  core/connectors/sinks/clickhouse_sink/config.toml
  core/connectors/sinks/clickhouse_sink/src/binary.rs
  core/connectors/sinks/clickhouse_sink/src/body.rs
  core/connectors/sinks/clickhouse_sink/src/client.rs
  core/connectors/sinks/clickhouse_sink/src/lib.rs
  core/connectors/sinks/clickhouse_sink/src/schema.rs
  core/connectors/sinks/clickhouse_sink/src/sink.rs
  core/integration/tests/connectors/clickhouse/clickhouse_sink.rs
  core/integration/tests/connectors/clickhouse/mod.rs
  core/integration/tests/connectors/clickhouse/sink.toml
  core/integration/tests/connectors/fixtures/clickhouse/container.rs
  core/integration/tests/connectors/fixtures/clickhouse/mod.rs
  core/integration/tests/connectors/fixtures/clickhouse/sink.rs
  core/integration/tests/connectors/mod.rs
Due: rust

fix linting errors
  DEPENDENCIES.md
  core/connectors/sinks/clickhouse_sink/Cargo.toml
  core/connectors/sinks/clickhouse_sink/src/binary.rs
  core/connectors/sinks/clickhouse_sink/src/body.rs
  core/connectors/sinks/clickhouse_sink/src/client.rs
  core/connectors/sinks/clickhouse_sink/src/lib.rs
  core/connectors/sinks/clickhouse_sink/src/schema.rs
  core/connectors/sinks/clickhouse_sink/src/sink.rs
  core/integration/tests/connectors/clickhouse/clickhouse_sink.rs
  core/integration/tests/connectors/clickhouse/mod.rs
  core/integration/tests/connectors/fixtures/clickhouse/container.rs
  core/integration/tests/connectors/fixtures/clickhouse/mod.rs
  core/integration/tests/connectors/fixtures/clickhouse/sink.rs
  core/integration/tests/connectors/fixtures/mod.rs
Due: rust

fix linting errors
  core/connectors/runtime/example_config/connectors/clickhouse_sink.toml
  core/connectors/sinks/clickhouse_sink/config.toml
  core/integration/tests/connectors/clickhouse/sink.toml
Due: rust

fix: address review feedback for Node.js TLS examples Simplify signatures, remove any type, add test-examples.sh and README entries
  examples/node/README.md
  examples/node/src/tcp-tls/consumer.ts
  examples/node/src/tcp-tls/producer.ts
  examples/node/test-examples.sh
  foreign/node/src/e2e/tls.system.e2e.ts
Due: none

ci(js): add TLS server for TLS e2e tests and examples in CI
  .github/actions/node-npm/pre-merge/action.yml
  scripts/run-node-examples-from-readme.sh
Due: none

fix(js): resolve shellcheck warning for single-item loop
  scripts/run-node-examples-from-readme.sh
Due: none

feat(java): Implemented Async Connection Pooling using FixedChannelPool
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyAuthenticator.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/IggyFrameEncoder.java
Due: java

ci(csharp): add TLS examples to README and update CI script for TLS server
  examples/csharp/README.md
  scripts/run-csharp-examples-from-readme.sh
Due: none

ci(rust): add TLS examples to README and update CI script for TLS server
  examples/rust/README.md
  scripts/run-rust-examples-from-readme.sh
Due: none

ci(java): add TLS examples to README, update CI script and pre-merge action for TLS
  .github/actions/java-gradle/pre-merge/action.yml
  examples/java/README.md
  scripts/run-java-examples-from-readme.sh
Due: none

fix(java): use correct gradle project name for TLS test
  .github/actions/java-gradle/pre-merge/action.yml
Due: none

Remove artificial mongodb sink deps
  Cargo.lock
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/sink.rs
  core/connectors/sinks/mongodb_sink/Cargo.toml
  core/connectors/sinks/mongodb_sink/src/lib.rs
Due: rust

fix(java): fix TLS integration test to prevent CI hang and pass all tests
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TlsConnectionTest.java
Due: none

fix(java): remove blank line to satisfy spotless formatting
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TlsConnectionTest.java
Due: none

add delta sink
  Cargo.lock
  Cargo.toml
  DEPENDENCIES.md
  core/connectors/runtime/example_config/connectors/delta_sink.toml
  core/connectors/sinks/delta_sink/Cargo.toml
  core/connectors/sinks/delta_sink/README.md
  core/connectors/sinks/delta_sink/config.toml
  core/connectors/sinks/delta_sink/src/coercions.rs
  core/connectors/sinks/delta_sink/src/lib.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/delta_sink/src/storage.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/delta/delta_sink.rs
  core/integration/tests/connectors/delta/mod.rs
  core/integration/tests/connectors/delta/sink.toml
  core/integration/tests/connectors/fixtures/delta/fixtures.rs
  core/integration/tests/connectors/fixtures/delta/mod.rs
  core/integration/tests/connectors/mod.rs
Due: rust

fix tests
  core/integration/tests/connectors/fixtures/delta/fixture.rs
Due: rust

fix linting issues
  DEPENDENCIES.md
Due: none

fix(web): improve handling of `message_expiry`
  web/package-lock.json
  web/package.json
  web/src/lib/components/DurationInput.svelte
  web/src/lib/components/Modals/AddTopicModal.svelte
  web/src/lib/components/Modals/TopicSettingsModal.svelte
  web/src/lib/components/SegmentedControl.svelte
  web/src/lib/domain/Topic.ts
  web/src/lib/utils/formatters/durationFormatter.ts
Due: none

deps(web): update dependencies
  web/eslint.config.js
  web/package-lock.json
  web/package.json
Due: none

fix linting errors
  core/connectors/runtime/example_config/connectors/delta_sink.toml
Due: rust

test(java): add async-specific tests for ConsumerGroupsTcpClient (#2225)
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConsumerGroupsTest.java
Due: none

fix(java): use get(0) instead of getFirst() for JDK compatibility
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConsumerGroupsTest.java
Due: none

feat(connectors): add ClickHouse sink connector #2539
  Cargo.lock
  Cargo.toml
  core/connectors/sinks/clickhouse_sink/Cargo.toml
  core/connectors/sinks/clickhouse_sink/README.md
  core/connectors/sinks/clickhouse_sink/config.toml
  core/connectors/sinks/clickhouse_sink/config.toml.sample
  core/connectors/sinks/clickhouse_sink/field_mappings/config.toml
  core/connectors/sinks/clickhouse_sink/src/clickhouse_client.rs
  core/connectors/sinks/clickhouse_sink/src/clickhouse_inserter.rs
  core/connectors/sinks/clickhouse_sink/src/generic_inserter.rs
  core/connectors/sinks/clickhouse_sink/src/lib.rs
  core/connectors/sinks/clickhouse_sink/src/sink.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/clickhouse/clickhouse_sink.rs
  core/integration/tests/connectors/clickhouse/mod.rs
  core/integration/tests/connectors/clickhouse/sink.toml
  core/integration/tests/connectors/clickhouse/sink_field_mappings.toml
  core/integration/tests/connectors/fixtures/clickhouse/container.rs
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/config.xml
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/default-user.xml
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/docker_related_config.xml
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/users.xml
  core/integration/tests/connectors/fixtures/clickhouse/mod.rs
  core/integration/tests/connectors/fixtures/clickhouse/sink.rs
  core/integration/tests/connectors/mod.rs
Due: rust

chore(consensus): enable clippy pedantic/nursery and fix all warnings
  core/consensus/Cargo.toml
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/namespaced_pipeline.rs
  core/consensus/src/plane_helpers.rs
  core/consensus/src/plane_mux.rs
  core/consensus/src/view_change_quorum.rs
  core/consensus/src/vsr_timeout.rs
Due: rust

chore(clock, journal): enable pedantic and nursery clippy lints
  .github/workflows/_common.yml
  core/clock/Cargo.toml
  core/journal/Cargo.toml
Due: rust

chore(simulator): enable pedantic and nursery clippy lints#2876
  core/simulator/Cargo.toml
  core/simulator/src/bus.rs
  core/simulator/src/client.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
  core/simulator/src/main.rs
  core/simulator/src/network.rs
  core/simulator/src/packet.rs
  core/simulator/src/ready_queue.rs
  core/simulator/src/replica.rs
Due: rust

chore(shard,metadata): enable pedantic and nursery clippy lints
  core/bench/Cargo.toml
  core/message_bus/Cargo.toml
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/permissioner/mod.rs
  core/metadata/src/permissioner/permissioner_rules/consumer_groups.rs
  core/metadata/src/permissioner/permissioner_rules/consumer_offsets.rs
  core/metadata/src/permissioner/permissioner_rules/messages.rs
  core/metadata/src/permissioner/permissioner_rules/partitions.rs
  core/metadata/src/permissioner/permissioner_rules/segments.rs
  core/metadata/src/permissioner/permissioner_rules/streams.rs
  core/metadata/src/permissioner/permissioner_rules/system.rs
  core/metadata/src/permissioner/permissioner_rules/topics.rs
  core/metadata/src/permissioner/permissioner_rules/users.rs
  core/metadata/src/stats/mod.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/mod.rs
  core/metadata/src/stm/mux.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/metadata/src/stm/user.rs
  core/partitions/Cargo.toml
  core/shard/Cargo.toml
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/shard/src/shards_table.rs
Due: rust

fix(connectors): fixed review comments #2891 - retry configuration with limits and delays, README updated for the same. - fix the log params in close() - pre-commit/ CI hooks fix
  DEPENDENCIES.md
  core/connectors/sinks/clickhouse_sink/README.md
  core/connectors/sinks/clickhouse_sink/src/clickhouse_inserter.rs
  core/connectors/sinks/clickhouse_sink/src/generic_inserter.rs
  core/connectors/sinks/clickhouse_sink/src/lib.rs
  core/connectors/sinks/clickhouse_sink/src/sink.rs
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/config.xml
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/default-user.xml
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/docker_related_config.xml
  core/integration/tests/connectors/fixtures/clickhouse/image_configs/users.xml
Due: rust

fix(connectors): remove unused sink import
  core/connectors/runtime/src/sink.rs
Due: rust

feat(go): add TLS integration tests with testcontainers (requires Go 1.25.0)
  .github/actions/utils/setup-go-with-cache/action.yml
  bdd/go/go.mod
  bdd/go/go.sum
  examples/go/getting-started/consumer/main.go
  examples/go/getting-started/producer/main.go
  examples/go/go.mod
  examples/go/go.sum
  foreign/go/go.mod
  foreign/go/go.sum
  foreign/go/tests/tls_test.go
  scripts/run-go-examples-from-readme.sh
Due: none

fix(ci): update Go 1.25.0 in BDD Dockerfile and fix golangci-lint-action@v6 cache parameter
  .github/actions/go/pre-merge/action.yml
  bdd/go/Dockerfile
Due: none

ci: split examples-suite into per-SDK example components
  .github/config/components.yml
  .github/workflows/_detect.yml
  .github/workflows/_test_examples.yml
Due: none

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
