Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

refactor(bdd): address stream CRUD review feedback
  bdd/rust/tests/steps/streams.rs
  scripts/run-bdd-tests.sh
Due: none

fix(bdd): propagate Java coverage failures
  bdd/docker-compose.coverage.yml
Due: none

refactor(shard): drop journal generic, metrics scrape, poll cursor
  core/journal/src/lib.rs
  core/journal/src/prepare_journal.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_index_reader.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/journal.rs
  core/partitions/src/log.rs
  core/partitions/src/poll_plan.rs
  core/server/src/auth.rs
  core/server/src/bootstrap.rs
  core/server/src/consumer_group.rs
  core/server/src/dispatch.rs
  core/server/src/dispatch/authz.rs
  core/server/src/http.rs
  core/server/src/http/metrics.rs
  core/server/src/responses.rs
  core/server/src/users.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
  core/simulator/src/deps.rs
Due: rust

feat(shard): split the inbox into consensus and client-reply lanes
  core/configs/src/server_config/sharding.rs
  core/server/config.toml
  core/server/src/bootstrap.rs
  core/server/src/dispatch.rs
  core/server/src/partition_reconciler.rs
  core/server/src/server_error.rs
  core/shard/src/builder.rs
  core/shard/src/coordinator.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

fix CI
  core/integration/tests/server/partition_view_durability_vsr.rs
Due: rust

ci: replace Ana06/get-changed-files with dorny/paths-filter
  .github/workflows/_detect.yml
Due: none

fix(csharp): update command references in VsrConnection and related tests
  foreign/csharp/Iggy_SDK/Vsr/VsrConnection.cs
  foreign/csharp/Iggy_SDK_Tests/ContractsTests/MessageBatchGoldenVectorTests.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/BinaryMapper.cs
Due: none

test(java): add Pinot connector E2E coverage
  foreign/java/external-processors/iggy-connector-pinot/build.gradle.kts
  foreign/java/external-processors/iggy-connector-pinot/integration-test.sh
  foreign/java/external-processors/iggy-connector-pinot/src/test/java/org/apache/iggy/connector/pinot/IggyPinotIntegrationTest.java
Due: java

fix(csharp): bump version to 0.9.0-edge.5 in Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
Due: none

first pass through IggyConsumer incl. docs
  core/sdk/src/clients/consumer.rs
Due: rust

adding review feedback
  core/sdk/src/clients/consumer.rs
Due: rust

some consumer docs corrections
  core/sdk/src/clients/consumer.rs
Due: rust

review changes after clarification
  core/sdk/src/clients/consumer.rs
Due: rust

fix(metadata): truncate the WAL suffix above the state-transfer floor
  core/consensus/src/impls.rs
  core/metadata/src/impls/metadata.rs
  core/shard/src/lib.rs
Due: rust

Add mssql_server feature for test containers
  Cargo.toml
Due: none

Add test init files for mssql
  core/integration/tests/connectors/mssql/mod.rs
Due: rust

Add test
  core/integration/tests/connectors/mssql/source.rs
Due: rust

Add test init files for mssql
  core/integration/tests/connectors/mssql/container.rs
Due: rust

Add mssql module
  core/integration/tests/connectors/mod.rs
Due: rust

Add test init files for mssql
  core/integration/tests/connectors/fixtures/mssql/mod.rs
Due: rust

Add test init files for mssql
  core/integration/tests/connectors/fixtures/mssql/container.rs
Due: rust

Add test init files for mssql
  core/integration/tests/connectors/fixtures/mssql/source.rs
Due: rust

Add test init files for mssql
  core/integration/tests/connectors/mssql/source.toml
Due: rust

Add db connection function
  core/integration/tests/connectors/fixtures/mssql/container.rs
Due: rust

Delete file added by mistake
  core/integration/tests/connectors/mssql/source.rs
Due: rust

Delete file added by mistake
  core/integration/tests/connectors/mssql/container.rs
Due: rust

Add test for mssql connector
  core/integration/tests/connectors/mssql/mssql_source.rs
Due: rust

fix(connectors): stop rendering counter metrics with a doubled _total
  .claude/skills/connector-runtime/SKILL.md
  core/connectors/runtime/src/metrics.rs
  core/integration/tests/connectors/runtime/benchmark.rs
Due: rust

feat(connectors): add Redshift sink connector
  Cargo.lock
  Cargo.toml
  core/connectors/README.md
  core/connectors/sinks/README.md
  core/connectors/sinks/redshift_sink/Cargo.toml
  core/connectors/sinks/redshift_sink/README.md
  core/connectors/sinks/redshift_sink/config.toml
  core/connectors/sinks/redshift_sink/src/config.rs
  core/connectors/sinks/redshift_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/redshift/container.rs
  core/integration/tests/connectors/fixtures/redshift/mod.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/copy.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/create.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/handler.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/load.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/mod.rs
  core/integration/tests/connectors/fixtures/redshift/sink.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/redshift/mod.rs
  core/integration/tests/connectors/redshift/redshift_sink.rs
  core/integration/tests/connectors/redshift/sink.toml
Due: rust

fix(redshift): improved correctness and reliability
  Cargo.lock
  Cargo.toml
  core/connectors/sinks/redshift_sink/README.md
  core/connectors/sinks/redshift_sink/src/config.rs
  core/connectors/sinks/redshift_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/redshift/container.rs
  core/integration/tests/connectors/fixtures/redshift/mod.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/ddl.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/dml.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/dql.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/handler.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/load.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/mod.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/parser.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/util.rs
  core/integration/tests/connectors/fixtures/redshift/sink.rs
  core/integration/tests/connectors/redshift/redshift_sink.rs
Due: rust

fix(test): resolved created_at inclusive count
  core/connectors/sinks/redshift_sink/src/lib.rs
Due: rust

test(redshift): validated queries against Redshift Serverless
  Cargo.lock
  core/connectors/sinks/redshift_sink/Cargo.toml
  core/connectors/sinks/redshift_sink/README.md
  core/connectors/sinks/redshift_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/handler.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/parser.rs
  core/integration/tests/connectors/fixtures/redshift/redshift_mock/util.rs
  core/integration/tests/connectors/redshift/redshift_sink.rs
Due: rust

fix(dep): dropped unused connector and integration deps
  Cargo.lock
  core/connectors/sinks/redshift_sink/Cargo.toml
  core/integration/Cargo.toml
Due: rust

test: Redshift end-to-end testing passed
  Cargo.lock
  Cargo.toml
  core/connectors/sinks/redshift_sink/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/redshift/sink.rs
  core/integration/tests/connectors/redshift/redshift_sink.rs
Due: rust

Implemented the review changes
  .github/actions/rust/pre-merge/action.yml
  Cargo.lock
  core/configs/src/configs_impl/typed_env_provider.rs
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/docs/kafka_api_keys_reference.md
  gateways/kafka/scripts/ci-wire-fixtures.sh
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/bounds_guard.rs
  gateways/kafka/src/protocol/mod.rs
  gateways/kafka/src/server.rs
  gateways/kafka/tests/api_handler_tests.rs
  gateways/kafka/tests/common/server.rs
  gateways/kafka/tests/common/tcp.rs
  gateways/kafka/tests/common/wire.rs
  gateways/kafka/tests/header_tests.rs
  gateways/kafka/tests/listener_robustness_tests.rs
  gateways/kafka/tests/server_e2e_tests.rs
  gateways/kafka/tests/server_integration_tests.rs
  gateways/kafka/tests/version_firewall_tests.rs
  gateways/kafka/tools/kafka-tool/README.md
  gateways/kafka/tools/kafka-tool/src/main.rs
  gateways/kafka/tools/kafka-tool/tests/generate_cli_tests.rs
Due: rust

ci: bound apt-get so a dead mirror cannot wedge a job
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/actions/node-npm/pre-merge/action.yml
  .github/actions/php/pre-merge/action.yml
  .github/actions/rust/pre-merge/action.yml
  .github/actions/utils/setup-rust-with-cache/action.yml
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/_test_examples.yml
  .github/workflows/coverage-baseline.yml
  scripts/ci/apt-install.sh
Due: none

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
