Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

Add TCP/TLS integration tests and examples for Node.js SDK TLS e2e tests for ping, login, message flow, and plain TCP failure scenario
  examples/node/package.json
  examples/node/src/tcp-tls/consumer.ts
  examples/node/src/tcp-tls/producer.ts
  foreign/node/src/e2e/tls.system.e2e.ts
Due: none

ci: retrigger checks
  foreign/node/src/e2e/tls.system.e2e.ts
Due: none

ci: retrigger checks
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TlsConnectionTest.java
Due: none

Fix test_tls.py formatting
  foreign/python/tests/test_tls.py
Due: none

Fix mypy lint for testcontainers imports
  foreign/python/pyproject.toml
  foreign/python/tests/test_tls.py
Due: none

add missing methods to UsersClient and create missing methods on async UsersTcpClient
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/UsersClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
Due: java

implement methods for UsersTcpClient
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
Due: java

add javadocs to interface
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/UsersClient.java
Due: java

fix(ci): sort deps and update DEPENDENCIES.md
  DEPENDENCIES.md
  core/common/Cargo.toml
Due: rust

feat(simulator): Impl `PacketSimulator`
  Cargo.lock
  Cargo.toml
  core/common/Cargo.toml
  core/common/src/types/consensus/header.rs
  core/simulator/Cargo.toml
  core/simulator/src/lib.rs
  core/simulator/src/network.rs
  core/simulator/src/packet.rs
  core/simulator/src/ready_queue.rs
Due: rust

fix(ci): sort Cargo.toml
  core/simulator/Cargo.toml
Due: rust

address comments
  .github/actions/cpp-bazel/pre-merge/action.yml
  .github/actions/utils/setup-cpp-with-cache/action.yml
  foreign/cpp/.bazelrc
  foreign/cpp/.clang-format
  foreign/cpp/BUILD.bazel
  foreign/cpp/Cargo.toml
  foreign/cpp/MODULE.bazel
  foreign/cpp/MODULE.bazel.lock
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/test.cpp
Due: none

perf(bench): downsample time series charts with LTTB
  Cargo.lock
  DEPENDENCIES.md
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/server/Cargo.toml
  core/bench/report/Cargo.toml
  core/bench/report/src/lib.rs
  core/bench/report/src/types/time_series.rs
  core/bench/report/src/utils.rs
Due: rust

feat(bench): add latency distribution chart with log-normal fit
  core/bench/dashboard/frontend/src/components/chart/single_chart.rs
  core/bench/dashboard/frontend/src/components/chart/trend_chart.rs
  core/bench/dashboard/frontend/src/components/layout/topbar.rs
  core/bench/dashboard/frontend/src/components/selectors/measurement_type_selector.rs
  core/bench/dashboard/shared/src/lib.rs
  core/bench/report/src/lib.rs
  core/bench/report/src/plotting/chart.rs
  core/bench/report/src/plotting/chart_kind.rs
  core/bench/report/src/types/group_metrics.rs
  core/bench/report/src/types/individual_metrics.rs
  core/bench/report/src/types/latency_distribution.rs
  core/bench/report/src/types/mod.rs
  core/bench/src/analytics/metrics/group.rs
  core/bench/src/analytics/metrics/individual.rs
  core/bench/src/analytics/metrics/latency_distribution.rs
  core/bench/src/analytics/metrics/mod.rs
  core/bench/src/plot.rs
  core/bench/src/runner.rs
Due: rust

implement tls/tcp connection
  foreign/go/client/tcp/tcp_core.go
Due: none

add integration tests for async TCP users client
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/UsersTcpClientTest.java
Due: none

create helper methods to handle responses and refactor
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
Due: java

feat(bench): add embeddable chart endpoints with PNG rendering
  .asf.yaml
  .github/actions/rust/pre-merge/action.yml
  .github/workflows/_build_rust_artifacts.yml
  Cargo.lock
  DEPENDENCIES.md
  core/bench/dashboard/README.md
  core/bench/dashboard/frontend/Cargo.toml
  core/bench/dashboard/frontend/assets/style.css
  core/bench/dashboard/frontend/src/components/embed_modal.rs
  core/bench/dashboard/frontend/src/components/layout/topbar.rs
  core/bench/dashboard/frontend/src/components/mod.rs
  core/bench/dashboard/frontend/src/state/ui.rs
  core/bench/dashboard/server/Cargo.toml
  core/bench/dashboard/server/src/cache/loader.rs
  core/bench/dashboard/server/src/cache/storage.rs
  core/bench/dashboard/server/src/cache/watcher.rs
  core/bench/dashboard/server/src/error.rs
  core/bench/dashboard/server/src/handlers.rs
  core/bench/dashboard/server/src/main.rs
  core/bench/dashboard/server/src/render.rs
  core/bench/report/src/plotting/chart.rs
Due: rust

add ASF license header
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/UsersTcpClientTest.java
Due: none

add clickhouse sink e2e tests
  core/integration/tests/connectors/clickhouse/clickhouse_sink.rs
  core/integration/tests/connectors/clickhouse/mod.rs
  core/integration/tests/connectors/clickhouse/sink.toml
  core/integration/tests/connectors/fixtures/clickhouse/container.rs
  core/integration/tests/connectors/fixtures/clickhouse/mod.rs
  core/integration/tests/connectors/fixtures/clickhouse/sink.rs
  core/integration/tests/connectors/mod.rs
Due: rust

add PR comments
  Cargo.lock
  core/connectors/sinks/delta_sink/Cargo.toml
  core/connectors/sinks/delta_sink/src/lib.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/delta_sink/src/utils.rs
  core/connectors/sinks/elasticsearch_sink/config.toml
Due: rust

fix(integration): prevent flaky connector sink tests from f64 round-trip mismatch
  core/integration/tests/connectors/mod.rs
Due: rust

fix(connectors): prevent resource leak in source handle() when producer is None
  core/connectors/runtime/src/source.rs
Due: rust

test(connectors): add unit tests for SinkManager and SourceManager
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
Due: rust

refactor(connectors): fmt and clippy fixes for restart support
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
Due: rust

refactor(connectors): store Arc<Container> in Manager for restart support
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
Due: rust

feat(connectors): add shutdown channel to sink consume loop
  core/connectors/runtime/src/sink.rs
Due: rust

refactor(connectors): add iggy_clients and state_path to RuntimeContext
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/main.rs
Due: rust

refactor(connectors): add lifecycle fields to SinkDetails and SourceDetails
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
Due: rust

feat(connectors): add stop/start/restart methods to SinkManager
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/sink.rs
Due: rust

feat(connectors): add POST /restart API endpoints for sink and source connectors
  core/connectors/runtime/src/api/sink.rs
  core/connectors/runtime/src/api/source.rs
Due: rust

refactor(connectors): replace direct shutdown with Manager-based stops
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
Due: rust

feat(connectors): add stop/start/restart methods to SourceManager
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
Due: rust

fix(connectors): eliminate race condition in initial startup handle storage
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/sink.rs
  core/connectors/runtime/src/source.rs
Due: rust

refactor(connectors): add restart concurrency guard to SinkDetails and SourceDetails
  core/connectors/runtime/src/context.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/manager/source.rs
Due: rust

remove automatic table creation logic
  Cargo.lock
  core/connectors/runtime/example_config/connectors/delta_sink.toml
  core/connectors/sinks/delta_sink/README.md
  core/connectors/sinks/delta_sink/config.toml
  core/connectors/sinks/delta_sink/src/lib.rs
  core/connectors/sinks/delta_sink/src/sink.rs
  core/connectors/sinks/delta_sink/src/storage.rs
  core/connectors/sinks/delta_sink/src/utils.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/delta/delta_sink.rs
  core/integration/tests/connectors/fixtures/delta/fixture.rs
Due: rust

refactor(connectors): extract spawn_consume_tasks and reuse setup_sink_consumers in init
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/sink.rs
  core/connectors/runtime/src/sink.rs
Due: rust

refactor(connectors): extract spawn_source_handler and reuse setup_source_producer in init
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
