Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

docs(connectors): document the DynamoDB sink
  core/connectors/README.md
  core/connectors/sinks/README.md
  core/connectors/sinks/dynamodb_sink/README.md
Due: rust

hardening
  core/integration/tests/cluster/crash_recovery_corruption.rs
  core/partitions/src/iggy_partition.rs
  core/server/config.toml
  core/server/src/bootstrap.rs
  core/server/src/dispatch.rs
  core/server/src/segment_recovery.rs
  core/server/src/server_error.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
  core/simulator/src/lib.rs
Due: rust

test(partitions): gate the persist-retry test on Linux
  core/partitions/src/iggy_partition.rs
Due: rust

ci(repo): migrate Cargo-Rail planning to v0.25
  .config/rail.toml
  .github/actions/rust/pre-merge/action.yml
  .github/config/edge-image-variants.json
  .github/config/publish.yml
  .github/workflows/post-merge.yml
  scripts/ci/edge-affected-images.sh
Due: none

fix(connectors): address rabbitmq_sink review comments
  Cargo.lock
  core/connectors/runtime/example_config/connectors/rabbitmq_sink.toml
  core/connectors/sinks/rabbitmq_sink/Cargo.toml
  core/connectors/sinks/rabbitmq_sink/README.md
  core/connectors/sinks/rabbitmq_sink/config.toml
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
Due: rust

feat(python): add WebSocketConfig transport configuration
  .github/actions/python-maturin/pre-merge/action.yml
  .github/workflows/coverage-baseline.yml
  core/sdk/src/prelude.rs
  examples/python/README.md
  examples/python/websocket/consumer.py
  examples/python/websocket/producer.py
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/docker-compose.test.yml
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/lib.rs
  foreign/python/tests/test_websocket_config.py
  foreign/python/tests/utils.py
Due: rust

fix(go): tear down only the connection a request failed on
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_failover_test.go
  foreign/go/client/tcp/tcp_session_management.go
Due: none

bump grade, restore jar download script
  bdd/java/Dockerfile
  bdd/java/gradle/wrapper/gradle-wrapper.properties
  bdd/java/gradlew
  examples/java/gradle/wrapper/gradle-wrapper.properties
  examples/java/gradlew
  foreign/java/gradle/wrapper/gradle-wrapper.properties
  foreign/java/gradlew
Due: none

fix(shard): keep a parked prepare's stamp and op order on re-dispatch
  core/integration/tests/cluster/mod.rs
  core/integration/tests/cluster/parked_frame_redispatch.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/router.rs
Due: rust

improvements
  Cargo.lock
  Cargo.toml
  core/ai/mcp/Cargo.toml
  core/bench/Cargo.toml
  core/binary_protocol/Cargo.toml
  core/cli/Cargo.toml
  core/common/Cargo.toml
  core/connectors/runtime/Cargo.toml
  core/sdk/Cargo.toml
  core/sdk/src/clients/producer_config.rs
  core/sdk/src/clients/producer_dispatcher.rs
  core/sdk/src/clients/producer_sharding.rs
  foreign/python/Cargo.toml
Due: rust

fix versions
  Cargo.toml
  bdd/python/uv.lock
  examples/python/uv.lock
  foreign/python/Cargo.toml
  foreign/python/pyproject.toml
  foreign/python/uv.lock
Due: none

some consumer docs corrections
  core/sdk/src/clients/consumer.rs
Due: rust

first pass through IggyConsumer incl. docs
  core/sdk/src/clients/consumer.rs
Due: rust

adding review feedback
  core/sdk/src/clients/consumer.rs
Due: rust

review changes after clarification
  core/sdk/src/clients/consumer.rs
Due: rust

typo fixing, deliver at-least-once clarification
  core/sdk/src/clients/consumer.rs
Due: rust

fix(cluster): stop a late partition materialiser from wedging its group
  core/binary_protocol/src/requests/partitions/create_partitions_with_assignments.rs
  core/binary_protocol/src/requests/topics/create_topic_with_assignments.rs
  core/consensus/src/impls.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/authz.rs
  core/metadata/src/stm/consumer_group.rs
  core/metadata/src/stm/snapshot.rs
  core/metadata/src/stm/stream.rs
  core/server/src/bootstrap.rs
  core/server/src/dispatch.rs
  core/server/src/partition_helpers.rs
  core/server/src/partition_reconciler.rs
  core/server/src/responses.rs
  core/shard/src/lib.rs
  core/simulator/src/lib.rs
  core/simulator/src/replica.rs
Due: rust

fix(python): correct partitioning types and documentation
  examples/python/README.md
  examples/python/basic/producer.py
  examples/python/partitioning/producer.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/partitioning.rs
  foreign/python/tests/test_message_operations.py
Due: none

feat(python): support message partitioning strategies
  examples/python/README.md
  examples/python/partitioning/producer.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/src/partitioning.rs
  foreign/python/tests/test_message_operations.py
Due: none

fix(python): refine stubs and example
  examples/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/options.rs
  foreign/python/src/partitioning.rs
Due: none

fix doctest
  core/shard/src/lib.rs
Due: rust

fix(shard): drive partition repair and the commit walk from the tick
  core/integration/tests/cluster/parked_frame_redispatch.rs
  core/partitions/src/iggy_partition.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/simulator/src/lib.rs
Due: rust

fix(shard): drive metadata repair and the commit walk from the tick
  core/metadata/src/impls/metadata.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/simulator/src/lib.rs
Due: rust

fix(journal): reject recovery slot collisions
  core/configs/src/server_config/metadata.rs
  core/journal/src/prepare_journal.rs
  core/server/config.toml
Due: rust

fix CI
  helm/charts/iggy/README.md.gotmpl
Due: none

address review commetns
  core/integration/tests/cluster/client_table_adversarial.rs
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/ConsensusSession.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrResponseHandlerTest.java
Due: rust, java

address review comments
  core/server/src/dispatch.rs
  core/simulator/src/client.rs
  core/simulator/src/lib.rs
  foreign/go/internal/vsr/envelope_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/ConsensusSession.java
Due: rust, java

cleanup stale comments
  core/binary_protocol/src/consensus/header.rs
  core/consensus/src/client_table.rs
  core/server/src/http/session.rs
  foreign/csharp/Iggy_SDK/Vsr/VsrHeader.cs
  foreign/go/internal/vsr/header.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrHeaders.java
  foreign/node/src/wire/vsr/header.ts
Due: rust, java

Update stream.rs
  core/connectors/runtime/src/stream.rs
Due: rust

#4010 Don't set 4KB buffer size on .NET client SDK
  foreign/csharp/Iggy_SDK/Configuration/IggyClientConfigurator.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerBuilder.cs
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerConfig.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherBuilder.cs
  foreign/csharp/Iggy_SDK/Publishers/IggyPublisherConfig.cs
  foreign/csharp/README.md
Due: none

Fix typo.
  foreign/csharp/Iggy_SDK/Consumers/IggyConsumerBuilder.cs
Due: none

update docs
  core/journal/src/file_storage.rs
  helm/charts/iggy/README.md
  helm/charts/iggy/README.md.gotmpl
Due: rust

fix
  core/journal/src/file_storage.rs
  core/message_bus/src/client_listener/mod.rs
  core/server_common/src/diagnostics.rs
  helm/charts/iggy/README.md
  helm/charts/iggy/README.md.gotmpl
Due: rust

docs(repo): count findings and gate test runs in team-review
  .claude/skills/team-review/SKILL.md
Due: none

docs(repo): add repo-wide team-review agent skill
  .claude/skills/team-review/SKILL.md
  AGENTS.md
Due: none

docs(repo): gate team-review skill behind disable-model-invocation
  .claude/skills/team-review/SKILL.md
  AGENTS.md
Due: none

Fix
  core/journal/src/file_storage.rs
  core/message_bus/src/client_listener/mod.rs
  core/message_bus/src/client_listener/tcp.rs
  core/message_bus/src/client_listener/ws.rs
  core/message_bus/src/replica/io.rs
  core/message_bus/tests/graceful_shutdown.rs
  core/message_bus/tests/tcp_client_roundtrip.rs
  core/message_bus/tests/ws_client_roundtrip.rs
  core/server/src/bootstrap.rs
  core/server/src/http.rs
  core/server_common/src/diagnostics.rs
  helm/charts/iggy/README.md
  helm/charts/iggy/README.md.gotmpl
Due: rust

feat(python): expose get_stats on IggyClient
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/lib.rs
  foreign/python/src/stats.rs
  foreign/python/tests/test_stats.py
Due: none

chore(docs): proposal core/sdk lib.rs and IggyClient docs
  core/common/src/traits/partitioner.rs
  core/common/src/types/message/partitioning.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/lib.rs
Due: rust
