Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

fix
  core/integration/tests/sdk/options.rs
  core/journal/src/partition_journal.rs
  core/simulator/src/storage/tests.rs
Due: rust

do not require skill, inline SimpleEnglish prompt
  .claude/skills/team-review-slim/SKILL.md
  .claude/skills/team-review/SKILL.md
Due: none

improvements
  core/integration/tests/cluster/crash_durability.rs
  core/journal/src/partition_journal.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/server/src/consumer_group.rs
  core/server/src/dispatch/partition.rs
  core/server/src/http/handlers.rs
  core/server/src/http/reads.rs
  core/shard/src/lib.rs
  core/simulator/src/storage/tests.rs
Due: rust

fix: address review comments round 4
  core/consensus/src/plane_helpers.rs
  core/partitions/src/iggy_partition.rs
  core/shard/src/lib.rs
  core/simulator/src/workload/invariants.rs
Due: rust

update readme
  README.md
  core/bench/README.md
  core/bench/src/args/common.rs
  core/bench/src/args/examples.rs
  core/bench/src/args/transport.rs
  core/bench/src/utils/mod.rs
  core/configs/src/configs_impl/file_provider.rs
Due: rust

update bench defaults
  core/bench/README.md
  core/bench/src/args/defaults.rs
  core/bench/src/args/examples.rs
  core/bench/src/args/kinds/pinned/consumer.rs
Due: rust

fix clippy
  core/shard/src/lib.rs
Due: rust

Remove unused config entry
  core/connectors/sources/mssql_source/config.toml
Due: rust

feat(java): let TCP clients run one I/O thread or share a group
  foreign/java/README.md
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilder.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncTcpConnection.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClientBuilder.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientBuilderTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClientEventLoopGroupTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/AsyncTcpConnectionConcurrencyTest.java
Due: java

docs(connectors): clarify latest offset retry risk
  core/connectors/sources/iggy_source/config.toml
Due: rust

feat(connectors): Add Iggy source connector
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/iggy_source.toml
  core/connectors/sources/README.md
  core/connectors/sources/iggy_source/Cargo.toml
  core/connectors/sources/iggy_source/config.toml
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/mod.rs
  core/integration/tests/connectors/iggy_source/replication.rs
  core/integration/tests/connectors/iggy_source/source.toml
  core/integration/tests/connectors/mod.rs
Due: rust

fix(connectors): validate Iggy source batch size
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/src/lib.rs
Due: rust

test(connectors): expand Iggy source coverage
  Cargo.lock
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/Cargo.toml
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

feat(connectors): commit Iggy source state after batch ACK
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

fix(connectors): isolate Iggy source poll failures
  core/connectors/runtime/example_config/connectors/iggy_source.toml
  core/connectors/sources/iggy_source/README.md
  core/connectors/sources/iggy_source/config.toml
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

build(connectors): include Iggy source in release artifacts
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  scripts/bump-version.sh
Due: none

fix(connectors): back off after invalid source offsets
  core/connectors/sources/iggy_source/src/lib.rs
Due: rust

fix(connectors): reject malformed Iggy source batches
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/replication.rs
Due: rust

fix(connectors): bring quickwit_sink up to convention
  Cargo.lock
  core/connectors/runtime/example_config/connectors/quickwit_sink.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/src/lib.rs
Due: rust

fix(connectors): prevent Quickwit startup and ingestion failures
  Cargo.lock
  core/connectors/runtime/example_config/connectors/quickwit_sink.toml
  core/connectors/sinks/quickwit_sink/Cargo.toml
  core/connectors/sinks/quickwit_sink/README.md
  core/connectors/sinks/quickwit_sink/config.toml
  core/connectors/sinks/quickwit_sink/src/lib.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/quickwit/container.rs
  core/integration/tests/connectors/fixtures/quickwit/mod.rs
  core/integration/tests/connectors/quickwit/quickwit_sink.rs
Due: rust

fix(connectors): preserve plugin format environment overrides
  core/connectors/runtime/example_config/connectors/quickwit_sink.toml
  core/connectors/runtime/src/configs/connectors/local_provider.rs
  core/connectors/sinks/quickwit_sink/README.md
  core/integration/tests/connectors/fixtures/quickwit/container.rs
Due: rust

Fixing the critical issues from the review.
  .config/nextest.toml
  gateways/kafka/README.md
  gateways/kafka/src/bridge/config.rs
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

fix(shard): refuse a frame no consensus plane claims
  core/binary_protocol/src/consensus/operation.rs
  core/server/src/dispatch/partition.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/simulator/src/workload/invariants.rs
Due: rust

Fixed non critical issues
  gateways/kafka/README.md
  gateways/kafka/src/bridge/config.rs
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/bridge/topic_map.rs
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

Update bridge_iggy_integration_tests.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

Update Cargo.lock
  Cargo.lock
Due: none

docs(simulator): name the bug-only frame-drop reasons inline
  core/simulator/src/workload/invariants.rs
Due: rust

feat(python): add partition management methods
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_topic.py
Due: none

fix(consensus): count an unservable header as a nack
  core/consensus/src/dvc_merge.rs
  core/consensus/src/plane_helpers.rs
  core/simulator/src/lib.rs
Due: rust

chore(deps): remove Microsoft.SourceLink.GitHub package reference
  foreign/csharp/Directory.Build.props
  foreign/csharp/Directory.Packages.props
Due: none

fix(connectors): use DLL_EXTENSION for plugin path suffix on all platforms
  core/connectors/runtime/src/main.rs
Due: rust

Add justinmclean to .asf.yaml collaborators
  .asf.yaml
Due: none

chore(deps): drop the whitespace line left by the SourceLink removal
  foreign/csharp/Directory.Build.props
Due: none

chore(deps): remove Microsoft.SourceLink.GitHub package reference (#4113)
  foreign/csharp/Directory.Build.props
  foreign/csharp/Directory.Packages.props
Due: none

feat(connectors)!: add shared retry_async helper to the connector SDK
  .claude/skills/connector-sdk/SKILL.md
  .claude/skills/connector-sink/SKILL.md
  Cargo.lock
  core/connectors/sdk/Cargo.toml
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/doris_sink/src/lib.rs
  core/connectors/sinks/influxdb_sink/README.md
  core/connectors/sinks/influxdb_sink/src/lib.rs
  core/connectors/sinks/meilisearch_sink/src/lib.rs
  core/connectors/sinks/rabbitmq_sink/src/lib.rs
  core/connectors/sinks/s3_sink/src/sink.rs
  core/connectors/sinks/surrealdb_sink/src/lib.rs
  core/connectors/sources/influxdb_source/README.md
  core/connectors/sources/influxdb_source/src/lib.rs
Due: rust

fix(connectors): reshape retry_async after review
  .claude/skills/connector-sdk/SKILL.md
  .claude/skills/connector-sink/SKILL.md
  core/connectors/sdk/src/retry.rs
  core/connectors/sinks/doris_sink/src/lib.rs
Due: rust

test(integration): drop the doris nextest test-group
  .config/nextest.toml
Due: none

ci(rust): run the Rust matrix when .config/** changes
  .github/config/components.yml
Due: none

feat(security): add external auth config item
  core/configs/src/common/defaults.rs
  core/configs/src/lib.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/displays.rs
  core/configs/src/server_config/external_auth.rs
  core/configs/src/server_config/mod.rs
  core/configs/src/server_config/server.rs
Due: rust
