Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

refactor(python): regenerate apache_iggy.pyi
  foreign/python/apache_iggy.pyi
Due: none

Removed the openserch source connector
  core/connectors/sources/opensearch_source/Cargo.toml
  core/connectors/sources/opensearch_source/README.md
  core/connectors/sources/opensearch_source/config.toml
  core/connectors/sources/opensearch_source/src/lib.rs
  core/connectors/sources/opensearch_source/src/state_manager.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fixtures/opensearch/container.rs
  core/integration/tests/connectors/fixtures/opensearch/mod.rs
  core/integration/tests/connectors/fixtures/opensearch/source.rs
  core/integration/tests/connectors/mod.rs
  core/integration/tests/connectors/opensearch/mod.rs
  core/integration/tests/connectors/opensearch/opensearch_source.rs
  core/integration/tests/connectors/opensearch/source.toml
Due: rust

perf(metadata): decode ops off the buffer instead of copying the body
  core/metadata/src/stm/authz.rs
  core/metadata/src/stm/mod.rs
  core/server_common/src/consensus_message.rs
Due: rust

refactor(server-ng): build payload replies through one framing helper
  core/metadata/src/stm/user.rs
  core/server/src/responses.rs
Due: rust

feat(metadata): version the snapshot format with a release stamp
  Cargo.lock
  Cargo.toml
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/metadata/src/stm/snapshot.rs
Due: rust

fix(consensus): hand back the op when a metadata WAL append fails
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/metadata/src/impls/metadata.rs
Due: rust

refactor(consensus): scope pipeline access behind named operations
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/metadata_helpers.rs
  core/consensus/src/plane_helpers.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/state_transfer.rs
  core/server/src/bootstrap.rs
  core/shard/src/lib.rs
Due: rust

perf(shard): route the classified bag so frames parse once per hop
  core/metadata/src/impls/metadata.rs
  core/server/src/dispatch.rs
  core/server/src/partition_reconciler.rs
  core/server/src/responses.rs
  core/server_common/src/consensus_message.rs
  core/shard/src/lib.rs
  core/shard/src/router.rs
Due: rust

test(simulator): cover the pump realloc under a live partition borrow
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/simulator/src/lib.rs
Due: rust

fix(consensus): arm the prepare timeout only while prepares are in flight
  core/consensus/src/impls.rs
  core/consensus/src/plane_helpers.rs
Due: rust

feat(consensus): stamp when a request parks in the queue
  core/consensus/src/impls.rs
Due: rust

refactor(consensus): fold the duplicated view-change entry into one method
  core/consensus/src/impls.rs
Due: rust

fix: address review comments
  core/consensus/src/client_table.rs
  core/consensus/src/fatal.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/vsr_timeout.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/metadata/src/stm/snapshot.rs
  core/partitions/src/iggy_partitions.rs
  core/server/src/bootstrap.rs
  core/server/src/responses.rs
  core/server_common/src/consensus_message.rs
  core/shard/src/lib.rs
Due: rust

add limit to the max key value pair entries
  core/binary_protocol/src/lib.rs
  core/binary_protocol/src/primitives/options.rs
  core/common/src/types/options/mod.rs
  foreign/node/src/wire/options.utils.ts
Due: rust

fix ci
  Cargo.lock
  core/server_common/Cargo.toml
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/message/HeaderValue.java
  foreign/node/src/wire/topic/create-topic.command.test.ts
Due: rust, java

further refinements
  core/ai/mcp/src/service/mod.rs
  core/binary_protocol/src/requests/topics/update_topic.rs
  core/binary_protocol/src/responses/streams/get_stream.rs
  core/binary_protocol/src/responses/topics/get_topic.rs
  core/cli/src/commands/binary_topics/update_topic.rs
  core/common/src/http/topics/update_topic.rs
  core/common/src/traits/binary_impls/topics.rs
  core/common/src/traits/topic_client.rs
  core/common/src/types/options/mod.rs
  core/integration/tests/sdk/options.rs
  core/integration/tests/server/scenarios/authentication_scenario.rs
  core/integration/tests/server/scenarios/permissions_scenario.rs
  core/integration/tests/server/scenarios/system_scenario.rs
  core/integration/tests/server/topic_admission_vsr.rs
  core/metadata/src/impls/metadata.rs
  core/metadata/src/stm/stream.rs
  core/partitions/src/messages_writer.rs
  core/sdk/src/client_wrappers/binary_topic_client.rs
  core/sdk/src/clients/binary_topics.rs
  core/sdk/src/http/topics.rs
  core/server/src/http/handlers.rs
  core/simulator/src/client.rs
  foreign/cpp/src/client.rs
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/go/internal/command/topic.go
  foreign/go/internal/command/topic_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/node/src/wire/topic/update-topic.command.ts
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
Due: rust, java

fix CI
  core/ai/mcp/src/service/mod.rs
  foreign/python/tests/test_topic.py
Due: rust

fix CI
  examples/go/getting-started/producer/main.go
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/e2e/partition.cpp
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/e2e/topic.cpp
  foreign/java/bench/src/main/java/org/apache/iggy/bench/common/provision/ResourceProvisioner.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/TopicsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncClientIntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConnectionPoolAuthTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/AsyncConsumerGroupsTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/TopicsTcpClientPayloadTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/IntegrationTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/TopicsClientBaseTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/TlsConnectionTest.java
Due: java

impl PR review: dedup, fix typos and rephrase
  core/sdk/src/lib.rs
Due: rust

test showcase, delete_offset(None) deletes partition 0 for standalone consumer
  core/integration/tests/sdk/consumer_offset.rs
  core/integration/tests/sdk/mod.rs
Due: rust

fix(connectors): harden source batch acknowledgments
  core/connectors/runtime/src/main.rs
  core/connectors/runtime/src/manager/source.rs
  core/connectors/runtime/src/source.rs
  core/connectors/sdk/README.md
  core/connectors/sdk/src/lib.rs
  core/connectors/sdk/src/source.rs
  core/connectors/sources/README.md
  core/connectors/sources/random_source/src/lib.rs
  core/integration/tests/connectors/random/random_source.rs
Due: rust

fix lints
  foreign/cpp/tests/e2e/client.cpp
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/TopicsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesDeserializer.java
  foreign/python/tests/test_topic.py
Due: java

fix failing test
  core/integration/tests/server/scenarios/system_scenario.rs
Due: rust

use current_partition_id in delete_offset(None) for standalone consumer
  core/sdk/src/clients/consumer.rs
Due: rust

test(integration): migrate consumer_offset test to TopicCreateOptions
  core/integration/tests/sdk/consumer_offset.rs
Due: rust

Update random_source.rs
  core/integration/tests/connectors/random/random_source.rs
Due: rust

feat(connectors): add Apache Fluss source connector
  core/connectors/runtime/example_config/connectors/fluss_source.toml
  core/connectors/sources/README.md
  core/connectors/sources/fluss_source/Cargo.toml
  core/connectors/sources/fluss_source/README.md
  core/connectors/sources/fluss_source/config.toml
  core/connectors/sources/fluss_source/src/lib.rs
  core/connectors/sources/fluss_source/src/mapping.rs
Due: rust

test(integration): cover the Apache Fluss source end to end
  core/integration/Cargo.toml
  core/integration/tests/connectors/fixtures/fluss/container.rs
  core/integration/tests/connectors/fixtures/fluss/mod.rs
  core/integration/tests/connectors/fixtures/fluss/source.rs
  core/integration/tests/connectors/fixtures/mod.rs
  core/integration/tests/connectors/fluss/fluss_source.rs
  core/integration/tests/connectors/fluss/mod.rs
  core/integration/tests/connectors/fluss/source.toml
  core/integration/tests/connectors/mod.rs
Due: rust

build: register the Apache Fluss source in the workspace
  Cargo.lock
  Cargo.toml
Due: none

ci: install protoc for the Apache Fluss connector build
  .github/actions/utils/setup-rust-with-cache/action.yml
  CONTRIBUTING.md
Due: none

test(connectors): make source NACK regression deterministic
  core/integration/tests/connectors/random/random_source.rs
Due: rust

address review comments
  core/binary_protocol/src/primitives/options.rs
  core/binary_protocol/src/responses/streams/get_stream.rs
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/Mappers/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/ClientTests/HttpTopicOptionsTests.cs
  foreign/csharp/Iggy_SDK_Tests/ContractsTests/TopicContractsTests.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/BinaryMapper.cs
  foreign/csharp/Iggy_SDK_Tests/MapperTests/OptionsBlockGoldenVectorTests.cs
  foreign/csharp/Iggy_SDK_Tests/Utils/BinaryFactory.cs
  foreign/go/binary_serialization/binary_response_deserializer.go
  foreign/go/binary_serialization/binary_response_deserializer_test.go
  foreign/go/binary_serialization/vsr_response_deserializer_test.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/topic/TopicOptions.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/OptionsBlockGoldenVectorTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/topic/TopicOptionsTest.java
  foreign/node/src/wire/options.utils.test.ts
  foreign/node/src/wire/options.utils.ts
  foreign/node/src/wire/topic/create-topic.command.ts
  foreign/node/src/wire/topic/update-topic.command.ts
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_topic.py
Due: rust, java

chore: remove resolved TODO comments
  core/journal/src/prepare_journal.rs
  core/metadata/src/impls/metadata.rs
  core/partitions/src/types.rs
  core/server/src/partition_reconciler.rs
Due: rust

feat(connectors): Add Iggy source connector
  Cargo.lock
  Cargo.toml
  core/connectors/runtime/example_config/connectors/iggy_source.toml
  core/connectors/sources/README.md
  core/connectors/sources/iggy_source/Cargo.toml
  core/connectors/sources/iggy_source/config.toml
  core/connectors/sources/iggy_source/src/lib.rs
  core/integration/tests/connectors/iggy_source/mod.rs
  core/integration/tests/connectors/iggy_source/replication.rs
  core/integration/tests/connectors/iggy_source/source.toml
  core/integration/tests/connectors/mod.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
