Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

test(go): cover system command serialization (#4305)
  foreign/go/internal/command/system_test.go
Due: none

fix(ci): edit the Codecov PR comment once per run, not per test leg
  .github/workflows/codecov-notify.yml
  .github/workflows/pre-merge.yml
  codecov.yml
Due: none

feat(swift): add XXH3 and XXH32 with golden vectors from the Rust crates
  .github/actions/swift/pre-merge/action.yml
  .github/config/components.yml
  .gitignore
  .typos.toml
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/consensus/request.rs
  core/sdk/src/vsr.rs
  foreign/swift/README.md
  foreign/swift/Sources/Iggy/Errors/IggyErrorCode.swift
  foreign/swift/Sources/Iggy/Hash/UnalignedLoads.swift
  foreign/swift/Sources/Iggy/Hash/XXH3.swift
  foreign/swift/Sources/Iggy/Hash/XXH32.swift
  foreign/swift/Tests/IggyTests/ErrorCodeTests.swift
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
  foreign/swift/Tests/IggyTests/HashTests.swift
  foreign/swift/Tests/IggyTests/Support/GoldenFixture.swift
  foreign/swift/Tools/golden-vectors/Cargo.toml
  foreign/swift/Tools/golden-vectors/src/main.rs
Due: rust

docs(python): mark lifecycle known issues and speed up the tests
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_connectivity.py
Due: none

feat(node): add getSnapshot system command
  foreign/node/src/wire/command-set.ts
  foreign/node/src/wire/system/get-snapshot.command.ts
  foreign/node/src/wire/system/index.ts
Due: none

feat(java): add deleteConsumerOffset to consumer offsets clients
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/ConsumerOffsetsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/ConsumerOffsetsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/ConsumerOffsetsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/ConsumerOffsetsClientBaseTest.java
Due: java

feat(swift): add XXH3 and XXH32 with golden vectors from the Rust crates (#4306)
  .github/actions/swift/pre-merge/action.yml
  .github/config/components.yml
  .gitignore
  .typos.toml
  core/binary_protocol/src/consensus/mod.rs
  core/binary_protocol/src/consensus/request.rs
  core/sdk/src/vsr.rs
  foreign/swift/README.md
  foreign/swift/Sources/Iggy/Errors/IggyErrorCode.swift
  foreign/swift/Sources/Iggy/Hash/UnalignedLoads.swift
  foreign/swift/Sources/Iggy/Hash/XXH3.swift
  foreign/swift/Sources/Iggy/Hash/XXH32.swift
  foreign/swift/Tests/IggyTests/ErrorCodeTests.swift
  foreign/swift/Tests/IggyTests/Fixtures/golden.json
  foreign/swift/Tests/IggyTests/HashTests.swift
  foreign/swift/Tests/IggyTests/Support/GoldenFixture.swift
  foreign/swift/Tools/golden-vectors/Cargo.toml
  foreign/swift/Tools/golden-vectors/src/main.rs
Due: rust

test(go): cover session and user command serialization
  foreign/go/internal/command/session_test.go
  foreign/go/internal/command/user_test.go
Due: none

fix(partitions): reject queued offsets after history resets (#4325)
  core/common/src/traits/consumer_offset_client.rs
  core/consensus/src/impls.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/tests/consumer_offset_history.rs
  core/sdk/src/poll_routing.rs
  core/simulator/src/consumer_offset_history_tests.rs
  core/simulator/src/lib.rs
Due: rust

feat(gateways): answer Kafka Fetch with records from Iggy
  .config/nextest.toml
  gateways/kafka/Cargo.toml
  gateways/kafka/README.md
  gateways/kafka/docs/ACL_MAPPING.md
  gateways/kafka/docs/AUTHENTICATION.md
  gateways/kafka/docs/BRIDGE_MAPPING.md
  gateways/kafka/docs/CONSUMER_GROUPS.md
  gateways/kafka/docs/MANUAL_TESTING.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/offsets.rs
  gateways/kafka/src/bridge/iggy_bridge/produce.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/fetch.rs
  gateways/kafka/src/protocol/handlers/list_offsets.rs
  gateways/kafka/src/protocol/handlers/metadata.rs
  gateways/kafka/src/protocol/handlers/mod.rs
  gateways/kafka/src/protocol/handlers/produce.rs
  gateways/kafka/src/protocol/mod.rs
  gateways/kafka/src/protocol/probe_board.rs
  gateways/kafka/src/records.rs
  gateways/kafka/tests/fetch_real_bridge_tests.rs
  gateways/kafka/tests/kafka_client_e2e_tests.rs
Due: none

feat(python): expose client disconnect and shutdown (#4288)
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_connectivity.py
Due: none

migrate functions
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
Due: none

add functions
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

remove docs and add test
  foreign/cpp/include/iggy.hpp
  foreign/cpp/tests/e2e/client.cpp
Due: none

align cpp sdk with rust, add docs
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

fixes
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/client.cpp
Due: none

fix(ci): edit the Codecov PR comment once per run, not per test leg (#4326)
  .github/workflows/codecov-notify.yml
  .github/workflows/pre-merge.yml
  codecov.yml
Due: none

feat(java-sdk): add purgeStream and purgeTopic client methods
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/StreamsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/TopicsClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/StreamsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/TopicsHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/CommandCode.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/StreamClientBaseTest.java
Due: java

feat(cpp): add user manangement and client functions to high level client (#4256)
  foreign/cpp/include/iggy.hpp
  foreign/cpp/src/client.cpp
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/src/type_conversion.rs
  foreign/cpp/src/type_conversions.cpp
  foreign/cpp/tests/e2e/client.cpp
  foreign/cpp/tests/e2e/consumer_group.cpp
  foreign/cpp/tests/e2e/stream.cpp
  foreign/cpp/tests/e2e/test_helpers.hpp
  foreign/cpp/tests/unit/unit_tests.cpp
Due: none

address review
  foreign/csharp/Iggy_SDK/IggyClient/IIggySegment.cs
  gateways/kafka/docs/OFFSET_STORAGE.md
  gateways/kafka/tools/kafka-tool/README.md
Due: none

fix(connectors): refuse http_source bodies Iggy cannot store (#4302)
  core/connectors/sources/http_source/README.md
  core/connectors/sources/http_source/src/auth.rs
  core/connectors/sources/http_source/src/lib.rs
  core/connectors/sources/http_source/src/server.rs
  core/integration/tests/connectors/http/http_source.rs
Due: rust

refactor(go): build the offset write routing target in one place
  foreign/go/client/tcp/tcp_offset_management.go
Due: none

test(go): cover session and user command serialization (#4334)
  foreign/go/internal/command/session_test.go
  foreign/go/internal/command/user_test.go
Due: none

fix: address review comments
  gateways/kafka/src/bridge/iggy_bridge/fetch.rs
  gateways/kafka/src/bridge/iggy_bridge/mod.rs
  gateways/kafka/src/bridge/iggy_bridge/offsets.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/src/protocol/handlers/fetch.rs
  gateways/kafka/src/protocol/probe_board.rs
  gateways/kafka/src/records.rs
Due: none

perf(partitions): keep shard traffic moving during file I/O
  Cargo.lock
  core/configs/src/server_config/sharding.rs
  core/consensus/src/impls.rs
  core/consensus/src/lib.rs
  core/consensus/src/metadata_helpers.rs
  core/consensus/src/plane_helpers.rs
  core/journal/src/local_gate.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_index_writer.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/io.rs
  core/partitions/src/journal.rs
  core/partitions/src/lib.rs
  core/partitions/src/messages_writer.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/persistence.rs
  core/partitions/src/state_transfer.rs
  core/partitions/tests/consumer_offset_history.rs
  core/server/config.toml
  core/server/src/boot/recovery.rs
  core/server/src/boot/threads.rs
  core/server/src/partition_reconciler.rs
  core/server/src/server_error.rs
  core/server_common/src/iobuf.rs
  core/server_common/src/poll.rs
  core/shard/Cargo.toml
  core/shard/src/builder.rs
  core/shard/src/lib.rs
  core/shard/src/metrics.rs
  core/shard/src/partition_io.rs
  core/shard/src/poll.rs
  core/shard/src/poll/completion_tests.rs
  core/shard/src/poll/timeout_tests.rs
  core/shard/src/router.rs
  core/simulator/src/storage/purge.rs
  core/simulator/src/workload/state_checker.rs
Due: rust

docs(gateways): accept Kafka offset storage, document DeleteRecords (#4289)
  core/common/src/traits/segment_client.rs
  foreign/csharp/Iggy_SDK/IggyClient/IIggySegment.cs
  gateways/kafka/docs/OFFSET_STORAGE.md
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/kafka_api_keys_reference.md
  gateways/kafka/tools/kafka-tool/README.md
Due: rust

test(integration): stop member drain test failing on slow disks
  core/integration/tests/cluster/client_table_restart.rs
Due: rust

fix(sdk): preserve sessions and prevent unsafe poll replay
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/vsr.rs
  core/sdk/src/websocket/websocket_client.rs
  foreign/go/README.md
  foreign/go/client/tcp/tcp_connect_test.go
  foreign/go/client/tcp/tcp_consumer_group_management.go
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_test.go
  foreign/go/client/tcp/tcp_group_polling_test.go
  foreign/go/client/tcp/tcp_poll_routing.go
  foreign/go/client/tcp/tcp_poll_routing_test.go
  foreign/go/client/tcp/tcp_session_management.go
  foreign/go/client/tcp/tcp_testing_test.go
  foreign/go/client/tcp/tcp_user_management.go
  foreign/go/contracts/client.go
Due: rust

test(integration): stop member drain test failing on slow disks (#4341)
  core/integration/tests/cluster/client_table_restart.rs
Due: rust

fix(connectors): address JDBC source review findings
  core/connectors/runtime/example_config/connectors/jdbc_h2.toml
  core/connectors/sdk/src/sink.rs
  core/connectors/sdk/src/source.rs
  core/connectors/sources/jdbc_source/Cargo.toml
  core/connectors/sources/jdbc_source/README.md
  core/connectors/sources/jdbc_source/src/lib.rs
  core/integration/tests/connectors/jdbc/jdbc_source.rs
  core/integration/tests/connectors/mod.rs
Due: rust

test(sdk): reproduce client lifecycle bugs
  core/integration/tests/sdk/client_lifecycle.rs
  core/integration/tests/sdk/mod.rs
Due: rust

refactor(sdk): centralize TCP request timeout cleanup
  core/sdk/src/client_wrappers/client_wrapper.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

fix(sdk): avoid blocking TCP login timeout cleanup
  core/sdk/src/request_budget.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

fix(sdk): bound TCP login with a request timeout
  core/common/src/error/iggy_error.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config.rs
  core/common/src/types/configuration/tcp_config/tcp_client_config_builder.rs
  core/common/src/types/configuration/tcp_config/tcp_connection_string_options.rs
  core/sdk/src/client_provider.rs
  core/sdk/src/clients/client_builder.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/lib.rs
  core/sdk/src/request_budget.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

refactor(sdk): isolate TCP request policy from IggyClient
  core/sdk/src/client_wrappers/client_wrapper.rs
  core/sdk/src/clients/binary_personal_access_tokens.rs
  core/sdk/src/clients/binary_users.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

refactor(sdk): rely on request budget for connect wait
  core/sdk/src/leader_aware.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

feat(sdk): expose TCP login timeout through shared args
  core/common/src/types/args/mod.rs
  core/sdk/src/client_provider.rs
  examples/rust/src/shared/args.rs
Due: rust

refactor(sdk): centralize TCP request budget scope
  core/common/src/request_budget.rs
  core/common/src/traits/binary_impls/personal_access_tokens.rs
  core/common/src/traits/binary_impls/users.rs
  core/sdk/src/clients/client.rs
  core/sdk/src/tcp/tcp_client.rs
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
