Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

fix(python): rustfmt HttpConfig repr
  foreign/python/src/config.rs
Due: none

fix(python): fold HttpConfig into IggyClient(...) union
  examples/python/README.md
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  examples/python/http/consumer.py
  examples/python/http/producer.py
  foreign/python/README.md
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/tests/test_http_config.py
Due: none

fix
  core/common/src/error/iggy_error.rs
  core/common/src/traits/message_client.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/iggy_partitions.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/poll_plan.rs
  core/partitions/src/state_transfer.rs
  core/sdk/src/clients/consumer.rs
  core/server/config.toml
  core/server/src/dispatch/partition.rs
  core/server/src/offset_recovery.rs
  core/server/src/partition_helpers.rs
  core/server/src/partition_reconciler.rs
  foreign/go/errors/errors.yaml
  foreign/go/errors/errors_gen.go
  foreign/go/errors/errors_test.go
  foreign/node/src/wire/error.code.test.ts
  foreign/node/src/wire/error.code.ts
Due: rust

fix(java): size wire strings by UTF-8 byte length, not char count
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerGroupsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodec.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/identifier/Identifier.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/message/Message.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/message/Partitioning.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/UsersTcpClientPayloadTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodecTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/BytesSerializerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/identifier/IdentifierTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/MessageTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PartitioningTest.java
Due: java

fix tests
  core/partitions/src/iggy_partition.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/src/dispatch/partition.rs
Due: rust

fix(connectors): validate protobuf field lengths consistently
  core/connectors/sdk/src/decoders/proto.rs
Due: rust

perf(node): mint message ids from a pooled CSPRNG buffer
  foreign/node/src/wire/message/message.utils.ts
Due: none

docs(sdk): drop redundant message-id mint comments
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/go/internal/command/message.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
Due: java

fix(csharp): update string length validation to use UTF-8 byte count
  foreign/csharp/Iggy_SDK/Contracts/Tcp/TcpContracts.cs
  foreign/csharp/Iggy_SDK/Headers/HeaderKey.cs
  foreign/csharp/Iggy_SDK/Headers/HeaderValue.cs
  foreign/csharp/Iggy_SDK/Identifier.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyTopic.cs
  foreign/csharp/Iggy_SDK/Iggy_SDK.csproj
  foreign/csharp/Iggy_SDK/Kinds/Partitioning.cs
  foreign/csharp/Iggy_SDK/Utils/TcpMessageStreamHelpers.cs
  foreign/csharp/Iggy_SDK/Utils/WireName.cs
  foreign/csharp/Iggy_SDK_Tests/ContractsTests/WireNameLengthContractsTests.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/HeaderValueTests.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/IdentifiersByteSerializationTests.cs
Due: none

Implementing Reviews
  gateways/kafka/README.md
  gateways/kafka/src/bridge/config.rs
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/bridge/topic_map.rs
  gateways/kafka/src/main.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

Make message more clear
  foreign/node/src/wire/message/message.utils.ts
Due: none

fixes
  core/binary_protocol/src/primitives/ack_level.rs
  core/common/src/traits/consumer_offset_client.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/lib.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/poll_plan.rs
  core/partitions/src/state_transfer.rs
  core/sdk/src/leader_aware.rs
  core/sdk/src/quic/quic_client.rs
  core/sdk/src/tcp/tcp_client.rs
  core/sdk/src/websocket/websocket_client.rs
  core/server/src/dispatch/partition.rs
  core/server/src/offset_recovery.rs
  core/server/src/partition_helpers.rs
  core/server/src/responses.rs
  core/shard/src/lib.rs
Due: rust

Updating docs and test scripts
  Cargo.lock
  gateways/kafka/Cargo.toml
  gateways/kafka/docs/SCOPE.md
  gateways/kafka/docs/TEST_SUITE.md
  gateways/kafka/src/bridge/config.rs
  gateways/kafka/src/bridge/error.rs
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/src/bridge/mod.rs
  gateways/kafka/src/main.rs
  gateways/kafka/src/protocol/api.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

Trim explanations
  foreign/node/src/wire/message/message.utils.ts
Due: none

Add test coverage
  foreign/node/src/wire/message/message.utils.test.ts
  foreign/node/src/wire/message/message.utils.ts
Due: none

Add test coverage for number utils
  foreign/node/src/wire/number.utils.test.ts
Due: none

fix(shard): widen partition repair when a view-adopted suffix is missing bodies
  core/shard/src/lib.rs
Due: rust

test(connectors): assert the DynamoDB item key the sink writes
  core/connectors/sinks/dynamodb_sink/src/lib.rs
  core/integration/tests/connectors/dynamodb/dynamodb_sink.rs
Due: rust

Fix typo
  foreign/node/src/wire/message/message.utils.test.ts
Due: none

ci(connectors): run a plugin's integration suite when it changes
  .github/actions/rust/pre-merge/action.yml
  core/integration/Cargo.toml
Due: rust

fix(go): align MaxPayloadSize with core (64 MB)
  foreign/go/contracts/messages.go
Due: none

refactor(csharp): update identifier and partitioning classes to use byte arrays for serialization
  foreign/csharp/Iggy_SDK/Extensions/Extensions.cs
  foreign/csharp/Iggy_SDK/Identifier.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/Kinds/Partitioning.cs
  foreign/csharp/Iggy_SDK/Utils/TcpMessageStreamHelpers.cs
  foreign/csharp/Iggy_SDK_Tests/ContractsTests/WireNameLengthContractsTests.cs
  foreign/csharp/Iggy_SDK_Tests/UtilityTests/IdentifiersByteSerializationTests.cs
Due: none

fix(GO_SDK): update MaxPayloadSize from 10 MB to 64 MB to match size update in rust message construction
  foreign/go/contracts/messages.go
Due: none

improve consumer offset options
  core/common/src/error/iggy_error.rs
  core/configs/src/server_config/defaults.rs
  core/configs/src/server_config/displays.rs
  core/configs/src/server_config/partition.rs
  core/partitions/src/consumer_offset_capacity.rs
  core/partitions/src/iggy_partition.rs
  core/partitions/src/offset_storage.rs
  core/partitions/src/state_transfer.rs
  core/partitions/src/types.rs
  core/server/config.toml
  core/server/src/boot/recovery.rs
  core/server/src/dispatch/mod.rs
  core/server/src/dispatch/partition.rs
  core/server/src/dispatch/session_ops.rs
  core/server/src/dispatch/test_support.rs
  core/server/src/offset_recovery.rs
  core/server/src/partition_helpers.rs
  core/server/src/partition_reconciler.rs
  core/shard/src/lib.rs
  core/simulator/src/replica.rs
  foreign/go/errors/errors.yaml
  foreign/go/errors/errors_gen.go
  foreign/go/errors/errors_test.go
  foreign/node/src/wire/error.code.test.ts
  foreign/node/src/wire/error.code.ts
Due: rust

fix ci
  foreign/go/errors/errors_gen.go
Due: none

fix bench
  core/bench/src/benchmarks/common.rs
Due: rust

docs: add AI assistance expectations to CONTRIBUTING
  CONTRIBUTING.md
Due: none

fix(python): address second review round on get_stats
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/stats.rs
  foreign/python/tests/test_stats.py
Due: none

address review
  core/metadata/src/impls/metadata.rs
  core/shard/src/lib.rs
  core/simulator/src/deps.rs
  core/simulator/src/lib.rs
Due: rust

review fixes
  examples/java/src/main/java/org/apache/iggy/examples/async/AsyncConsumer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/MessagesClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/ConsumerGroupsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/PersonalAccessTokensTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/StreamsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/TopicsTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/UsersTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodec.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/identifier/Identifier.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/message/Partitioning.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/UsersTcpClientPayloadTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/async/tcp/vsr/VsrLoginCodecTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/BytesSerializerTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/MessagesTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/StreamTcpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/message/PartitioningTest.java
Due: java

perf(java): mint message ids from an AES-CTR keystream
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/BytesSerializer.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/serde/MessageIdGenerator.java
Due: java

fix(python): stop handing out a shared cache_metrics dict
  foreign/python/apache_iggy.pyi
  foreign/python/src/stats.rs
  foreign/python/tests/test_stats.py
Due: none

docs: fix the numeric server semver example in two more copies
  core/bench/report/src/types/server_stats.rs
  foreign/csharp/Iggy_SDK/Contracts/StatsResponse.cs
Due: rust

ci(python): run the extension crate's Rust unit tests
  .github/actions/python-maturin/pre-merge/action.yml
Due: none

test(java): cover the AES-CTR message-id generator
  foreign/java/java-sdk/src/test/java/org/apache/iggy/serde/MessageIdGeneratorTest.java
Due: none

Fixing the default web socket port and topic names mis matching issue.
  gateways/kafka/src/bridge/iggy_bridge.rs
  gateways/kafka/tests/bridge_iggy_integration_tests.rs
Due: none

fix(python): reject sub-millisecond QUIC durations instead of truncating
  examples/python/getting-started/consumer.py
  examples/python/getting-started/producer.py
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/src/config.rs
  foreign/python/src/duration.rs
  foreign/python/tests/test_connectivity.py
  foreign/python/tests/test_quic_config.py
Due: none

feat(node): expose client connection events
  foreign/node/README.md
  foreign/node/src/client/client.connection.test.ts
  foreign/node/src/client/client.connection.ts
  foreign/node/src/client/client.socket.ts
  foreign/node/src/client/client.ts
  foreign/node/src/client/client.type.ts
Due: none

fix(connectors): validate connector key before it becomes a path
  core/connectors/runtime/README.md
  core/connectors/runtime/src/api/error.rs
  core/connectors/runtime/src/api/key.rs
  core/connectors/runtime/src/api/mod.rs
  core/connectors/runtime/src/api/sink.rs
  core/connectors/runtime/src/api/source.rs
  core/connectors/runtime/src/configs/connectors.rs
  core/connectors/runtime/src/configs/connectors/http_provider.rs
  core/connectors/runtime/src/configs/connectors/local_provider.rs
  core/connectors/runtime/src/error.rs
  core/connectors/runtime/src/main.rs
  core/integration/tests/connectors/api/endpoints.rs
  core/integration/tests/connectors/api/key_validation.toml
Due: rust

Path conditions:
  rust: any of: core/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
  java: any of: foreign/java/java-sdk/src/main/, foreign/java/external-processors/, but not: **/*Test.java, **/test/**, **/build/**, **/target/**
