Repository apache/iggy: changes, and which Codecov flags are due for each by the changed paths.
All: rust, java

.codecov.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 0.5%  # Allow 0.5% drop in coverage
        if_ci_failed: error
    patch:
      default:
        target: 70%  # New code should have reasonable coverage
        threshold: 0%
        if_ci_failed: error

flags:
  rust:
    paths:
      - core/
    carryforward: true
  java:
    paths:
      - foreign/java/java-sdk/src/main/
      - foreign/java/external-processors/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes

ignore:
  - "**/*Test.java"
  - "**/test/**"
  - "**/build/**"
  - "**/target/**"

fix(connectors): map unchanged-toast-datum sentinel to null
  core/connectors/sources/postgres_source/src/cdc_fixtures.rs
  core/connectors/sources/postgres_source/src/lib.rs
Due: rust

test(connectors): retry postgres slot drop past transient in-use errors
  core/integration/tests/connectors/postgres/postgres_source_cdc.rs
Due: rust

docs(connectors): document CDC slot sharing and decommissioning hazards
  core/connectors/sources/postgres_source/README.md
Due: rust

fix(connectors): address meilisearch source review
  Cargo.lock
  core/connectors/sources/meilisearch_source/Cargo.toml
  core/connectors/sources/meilisearch_source/src/lib.rs
Due: rust

fix(rust,sdk): remove redundant http formatting borrows
  core/sdk/src/http/consumer_groups.rs
  core/sdk/src/http/topics.rs
  core/sdk/src/http/users.rs
Due: rust

address review
  foreign/python/pyproject.toml
Due: none

test(python): drop brittle assertions in user tests
  foreign/python/tests/test_user.py
Due: none

test(python): make user tests deterministic on shared servers
  foreign/python/tests/test_user.py
Due: none

test(python): cover user credential byte-limit boundaries
  foreign/python/tests/test_user.py
Due: none

test(python): cover user lifecycle edge cases
  foreign/python/tests/test_user.py
Due: none

feat(connectors): retry transient Doris Stream Load failures in-request
  core/connectors/runtime/example_config/connectors/doris_sink.toml
  core/connectors/sinks/doris_sink/README.md
  core/connectors/sinks/doris_sink/config.toml
  core/connectors/sinks/doris_sink/src/lib.rs
Due: rust

fix(connectors): harden Doris retry semantics
  core/connectors/runtime/example_config/connectors/doris_sink.toml
  core/connectors/sinks/doris_sink/README.md
  core/connectors/sinks/doris_sink/config.toml
  core/connectors/sinks/doris_sink/src/lib.rs
  core/integration/tests/connectors/doris/doris_sink.rs
Due: rust

fix(connectors): address Doris retry review
  core/connectors/runtime/example_config/connectors/doris_sink.toml
  core/connectors/sinks/doris_sink/README.md
  core/connectors/sinks/doris_sink/config.toml
  core/connectors/sinks/doris_sink/src/lib.rs
Due: rust

feat(connectors): add opt-in CSV output format to Doris sink
  core/connectors/runtime/example_config/connectors/doris_sink.toml
  core/connectors/sinks/doris_sink/README.md
  core/connectors/sinks/doris_sink/config.toml
  core/connectors/sinks/doris_sink/src/lib.rs
  core/integration/tests/connectors/doris/doris_sink.rs
  core/integration/tests/connectors/doris/doris_stream_load_format_bench.rs
  core/integration/tests/connectors/doris/mod.rs
  core/integration/tests/connectors/fixtures/doris/container.rs
  core/integration/tests/connectors/fixtures/doris/mod.rs
  core/integration/tests/connectors/fixtures/mod.rs
Due: rust

Fix cpp test
  foreign/cpp/tests/client/low_level_e2e.cpp
Due: none

add documentation for the two new image types
  .github/workflows/edge-release.yml
  core/connectors/README.md
  core/connectors/runtime/README.md
Due: rust

further fixes
  Cargo.lock
  core/configs/src/lib.rs
  core/configs/src/server_ng_config/defaults.rs
  core/configs/src/server_ng_config/displays.rs
  core/configs/src/server_ng_config/metadata.rs
  core/configs/src/server_ng_config/mod.rs
  core/configs/src/server_ng_config/server_ng.rs
  core/configs/src/server_ng_config/validators.rs
  core/consensus/src/impls.rs
  core/journal/Cargo.toml
  core/journal/src/prepare_journal.rs
  core/metadata/Cargo.toml
  core/metadata/src/impls/metadata.rs
  core/metadata/src/impls/recovery.rs
  core/server-ng/config.toml
  core/server-ng/src/bootstrap.rs
Due: rust

fix clippy
  core/metadata/src/impls/metadata.rs
Due: rust

fix(connectors): validate postgres CDC plugin_config at startup
  .gitignore
  core/connectors/sources/postgres_source/src/lib.rs
  core/integration/tests/connectors/postgres/cdc_restart_connectors/config.toml
  core/integration/tests/connectors/postgres/postgres_source_cdc.rs
  core/integration/tests/connectors/postgres/source_cdc_restart.toml
Due: rust

fix(connectors): populate old_data from CDC old-key section
  core/connectors/sources/postgres_source/src/lib.rs
Due: rust

update python version sync script
  scripts/ci/sync-python-interpreter-version.sh
Due: none

fix(connectors): address meilisearch sink review
  core/connectors/sinks/meilisearch_sink/Cargo.toml
  core/connectors/sinks/meilisearch_sink/README.md
  core/connectors/sinks/meilisearch_sink/config.toml
  core/connectors/sinks/meilisearch_sink/src/lib.rs
  core/integration/tests/connectors/fixtures/meilisearch/sink.rs
Due: rust

fix(sdk): rejoin consumer group after membership loss under vsr
  Cargo.lock
  core/common/src/consumer_group_client_state.rs
  core/common/src/traits/binary_impls/messages.rs
  core/common/src/traits/message_client.rs
  core/integration/Cargo.toml
  core/integration/src/harness/handle/connectors_runtime.rs
  core/integration/src/harness/handle/mcp.rs
  core/integration/src/harness/handle/server.rs
  core/integration/src/harness/port_reserver.rs
  core/integration/src/harness/traits.rs
  core/integration/tests/cli/common/keyring.rs
  core/integration/tests/cli/common/mod.rs
  core/integration/tests/connectors/doris/doris_sink.rs
  core/integration/tests/sdk/consumer_group_membership.rs
  core/integration/tests/sdk/mod.rs
  core/message_bus/src/client_listener/quic.rs
  core/message_bus/src/socket_opts.rs
  justfile
Due: rust

Fix clients
  bdd/cpp/features/step_definitions/raw_command_steps.cpp
  bdd/go/tests/raw_command.go
  bdd/go/tests/suite_test.go
  bdd/java/src/test/java/org/apache/iggy/bdd/BasicMessagingSteps.java
  bdd/php/tests/RawCommandFeatureTest.php
  bdd/python/tests/test_raw_command.py
  foreign/cpp/src/client.rs
  foreign/cpp/src/lib.rs
  foreign/cpp/tests/client/low_level_e2e.cpp
  foreign/csharp/Iggy_SDK.Tests.BDD/StepDefinitions/RawCommandSteps.cs
  foreign/csharp/Iggy_SDK.Tests.Integration/RawCommandTests.cs
  foreign/csharp/Iggy_SDK/IggyClient/IIggyClient.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/HttpMessageStream.cs
  foreign/csharp/Iggy_SDK/IggyClient/Implementations/TcpMessageStream.cs
  foreign/go/client/tcp/tcp_core.go
  foreign/go/client/tcp/tcp_core_test.go
  foreign/go/contracts/client.go
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/async/tcp/AsyncIggyTcpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/IggyBaseClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/http/IggyHttpClient.java
  foreign/java/java-sdk/src/main/java/org/apache/iggy/client/blocking/tcp/IggyTcpClient.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/http/RawCommandHttpClientTest.java
  foreign/java/java-sdk/src/test/java/org/apache/iggy/client/blocking/tcp/RawCommandTcpClientTest.java
  foreign/node/src/bdd/raw.ts
  foreign/node/src/e2e/tcp.raw.e2e.ts
  foreign/node/src/wire/command-set.test.ts
  foreign/node/src/wire/command-set.ts
  foreign/php/README.md
  foreign/php/iggy-php.stubs.php
  foreign/php/src/client.rs
  foreign/php/tests/RawCommandTest.php
  foreign/python/apache_iggy.pyi
  foreign/python/src/client.rs
  foreign/python/tests/test_raw_command.py
Due: java

Fix php lint
  foreign/php/iggy-php.stubs.php
Due: none

some moar fixes
  core/consensus/src/impls.rs
  core/metadata/src/impls/metadata.rs
  core/server-ng/src/dispatch.rs
Due: rust

fix(python): widen timedelta-to-seconds conversion to i64
  foreign/python/src/consumer.rs
  foreign/python/src/topic.rs
  foreign/python/tests/test_topic.py
Due: none

update commetns
  core/metadata/src/impls/metadata.rs
  core/server-ng/src/dispatch.rs
Due: rust

perf(common): write message header directly into target buffer
  core/common/src/types/message/iggy_message.rs
  core/common/src/types/message/message_header.rs
Due: rust

perf(common): reserve the full message before appending fields
  core/common/src/types/message/iggy_message.rs
  core/common/src/types/message/message_header.rs
Due: rust

perf(common): decode user headers without copying the blob
  core/common/src/types/message/message_view.rs
  core/common/src/wire_conversions.rs
Due: rust

feat(connectors): add generic JDBC source connector
  .config/nextest.toml
  .github/workflows/_build_rust_artifacts.yml
  .github/workflows/edge-release.yml
  Cargo.lock
  Cargo.toml
  core/connectors/README.md
  core/connectors/runtime/example_config/connectors/jdbc_bulk_mode.toml
  core/connectors/runtime/example_config/connectors/jdbc_h2.toml
  core/connectors/runtime/example_config/connectors/jdbc_mysql.toml
  core/connectors/runtime/example_config/connectors/jdbc_oracle.toml
  core/connectors/runtime/example_config/connectors/jdbc_sqlserver.toml
  core/connectors/runtime/example_config/connectors/test_jdbc_h2.toml
  core/connectors/sources/README.md
  core/connectors/sources/jdbc_source/Cargo.toml
  core/connectors/sources/jdbc_source/README.md
  core/connectors/sources/jdbc_source/config.toml
  core/connectors/sources/jdbc_source/src/lib.rs
  core/integration/tests/connectors/jdbc/config_postgres.toml
  core/integration/tests/connectors/jdbc/connectors_config_postgres/jdbc_pg.toml
  core/integration/tests/connectors/jdbc/mod.rs
  core/integration/tests/connectors/jdbc/test_with_postgres.rs
  core/integration/tests/connectors/mod.rs
  core/server/src/tcp/tcp_listener.rs
Due: rust

fix(python): reject IggyExpiry sentinel-boundary durations
  foreign/python/src/topic.rs
  foreign/python/tests/test_topic.py
Due: none

feat(storage): add object_storage crate for tiered-storage backend
  .gitignore
  Cargo.lock
  Cargo.toml
  core/object_storage/Cargo.toml
  core/object_storage/src/in_memory.rs
  core/object_storage/src/lib.rs
  core/object_storage/src/testing.rs
Due: rust

test(cpp): poll for session removal instead of asserting once
  foreign/cpp/tests/client/low_level_e2e.cpp
Due: none

test(python): drop redundant byte-limit user tests
  foreign/python/tests/test_user.py
Due: none
